{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 = section.settings['replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443'] -%}
    {%- capture default_replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 -%}<p>Shop Best-Sellers for Energy, Glow &amp; Balance</p>{%- endcapture -%}
    {%- assign replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 = replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 | default: default_replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 -%}
    "replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443": {{ replo_text_ac7f6b93-2b95-42b0-885b-751b3dd4d443 | json }}, {%- assign replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa = section.settings['replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa'] | image_url -%}
    {%- capture default_replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/f7fbccd9-0a50-4dbc-b865-b701132cb7f1{%- endcapture -%}
    {%- assign replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa = replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa | default: default_replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa -%}
    "replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa": {{ replo_style_image_8f7223f4-956e-4ac8-bf6b-5f058c5c9aaa | json }}, {%- assign replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 = section.settings['replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43'] -%}
    {%- capture default_replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 -%}<p>Best Seller</p>{%- endcapture -%}
    {%- assign replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 = replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 | default: default_replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 -%}
    "replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43": {{ replo_text_4c9e1d4e-56cf-4eb6-b6ab-026c2260ca43 | json }}, {%- assign replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 = section.settings['replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196'] -%}
    {%- capture default_replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 -%}<p>Matcha Collagen</p>{%- endcapture -%}
    {%- assign replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 = replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 | default: default_replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 -%}
    "replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196": {{ replo_text_99200eef-c59a-44f3-8d9c-9c047fa7d196 | json }}, {%- assign replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d = section.settings['replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d'] -%}
    {%- capture default_replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d -%}<p>Your all-in-one latte for clean energy and glowing beauty. Available in smooth Chocolate, Vanilla or classic Original.</p>{%- endcapture -%}
    {%- assign replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d = replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d | default: default_replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d -%}
    "replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d": {{ replo_text_50224a6a-ad4d-4397-a108-1ed58e2c3f4d | json }}, {%- assign replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 = section.settings['replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086'] -%}
    {%- capture default_replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 -%}<p>Shop Now</p>{%- endcapture -%}
    {%- assign replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 = replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 | default: default_replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 -%}
    "replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086": {{ replo_text_814cf46f-1fdb-463f-bb79-71c0e3d09086 | json }}, {%- assign replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 = section.settings['replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273'] | image_url -%}
    {%- capture default_replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/0fd700b9-a437-4a93-a083-75b193a7014d{%- endcapture -%}
    {%- assign replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 = replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 | default: default_replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 -%}
    "replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273": {{ replo_style_image_93f0e584-b596-4a3d-bcb2-67f77a595273 | json }}, {%- assign replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f = section.settings['replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f'] -%}
    {%- capture default_replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f -%}<p>Build Your Matcha Bag Set</p>{%- endcapture -%}
    {%- assign replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f = replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f | default: default_replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f -%}
    "replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f": {{ replo_text_dbd9824c-c9f6-4901-b79a-bda8219b3f1f | json }}, {%- assign replo_text_28819125-c88e-4447-ad32-da108d4728d9 = section.settings['replo_text_28819125-c88e-4447-ad32-da108d4728d9'] -%}
    {%- capture default_replo_text_28819125-c88e-4447-ad32-da108d4728d9 -%}<p>Mix and match our healthy and delicious matcha blends.</p>{%- endcapture -%}
    {%- assign replo_text_28819125-c88e-4447-ad32-da108d4728d9 = replo_text_28819125-c88e-4447-ad32-da108d4728d9 | default: default_replo_text_28819125-c88e-4447-ad32-da108d4728d9 -%}
    "replo_text_28819125-c88e-4447-ad32-da108d4728d9": {{ replo_text_28819125-c88e-4447-ad32-da108d4728d9 | json }}, {%- assign replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 = section.settings['replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2'] -%}
    {%- capture default_replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 -%}<p>Shop Now</p>{%- endcapture -%}
    {%- assign replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 = replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 | default: default_replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 -%}
    "replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2": {{ replo_text_1b105c6d-9fa8-48c3-8061-ab936ac9ddd2 | json }}, {%- assign replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d = section.settings['replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d'] -%}
    {%- capture default_replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d -%}<p><span>Zesty ginger, bright lemongrass, and feel-good focus.</span></p>{%- endcapture -%}
    {%- assign replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d = replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d | default: default_replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d -%}
    "replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d": {{ replo_text_4b71a636-4f14-43ec-b619-7daf4aa0595d | json }}, {%- assign replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da = section.settings['replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da'] -%}
    {%- capture default_replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da -%}<p><span>Spiced chai meets matcha for cozy energy without the crash.</span></p>{%- endcapture -%}
    {%- assign replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da = replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da | default: default_replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da -%}
    "replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da": {{ replo_text_69c5d3bb-6406-4c11-86c7-04a9ac9dc7da | json }}, {%- assign replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 = section.settings['replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367'] -%}
    {%- capture default_replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 -%}/pages/shop-teangle{%- endcapture -%}
    {%- assign replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 = replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 | default: default_replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 -%}
    "replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367": {{ replo_url_dc1283f4-cb7a-4719-a28d-4b45bdf3b367 | json }}, {%- assign replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 = section.settings['replo_text_8b624b07-97b6-468a-9e93-3be82728ac63'] -%}
    {%- capture default_replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 -%}<p>Shop All</p>{%- endcapture -%}
    {%- assign replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 = replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 | default: default_replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 -%}
    "replo_text_8b624b07-97b6-468a-9e93-3be82728ac63": {{ replo_text_8b624b07-97b6-468a-9e93-3be82728ac63 | json }}, {%- assign replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 = section.settings['replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253'] | image_url -%}
    {%- capture default_replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/381e30ae-1c90-4857-811c-ca4b8785c850{%- endcapture -%}
    {%- assign replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 = replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 | default: default_replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 -%}
    "replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253": {{ replo_style_image_25f8a26f-54b7-4ea3-9605-d73b6e424253 | json }}, {%- assign replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 = section.settings['replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272'] | image_url -%}
    {%- capture default_replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/c889fe1d-7176-498d-9f96-df1e871b2655{%- endcapture -%}
    {%- assign replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 = replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 | default: default_replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 -%}
    "replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272": {{ replo_style_image_0129b0c0-8f2a-4e00-8476-41139bc93272 | json }}, {%- assign replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 = section.settings['replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718'] -%}
    {%- capture default_replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 -%}<p>VIP GIFT</p>{%- endcapture -%}
    {%- assign replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 = replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 | default: default_replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 -%}
    "replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718": {{ replo_text_6f74d08a-d5c7-44a4-a4be-aa655d3a9718 | json }}, {%- assign replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 = section.settings['replo_text_cba19843-aa38-44a7-8e18-731e377aecf2'] -%}
    {%- capture default_replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 -%}<p>FREE Teangle Milk Frother</p>{%- endcapture -%}
    {%- assign replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 = replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 | default: default_replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 -%}
    "replo_text_cba19843-aa38-44a7-8e18-731e377aecf2": {{ replo_text_cba19843-aa38-44a7-8e18-731e377aecf2 | json }}, {%- assign replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 = section.settings['replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240'] -%}
    {%- capture default_replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 -%}<p>*Automatically added to cart</p>{%- endcapture -%}
    {%- assign replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 = replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 | default: default_replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 -%}
    "replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240": {{ replo_text_cefd66a5-0206-48e6-991a-2bf4ba271240 | json }}, {%- assign replo_text_fca11323-df24-418d-a9a0-65405f2f5541 = section.settings['replo_text_fca11323-df24-418d-a9a0-65405f2f5541'] -%}
    {%- capture default_replo_text_fca11323-df24-418d-a9a0-65405f2f5541 -%}<p>Shop Now</p>{%- endcapture -%}
    {%- assign replo_text_fca11323-df24-418d-a9a0-65405f2f5541 = replo_text_fca11323-df24-418d-a9a0-65405f2f5541 | default: default_replo_text_fca11323-df24-418d-a9a0-65405f2f5541 -%}
    "replo_text_fca11323-df24-418d-a9a0-65405f2f5541": {{ replo_text_fca11323-df24-418d-a9a0-65405f2f5541 | json }}, {%- assign replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 = section.settings['replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2'] -%}
    {%- capture default_replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 -%}<p>Over 80,000 Five Star Reviews!</p>{%- endcapture -%}
    {%- assign replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 = replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 | default: default_replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 -%}
    "replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2": {{ replo_text_8c3611f0-8eb6-4c82-8d50-1f421b532ff2 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}