{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a = section.settings['replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a'] -%}
    {%- capture default_replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a -%}<p>Why Over 150,000 Canadians Have Replaced Coffee With Teangle’s Delicious Matcha Collagen</p>{%- endcapture -%}
    {%- assign replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a = replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a | default: default_replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a -%}
    "replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a": {{ replo_text_adc13c45-8229-495d-b3cd-c969ad8e109a | json }}, {%- assign replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 = section.settings['replo_text_7143f674-bfb4-4435-9062-0c3b84d36925'] -%}
    {%- capture default_replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 -%}<p>Smooth, Crash-Free Energy That Lasts for Hours</p>{%- endcapture -%}
    {%- assign replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 = replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 | default: default_replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 -%}
    "replo_text_7143f674-bfb4-4435-9062-0c3b84d36925": {{ replo_text_7143f674-bfb4-4435-9062-0c3b84d36925 | json }}, {%- assign replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 = section.settings['replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532'] -%}
    {%- capture default_replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 -%}<p>Say goodbye to jitters, anxiety, and that dreaded 2 PM crash. Teangle Matcha Collagen+ gives you smooth, long-lasting energy that keeps you feeling calm, focused, and balanced - without the rollercoaster of coffee or energy drinks.</p>{%- endcapture -%}
    {%- assign replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 = replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 | default: default_replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 -%}
    "replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532": {{ replo_text_da4fc2a5-1de3-4bfa-87d1-fbdf686b2532 | json }}, {%- assign replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 = section.settings['replo_style_image_08b17c60-b857-478b-9979-3f804b57f940'] | image_url -%}
    {%- capture default_replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/3a49a319-9cb9-40d1-9f5d-9ac0628205e1{%- endcapture -%}
    {%- assign replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 = replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 | default: default_replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 -%}
    "replo_style_image_08b17c60-b857-478b-9979-3f804b57f940": {{ replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 | json }}, {%- assign replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 = section.settings['replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08'] -%}
    {%- capture default_replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 -%}<p>Beauty Collagen for Glowing Skin, Hair &amp; Nails</p>{%- endcapture -%}
    {%- assign replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 = replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 | default: default_replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 -%}
    "replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08": {{ replo_text_79ce2bb7-7dac-4eb0-b205-04144363fa08 | json }}, {%- assign replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 = section.settings['replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024'] -%}
    {%- capture default_replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 -%}<p>Matcha’s great - but when you add 5g of pure marine collagen? You’re not just sipping for energy, you’re fueling smoother skin, stronger hair, and nails that don’t quit. One scoop a day = keeps the wrinkles and ageing away.</p>{%- endcapture -%}
    {%- assign replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 = replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 | default: default_replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 -%}
    "replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024": {{ replo_text_bbbc48d2-d49b-4df9-9e7c-f76d362b4024 | json }}, {%- assign replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e = section.settings['replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e'] -%}
    {%- capture default_replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e -%}<p>Easy to Make and Endless Ways to Enjoy</p>{%- endcapture -%}
    {%- assign replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e = replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e | default: default_replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e -%}
    "replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e": {{ replo_text_ea2fc6f8-1309-4751-85f6-b9d598c9040e | json }}, {%- assign replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc = section.settings['replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc'] -%}
    {%- capture default_replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc -%}<p>Hot water. Oat milk. In a smoothie. However you like it, Teangle blends smoothly, dissolves instantly, and fits your routine. Plus, you’ll get 101 Delicious Matcha Recipes, so you’ll never run out of tasty ideas.</p>{%- endcapture -%}
    {%- assign replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc = replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc | default: default_replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc -%}
    "replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc": {{ replo_text_7cc67197-846f-4f0e-9eae-18ac418582bc | json }}, {%- assign replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 = section.settings['replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374'] | image_url -%}
    {%- capture default_replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/36012d8c-ec87-4427-aa10-94c47c154ba9{%- endcapture -%}
    {%- assign replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 = replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 | default: default_replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 -%}
    "replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374": {{ replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 | json }}, {%- assign replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed = section.settings['replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed'] -%}
    {%- capture default_replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed -%}<p>Clean, Natural Ingredients You Can Feel Good About</p>{%- endcapture -%}
    {%- assign replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed = replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed | default: default_replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed -%}
    "replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed": {{ replo_text_0cb22297-5dc6-4b93-b1f9-94894afa1fed | json }}, {%- assign replo_text_3deb6093-9f2c-404a-bdff-c76249937baa = section.settings['replo_text_3deb6093-9f2c-404a-bdff-c76249937baa'] -%}
    {%- capture default_replo_text_3deb6093-9f2c-404a-bdff-c76249937baa -%}<p>Every scoop is made with real, organic ingredients - no sugar, no weird fillers, no junk. Just ceremonial-grade matcha, marine collagen, coconut milk powder, and gut-loving acacia gum. That’s it.</p>{%- endcapture -%}
    {%- assign replo_text_3deb6093-9f2c-404a-bdff-c76249937baa = replo_text_3deb6093-9f2c-404a-bdff-c76249937baa | default: default_replo_text_3deb6093-9f2c-404a-bdff-c76249937baa -%}
    "replo_text_3deb6093-9f2c-404a-bdff-c76249937baa": {{ replo_text_3deb6093-9f2c-404a-bdff-c76249937baa | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}