{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_f0cd998c-fade-41f3-a700-510c92626a73 = section.settings['replo_text_f0cd998c-fade-41f3-a700-510c92626a73'] -%}
    {%- capture default_replo_text_f0cd998c-fade-41f3-a700-510c92626a73 -%}<p>Shop Best-Sellers for Energy, Glow & Balance</p>{%- endcapture -%}
    {%- assign replo_text_f0cd998c-fade-41f3-a700-510c92626a73 = replo_text_f0cd998c-fade-41f3-a700-510c92626a73 | default: default_replo_text_f0cd998c-fade-41f3-a700-510c92626a73 -%}
    "replo_text_f0cd998c-fade-41f3-a700-510c92626a73": {{ replo_text_f0cd998c-fade-41f3-a700-510c92626a73 | json }}, {%- assign replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 = section.settings['replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4'] -%}
    {%- capture default_replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 -%}<p>Your all-in-one latte for clean energy and glowing beauty. Available in smooth Vanilla or classic Original.</p>{%- endcapture -%}
    {%- assign replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 = replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 | default: default_replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 -%}
    "replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4": {{ replo_text_24c9d2a4-a825-4dc3-91b0-89a48c9574f4 | json }}, {%- assign replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 = section.settings['replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2'] -%}
    {%- capture default_replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 -%}<p>Skip the jitters, keep the focus. Pure Japanese ceremonial matcha for clean, all-day energy.</p>{%- endcapture -%}
    {%- assign replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 = replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 | default: default_replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 -%}
    "replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2": {{ replo_text_93a63e36-22d2-40e7-a499-fb8e36d3baa2 | json }}, {%- assign replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd = section.settings['replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd'] -%}
    {%- capture default_replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd -%}<p><span>Zesty ginger, bright lemongrass, and feel-good focus.</span></p>{%- endcapture -%}
    {%- assign replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd = replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd | default: default_replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd -%}
    "replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd": {{ replo_text_09e976a1-3160-4006-a633-bfcb23abb6fd | json }}, {%- assign replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c = section.settings['replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c'] -%}
    {%- capture default_replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c -%}<p><span>Spiced chai meets matcha for cozy energy without the crash.</span></p>{%- endcapture -%}
    {%- assign replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c = replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c | default: default_replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c -%}
    "replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c": {{ replo_text_c7f0a17d-54a4-48e1-af73-8e7b299f3a8c | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}