{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 = section.settings['replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930'] -%}
    {%- capture default_replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 -%}<p>Delicious &amp; Healthy Teangle Recipes</p>{%- endcapture -%}
    {%- assign replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 = replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 | default: default_replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 -%}
    "replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930": {{ replo_text_ed1babde-fa5f-4f54-9eb3-8b230a0da930 | json }}, {%- assign replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 = section.settings['replo_url_ceb49585-b42a-49c1-a329-03a1776324d2'] -%}
    {%- capture default_replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 -%}https://teangle.ca/blogs/recipes/iced-chai-matcha-collagen-latte{%- endcapture -%}
    {%- assign replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 = replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 | default: default_replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 -%}
    "replo_url_ceb49585-b42a-49c1-a329-03a1776324d2": {{ replo_url_ceb49585-b42a-49c1-a329-03a1776324d2 | json }}, {%- assign replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c = section.settings['replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c'] | image_url -%}
    {%- capture default_replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c -%}https://teangle.ca/cdn/shop/articles/Capture_d_ecran_le_2021-06-08_a_07.23.18_1000x.png?v=1623152085{%- endcapture -%}
    {%- assign replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c = replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c | default: default_replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c -%}
    "replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c": {{ replo_style_image_e3fde22a-0f64-4e4f-ba9e-9f437a87220c | json }}, {%- assign replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb = section.settings['replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb'] -%}
    {%- capture default_replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb -%}<p>Iced Chai Matcha Collagen Latte</p>{%- endcapture -%}
    {%- assign replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb = replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb | default: default_replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb -%}
    "replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb": {{ replo_text_8e3a9cd7-bd9e-4c10-ab68-1e6c4fb5c5bb | json }}, {%- assign replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 = section.settings['replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579'] -%}
    {%- capture default_replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 -%}https://teangle.ca/blogs/recipes/iced-chai-matcha-collagen-latte{%- endcapture -%}
    {%- assign replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 = replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 | default: default_replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 -%}
    "replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579": {{ replo_url_349bbb57-b67b-4e6c-9c2c-88df2c519579 | json }}, {%- assign replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d = section.settings['replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d'] -%}
    {%- capture default_replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d -%}<p>VIEW RECIPE</p>{%- endcapture -%}
    {%- assign replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d = replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d | default: default_replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d -%}
    "replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d": {{ replo_text_31343a15-a6c8-4387-8fdb-d34737cc293d | json }}, {%- assign replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 = section.settings['replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60'] -%}
    {%- capture default_replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 -%}https://teangle.ca/blogs/recipes/matcha-mojito{%- endcapture -%}
    {%- assign replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 = replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 | default: default_replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 -%}
    "replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60": {{ replo_url_44bf30d6-e532-42aa-a134-11cae3db9d60 | json }}, {%- assign replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f = section.settings['replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f'] | image_url -%}
    {%- capture default_replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f -%}https://teangle.ca/cdn/shop/articles/Capture_d_ecran_le_2021-08-16_a_07.47.17_1000x.png?v=1629114560{%- endcapture -%}
    {%- assign replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f = replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f | default: default_replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f -%}
    "replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f": {{ replo_style_image_efbd75ee-51a6-4727-b151-0c5bf7b7870f | json }}, {%- assign replo_text_dff8b507-2057-4860-a30d-5a84f7638803 = section.settings['replo_text_dff8b507-2057-4860-a30d-5a84f7638803'] -%}
    {%- capture default_replo_text_dff8b507-2057-4860-a30d-5a84f7638803 -%}<p>Matcha Mojito</p>{%- endcapture -%}
    {%- assign replo_text_dff8b507-2057-4860-a30d-5a84f7638803 = replo_text_dff8b507-2057-4860-a30d-5a84f7638803 | default: default_replo_text_dff8b507-2057-4860-a30d-5a84f7638803 -%}
    "replo_text_dff8b507-2057-4860-a30d-5a84f7638803": {{ replo_text_dff8b507-2057-4860-a30d-5a84f7638803 | json }}, {%- assign replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 = section.settings['replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412'] -%}
    {%- capture default_replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 -%}https://teangle.ca/blogs/recipes/matcha-mojito{%- endcapture -%}
    {%- assign replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 = replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 | default: default_replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 -%}
    "replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412": {{ replo_url_d56b80cd-76ef-4336-b4a0-bd4025def412 | json }}, {%- assign replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 = section.settings['replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1'] -%}
    {%- capture default_replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 -%}https://teangle.ca/blogs/recipes/matcha-immunity-juice{%- endcapture -%}
    {%- assign replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 = replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 | default: default_replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 -%}
    "replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1": {{ replo_url_0721f092-ebc0-4050-ba6d-435cb2aff1a1 | json }}, {%- assign replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 = section.settings['replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696'] | image_url -%}
    {%- capture default_replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 -%}https://teangle.ca/cdn/shop/articles/Image_d_iOS_1_1000x.jpg?v=1641826115{%- endcapture -%}
    {%- assign replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 = replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 | default: default_replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 -%}
    "replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696": {{ replo_style_image_e3eb112a-67cd-4fab-9c92-12c1f42c0696 | json }}, {%- assign replo_text_590cfb4d-e896-4fbd-a114-462acebe765c = section.settings['replo_text_590cfb4d-e896-4fbd-a114-462acebe765c'] -%}
    {%- capture default_replo_text_590cfb4d-e896-4fbd-a114-462acebe765c -%}<p>Matcha Collagen Latte</p>{%- endcapture -%}
    {%- assign replo_text_590cfb4d-e896-4fbd-a114-462acebe765c = replo_text_590cfb4d-e896-4fbd-a114-462acebe765c | default: default_replo_text_590cfb4d-e896-4fbd-a114-462acebe765c -%}
    "replo_text_590cfb4d-e896-4fbd-a114-462acebe765c": {{ replo_text_590cfb4d-e896-4fbd-a114-462acebe765c | json }}, {%- assign replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 = section.settings['replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41'] -%}
    {%- capture default_replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 -%}https://teangle.ca/blogs/recipes/matcha-immunity-juice{%- endcapture -%}
    {%- assign replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 = replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 | default: default_replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 -%}
    "replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41": {{ replo_url_47ec452f-4cd8-4764-b5ab-f737243c5b41 | json }}, {%- assign replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 = section.settings['replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3'] -%}
    {%- capture default_replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 -%}https://teangle.ca/blogs/recipes/matcha-cinnamon-rolls{%- endcapture -%}
    {%- assign replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 = replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 | default: default_replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 -%}
    "replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3": {{ replo_url_f4b81cbe-8fa6-4404-815c-4c0c000fb3a3 | json }}, {%- assign replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa = section.settings['replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa'] | image_url -%}
    {%- capture default_replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa -%}https://teangle.ca/cdn/shop/articles/Matcha_Cinnamon_Rolls11_1000x.jpg?v=1639495943{%- endcapture -%}
    {%- assign replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa = replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa | default: default_replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa -%}
    "replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa": {{ replo_style_image_d2308bef-905a-4a0b-8871-e07d642c88fa | json }}, {%- assign replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 = section.settings['replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990'] -%}
    {%- capture default_replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 -%}<p>Matcha Cinnamon Rolls</p>{%- endcapture -%}
    {%- assign replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 = replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 | default: default_replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 -%}
    "replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990": {{ replo_text_754a77c0-6f8b-4221-a4fc-d4e519110990 | json }}, {%- assign replo_url_67854c26-d068-4820-9307-cd55391bf2af = section.settings['replo_url_67854c26-d068-4820-9307-cd55391bf2af'] -%}
    {%- capture default_replo_url_67854c26-d068-4820-9307-cd55391bf2af -%}https://teangle.ca/blogs/recipes/matcha-cinnamon-rolls{%- endcapture -%}
    {%- assign replo_url_67854c26-d068-4820-9307-cd55391bf2af = replo_url_67854c26-d068-4820-9307-cd55391bf2af | default: default_replo_url_67854c26-d068-4820-9307-cd55391bf2af -%}
    "replo_url_67854c26-d068-4820-9307-cd55391bf2af": {{ replo_url_67854c26-d068-4820-9307-cd55391bf2af | json }}, {%- assign replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 = section.settings['replo_text_b9e471af-1db2-4ee1-9bee-0de666935655'] -%}
    {%- capture default_replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 -%}<p>View All Recipes</p>{%- endcapture -%}
    {%- assign replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 = replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 | default: default_replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 -%}
    "replo_text_b9e471af-1db2-4ee1-9bee-0de666935655": {{ replo_text_b9e471af-1db2-4ee1-9bee-0de666935655 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}