{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 = section.settings['replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4'] -%}
    {%- capture default_replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 = replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 | default: default_replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 -%}
    "replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4": {{ replo_text_49174873-08bc-4d39-aa44-cfbcc3a28ae4 | json }}, {%- assign replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa = section.settings['replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa'] -%}
    {%- capture default_replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa = replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa | default: default_replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa -%}
    "replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa": {{ replo_text_eaf99f59-f830-49a4-a819-6241e37a0efa | json }}, {%- assign replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 = section.settings['replo_text_227f43d8-aa51-48cd-a907-d263260f31c4'] -%}
    {%- capture default_replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 = replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 | default: default_replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 -%}
    "replo_text_227f43d8-aa51-48cd-a907-d263260f31c4": {{ replo_text_227f43d8-aa51-48cd-a907-d263260f31c4 | json }}, {%- assign replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba = section.settings['replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba'] -%}
    {%- capture default_replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba = replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba | default: default_replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba -%}
    "replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba": {{ replo_text_0ba49a5e-0d02-4d41-ac03-2f90ea76c2ba | json }}, {%- assign replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 = section.settings['replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4'] -%}
    {%- capture default_replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 -%}<p>Ingredients &amp; Quality</p>{%- endcapture -%}
    {%- assign replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 = replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 | default: default_replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 -%}
    "replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4": {{ replo_text_b3d1e84e-c1dc-4b05-af0a-c1562a40e3d4 | json }}, {%- assign replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 = section.settings['replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71'] -%}
    {%- capture default_replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 -%}<p>Delicious coconut and vanilla flavours</p>{%- endcapture -%}
    {%- assign replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 = replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 | default: default_replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 -%}
    "replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71": {{ replo_text_852b0eda-c78a-45e4-b154-7e2263ff4b71 | json }}, {%- assign replo_text_b513046d-7183-4695-a571-ea78ef66055b = section.settings['replo_text_b513046d-7183-4695-a571-ea78ef66055b'] -%}
    {%- capture default_replo_text_b513046d-7183-4695-a571-ea78ef66055b -%}<p>Choose Your Flavor</p>{%- endcapture -%}
    {%- assign replo_text_b513046d-7183-4695-a571-ea78ef66055b = replo_text_b513046d-7183-4695-a571-ea78ef66055b | default: default_replo_text_b513046d-7183-4695-a571-ea78ef66055b -%}
    "replo_text_b513046d-7183-4695-a571-ea78ef66055b": {{ replo_text_b513046d-7183-4695-a571-ea78ef66055b | json }}, {%- assign replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db = section.settings['replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db'] | image_url -%}
    {%- capture default_replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db = replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db | default: default_replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db -%}
    "replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db": {{ replo_style_image_31131eaa-6cf4-4a0d-b374-734d5f98c8db | json }}, {%- assign replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 = section.settings['replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2'] | image_url -%}
    {%- capture default_replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 = replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 | default: default_replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 -%}
    "replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2": {{ replo_style_image_bd6b3a3f-69f7-40f6-80df-33a7546e56a2 | json }}, {%- assign replo_text_2d938897-deb2-430b-b546-491f70f1858f = section.settings['replo_text_2d938897-deb2-430b-b546-491f70f1858f'] -%}
    {%- capture default_replo_text_2d938897-deb2-430b-b546-491f70f1858f -%}<p>Choose Your Plan</p>{%- endcapture -%}
    {%- assign replo_text_2d938897-deb2-430b-b546-491f70f1858f = replo_text_2d938897-deb2-430b-b546-491f70f1858f | default: default_replo_text_2d938897-deb2-430b-b546-491f70f1858f -%}
    "replo_text_2d938897-deb2-430b-b546-491f70f1858f": {{ replo_text_2d938897-deb2-430b-b546-491f70f1858f | json }}, {%- assign replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 = section.settings['replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5'] -%}
    {%- capture default_replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 -%}<p>One-time purchase</p>{%- endcapture -%}
    {%- assign replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 = replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 | default: default_replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 -%}
    "replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5": {{ replo_text_6d35d4a0-0907-42bd-a91f-bfbf120d21a5 | json }}, {%- assign replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 = section.settings['replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9'] -%}
    {%- capture default_replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 -%}<p>Servings:</p>{%- endcapture -%}
    {%- assign replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 = replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 | default: default_replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 -%}
    "replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9": {{ replo_text_ceae1a0d-5e5d-4c6a-a179-789ea74ac3d9 | json }}, {%- assign replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 = section.settings['replo_text_23c17764-35d0-473d-9a27-18437ffc7af8'] -%}
    {%- capture default_replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 = replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 | default: default_replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 -%}
    "replo_text_23c17764-35d0-473d-9a27-18437ffc7af8": {{ replo_text_23c17764-35d0-473d-9a27-18437ffc7af8 | json }}, {%- assign replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 = section.settings['replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54'] -%}
    {%- capture default_replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 -%}<p>1 Tub</p>{%- endcapture -%}
    {%- assign replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 = replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 | default: default_replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 -%}
    "replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54": {{ replo_text_7771e967-7819-4b9d-8e44-fe61afe54c54 | json }}, {%- assign replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 = section.settings['replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918'] -%}
    {%- capture default_replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 = replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 | default: default_replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 -%}
    "replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918": {{ replo_text_1096259d-f8d8-43cd-bd76-d4bf236f0918 | json }}, {%- assign replo_text_bcd13415-9ede-476b-8448-260908cf2e7e = section.settings['replo_text_bcd13415-9ede-476b-8448-260908cf2e7e'] -%}
    {%- capture default_replo_text_bcd13415-9ede-476b-8448-260908cf2e7e -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_bcd13415-9ede-476b-8448-260908cf2e7e = replo_text_bcd13415-9ede-476b-8448-260908cf2e7e | default: default_replo_text_bcd13415-9ede-476b-8448-260908cf2e7e -%}
    "replo_text_bcd13415-9ede-476b-8448-260908cf2e7e": {{ replo_text_bcd13415-9ede-476b-8448-260908cf2e7e | json }}, {%- assign replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc = section.settings['replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc'] -%}
    {%- capture default_replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc -%}<p>2 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc = replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc | default: default_replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc -%}
    "replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc": {{ replo_text_5fc00216-0d10-435c-8de8-c1fb40cc85fc | json }}, {%- assign replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 = section.settings['replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6'] -%}
    {%- capture default_replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 -%}<p>SAVE $13.60</p>{%- endcapture -%}
    {%- assign replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 = replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 | default: default_replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 -%}
    "replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6": {{ replo_text_a2f05e50-3387-4354-bf32-b7cde38634c6 | json }}, {%- assign replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 = section.settings['replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669'] -%}
    {%- capture default_replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 = replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 | default: default_replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 -%}
    "replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669": {{ replo_text_7f934e30-d8dc-401c-bbbf-69dba526b669 | json }}, {%- assign replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 = section.settings['replo_text_d18741e2-ef08-4862-9672-a198cb9c2364'] -%}
    {%- capture default_replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 -%}<p>Purchase Type:</p>{%- endcapture -%}
    {%- assign replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 = replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 | default: default_replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 -%}
    "replo_text_d18741e2-ef08-4862-9672-a198cb9c2364": {{ replo_text_d18741e2-ef08-4862-9672-a198cb9c2364 | json }}, {%- assign replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 = section.settings['replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865'] -%}
    {%- capture default_replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 -%}<p>Subscribe &amp;</p>{%- endcapture -%}
    {%- assign replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 = replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 | default: default_replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 -%}
    "replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865": {{ replo_text_c5019bbf-b5d4-4ddf-addd-bb257fed7865 | json }}, {%- assign replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 = section.settings['replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2'] -%}
    {%- capture default_replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 -%}<p>SAVE UP TO</p>{%- endcapture -%}
    {%- assign replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 = replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 | default: default_replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 -%}
    "replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2": {{ replo_text_87ef8a7a-d722-441b-8b11-7630a92bd6b2 | json }}, {%- assign replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 = section.settings['replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1'] -%}
    {%- capture default_replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 -%}<p>20%</p>{%- endcapture -%}
    {%- assign replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 = replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 | default: default_replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 -%}
    "replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1": {{ replo_text_b37f8ba8-26e3-4ad8-8025-796f460f7be1 | json }}, {%- assign replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 = section.settings['replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0'] -%}
    {%- capture default_replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 -%}<p>One-time purchase</p>{%- endcapture -%}
    {%- assign replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 = replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 | default: default_replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 -%}
    "replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0": {{ replo_text_691fb143-8aec-4b7a-9ea5-99d228dd6dd0 | json }}, {%- assign replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 = section.settings['replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778'] -%}
    {%- capture default_replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 -%}<p>Servings:</p>{%- endcapture -%}
    {%- assign replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 = replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 | default: default_replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 -%}
    "replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778": {{ replo_text_1a01186a-20b1-47e6-a5c6-68f91f16a778 | json }}, {%- assign replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 = section.settings['replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8'] -%}
    {%- capture default_replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 = replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 | default: default_replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 -%}
    "replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8": {{ replo_text_bc02ad7e-1db5-4876-b0d8-272384100fa8 | json }}, {%- assign replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 = section.settings['replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2'] -%}
    {%- capture default_replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 -%}<p>1 Tub</p>{%- endcapture -%}
    {%- assign replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 = replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 | default: default_replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 -%}
    "replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2": {{ replo_text_f7d3d9d9-4238-41ec-95ee-80535fd024b2 | json }}, {%- assign replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 = section.settings['replo_text_860ecb8c-1704-463d-b687-595d4defbdb0'] -%}
    {%- capture default_replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 = replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 | default: default_replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 -%}
    "replo_text_860ecb8c-1704-463d-b687-595d4defbdb0": {{ replo_text_860ecb8c-1704-463d-b687-595d4defbdb0 | json }}, {%- assign replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b = section.settings['replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b'] -%}
    {%- capture default_replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b = replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b | default: default_replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b -%}
    "replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b": {{ replo_text_b671e85f-42f6-4d46-bc87-8b3874cd7d8b | json }}, {%- assign replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 = section.settings['replo_text_12fc9828-d52b-4c99-aaef-456fc5986162'] -%}
    {%- capture default_replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 = replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 | default: default_replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 -%}
    "replo_text_12fc9828-d52b-4c99-aaef-456fc5986162": {{ replo_text_12fc9828-d52b-4c99-aaef-456fc5986162 | json }}, {%- assign replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 = section.settings['replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4'] -%}
    {%- capture default_replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 = replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 | default: default_replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 -%}
    "replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4": {{ replo_text_f219d5ac-2bdb-425f-abec-e35d28b031b4 | json }}, {%- assign replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f = section.settings['replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f'] -%}
    {%- capture default_replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f = replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f | default: default_replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f -%}
    "replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f": {{ replo_text_63934a4c-b9d7-4b75-924b-7bfaa66b0c2f | json }}, {%- assign replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 = section.settings['replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58'] -%}
    {%- capture default_replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 = replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 | default: default_replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 -%}
    "replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58": {{ replo_text_85c7e9b7-25d7-4648-ad4f-d0b70b3e9f58 | json }}, {%- assign replo_text_604871f6-c651-45c5-a362-7e3709fefb00 = section.settings['replo_text_604871f6-c651-45c5-a362-7e3709fefb00'] -%}
    {%- capture default_replo_text_604871f6-c651-45c5-a362-7e3709fefb00 -%}<p>2 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_604871f6-c651-45c5-a362-7e3709fefb00 = replo_text_604871f6-c651-45c5-a362-7e3709fefb00 | default: default_replo_text_604871f6-c651-45c5-a362-7e3709fefb00 -%}
    "replo_text_604871f6-c651-45c5-a362-7e3709fefb00": {{ replo_text_604871f6-c651-45c5-a362-7e3709fefb00 | json }}, {%- assign replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 = section.settings['replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26'] -%}
    {%- capture default_replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 = replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 | default: default_replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 -%}
    "replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26": {{ replo_text_d7776db1-be5d-47a8-bb3c-ae8501ba0e26 | json }}, {%- assign replo_text_d1e982ff-e884-4231-adc7-98824482da91 = section.settings['replo_text_d1e982ff-e884-4231-adc7-98824482da91'] -%}
    {%- capture default_replo_text_d1e982ff-e884-4231-adc7-98824482da91 -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_d1e982ff-e884-4231-adc7-98824482da91 = replo_text_d1e982ff-e884-4231-adc7-98824482da91 | default: default_replo_text_d1e982ff-e884-4231-adc7-98824482da91 -%}
    "replo_text_d1e982ff-e884-4231-adc7-98824482da91": {{ replo_text_d1e982ff-e884-4231-adc7-98824482da91 | json }}, {%- assign replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 = section.settings['replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7'] -%}
    {%- capture default_replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 -%}<p>$13.60</p>{%- endcapture -%}
    {%- assign replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 = replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 | default: default_replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 -%}
    "replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7": {{ replo_text_e2069b3d-dc56-4b24-a8ef-9b22d2de1ca7 | json }}, {%- assign replo_text_992d3308-e14f-40e5-a767-a408f9504e1a = section.settings['replo_text_992d3308-e14f-40e5-a767-a408f9504e1a'] -%}
    {%- capture default_replo_text_992d3308-e14f-40e5-a767-a408f9504e1a -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_992d3308-e14f-40e5-a767-a408f9504e1a = replo_text_992d3308-e14f-40e5-a767-a408f9504e1a | default: default_replo_text_992d3308-e14f-40e5-a767-a408f9504e1a -%}
    "replo_text_992d3308-e14f-40e5-a767-a408f9504e1a": {{ replo_text_992d3308-e14f-40e5-a767-a408f9504e1a | json }}, {%- assign replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 = section.settings['replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53'] -%}
    {%- capture default_replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 = replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 | default: default_replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 -%}
    "replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53": {{ replo_text_cb8af2c4-fc9f-47dd-b03b-03eb56c17e53 | json }}, {%- assign replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 = section.settings['replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788'] -%}
    {%- capture default_replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 = replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 | default: default_replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 -%}
    "replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788": {{ replo_text_2e2ab311-c579-471e-8e1f-2cdaf8118788 | json }}, {%- assign replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d = section.settings['replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d'] -%}
    {%- capture default_replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d = replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d | default: default_replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d -%}
    "replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d": {{ replo_text_1381c99d-5182-47af-a7c5-752ab7fed12d | json }}, {%- assign replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a = section.settings['replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a'] -%}
    {%- capture default_replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a -%}<p>3 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a = replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a | default: default_replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a -%}
    "replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a": {{ replo_text_25aa5643-7baa-4e40-b247-d10cc66f095a | json }}, {%- assign replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 = section.settings['replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0'] -%}
    {%- capture default_replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 = replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 | default: default_replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 -%}
    "replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0": {{ replo_text_ec4df2e8-6da6-41c6-8b40-393291a48bc0 | json }}, {%- assign replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 = section.settings['replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355'] -%}
    {%- capture default_replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 = replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 | default: default_replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 -%}
    "replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355": {{ replo_text_44f8ec2c-6dca-42f4-80a6-ba243ee96355 | json }}, {%- assign replo_text_62439b27-e216-4f33-96c0-83056d6ec799 = section.settings['replo_text_62439b27-e216-4f33-96c0-83056d6ec799'] -%}
    {%- capture default_replo_text_62439b27-e216-4f33-96c0-83056d6ec799 -%}<p>$30.60</p>{%- endcapture -%}
    {%- assign replo_text_62439b27-e216-4f33-96c0-83056d6ec799 = replo_text_62439b27-e216-4f33-96c0-83056d6ec799 | default: default_replo_text_62439b27-e216-4f33-96c0-83056d6ec799 -%}
    "replo_text_62439b27-e216-4f33-96c0-83056d6ec799": {{ replo_text_62439b27-e216-4f33-96c0-83056d6ec799 | json }}, {%- assign replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae = section.settings['replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae'] -%}
    {%- capture default_replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae = replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae | default: default_replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae -%}
    "replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae": {{ replo_text_6aa21582-35be-483a-846f-ac2c641ab9ae | json }}, {%- assign replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 = section.settings['replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09'] -%}
    {%- capture default_replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 = replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 | default: default_replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 -%}
    "replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09": {{ replo_text_4df009fe-fdcb-45e1-a279-397b7c506f09 | json }}, {%- assign replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 = section.settings['replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1'] | image_url -%}
    {%- capture default_replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 = replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 | default: default_replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 -%}
    "replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1": {{ replo_style_image_9d5c9d52-f7c1-42c4-b638-73d7d75e1df1 | json }}, {%- assign replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 = section.settings['replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5'] | image_url -%}
    {%- capture default_replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 = replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 | default: default_replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 -%}
    "replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5": {{ replo_style_image_6340d9fe-03e5-4adb-8de8-9afe06fde2b5 | json }}, {%- assign replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 = section.settings['replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5'] -%}
    {%- capture default_replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 = replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 | default: default_replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 -%}
    "replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5": {{ replo_text_0d2a5289-588e-4ffd-a5c0-5662188bfef5 | json }}, {%- assign replo_text_368fe453-c732-4a2e-9433-1b578976a608 = section.settings['replo_text_368fe453-c732-4a2e-9433-1b578976a608'] -%}
    {%- capture default_replo_text_368fe453-c732-4a2e-9433-1b578976a608 -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_368fe453-c732-4a2e-9433-1b578976a608 = replo_text_368fe453-c732-4a2e-9433-1b578976a608 | default: default_replo_text_368fe453-c732-4a2e-9433-1b578976a608 -%}
    "replo_text_368fe453-c732-4a2e-9433-1b578976a608": {{ replo_text_368fe453-c732-4a2e-9433-1b578976a608 | json }}, {%- assign replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce = section.settings['replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce'] | image_url -%}
    {%- capture default_replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce = replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce | default: default_replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce -%}
    "replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce": {{ replo_style_image_6ee24409-d4e4-4e5c-a281-a61a6d7e1dce | json }}, {%- assign replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 = section.settings['replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01'] | image_url -%}
    {%- capture default_replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 = replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 | default: default_replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 -%}
    "replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01": {{ replo_style_image_d199ecc4-c06f-4b30-a530-4bcdd1d31d01 | json }}, {%- assign replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d = section.settings['replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d'] -%}
    {%- capture default_replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d = replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d | default: default_replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d -%}
    "replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d": {{ replo_text_0dbb907b-9753-4bc4-94a8-1d74d5051f7d | json }}, {%- assign replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 = section.settings['replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5'] | image_url -%}
    {%- capture default_replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 = replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 | default: default_replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 -%}
    "replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5": {{ replo_style_image_dc13ed5b-1bf5-476f-a773-7767a2086bb5 | json }}, {%- assign replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa = section.settings['replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa'] -%}
    {%- capture default_replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa -%}<p>101 Delicious Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa = replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa | default: default_replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa -%}
    "replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa": {{ replo_text_5fb27a68-ff06-487b-a780-cba1cc9584fa | json }}, {%- assign replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 = section.settings['replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20'] -%}
    {%- capture default_replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 = replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 | default: default_replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 -%}
    "replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20": {{ replo_text_168f0d66-7fbf-4b43-b5cb-5c5c3102ef20 | json }}, {%- assign replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 = section.settings['replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9'] | image_url -%}
    {%- capture default_replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 = replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 | default: default_replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 -%}
    "replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9": {{ replo_style_image_c3afa0bb-a6e6-4617-8071-c949c5dd2fd9 | json }}, {%- assign replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 = section.settings['replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961'] -%}
    {%- capture default_replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 = replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 | default: default_replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 -%}
    "replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961": {{ replo_text_a5d7fa45-2bc3-4dab-b416-7dde307c7961 | json }}, {%- assign replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d = section.settings['replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d'] | image_url -%}
    {%- capture default_replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d = replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d | default: default_replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d -%}
    "replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d": {{ replo_style_image_5c8aa426-65f1-45ad-bd52-9d090975a16d | json }}, {%- assign replo_text_371338bd-1efe-4e04-99df-05d03bf3438f = section.settings['replo_text_371338bd-1efe-4e04-99df-05d03bf3438f'] -%}
    {%- capture default_replo_text_371338bd-1efe-4e04-99df-05d03bf3438f -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_371338bd-1efe-4e04-99df-05d03bf3438f = replo_text_371338bd-1efe-4e04-99df-05d03bf3438f | default: default_replo_text_371338bd-1efe-4e04-99df-05d03bf3438f -%}
    "replo_text_371338bd-1efe-4e04-99df-05d03bf3438f": {{ replo_text_371338bd-1efe-4e04-99df-05d03bf3438f | json }}, {%- assign replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 = section.settings['replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85'] -%}
    {%- capture default_replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 = replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 | default: default_replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 -%}
    "replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85": {{ replo_text_7d20a662-b5c0-4681-960b-fbdcd2d64e85 | json }}, {%- assign replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 = section.settings['replo_text_d100fc30-99da-4573-be6b-a684fcbd5607'] -%}
    {%- capture default_replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 = replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 | default: default_replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 -%}
    "replo_text_d100fc30-99da-4573-be6b-a684fcbd5607": {{ replo_text_d100fc30-99da-4573-be6b-a684fcbd5607 | json }}, {%- assign replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 = section.settings['replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6'] -%}
    {%- capture default_replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 = replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 | default: default_replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 -%}
    "replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6": {{ replo_text_d372f23c-3bb4-4e12-86e9-f83885c3ddc6 | json }}, {%- assign replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 = section.settings['replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9'] -%}
    {%- capture default_replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 -%}<p><span>Ingredients &amp; Quality</span></p>{%- endcapture -%}
    {%- assign replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 = replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 | default: default_replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 -%}
    "replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9": {{ replo_text_06d9c7fb-c705-4461-9c2e-f0db318975d9 | json }}, {%- assign replo_text_79efbd85-bd69-459a-91fd-f91254987a4a = section.settings['replo_text_79efbd85-bd69-459a-91fd-f91254987a4a'] -%}
    {%- capture default_replo_text_79efbd85-bd69-459a-91fd-f91254987a4a -%}<p><span>Hear What Canadians Say About Teangle 🇨🇦</span></p>{%- endcapture -%}
    {%- assign replo_text_79efbd85-bd69-459a-91fd-f91254987a4a = replo_text_79efbd85-bd69-459a-91fd-f91254987a4a | default: default_replo_text_79efbd85-bd69-459a-91fd-f91254987a4a -%}
    "replo_text_79efbd85-bd69-459a-91fd-f91254987a4a": {{ replo_text_79efbd85-bd69-459a-91fd-f91254987a4a | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}