{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 = section.settings['replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9'] -%}
    {%- capture default_replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 -%}<p>Pure Marine Collagen</p>{%- endcapture -%}
    {%- assign replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 = replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 | default: default_replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 -%}
    "replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9": {{ replo_text_e8e28339-19b2-4a60-9de0-9b2f44a777d9 | json }}, {%- assign replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 = section.settings['replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546'] | image_url -%}
    {%- capture default_replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 = replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 | default: default_replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 -%}
    "replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546": {{ replo_style_image_5deb470a-eade-4eab-8d52-c39b70f57546 | json }}, {%- assign replo_text_702645a7-33d7-45f5-9921-e1b901cec08a = section.settings['replo_text_702645a7-33d7-45f5-9921-e1b901cec08a'] -%}
    {%- capture default_replo_text_702645a7-33d7-45f5-9921-e1b901cec08a -%}<p>Organic Ingredients</p>{%- endcapture -%}
    {%- assign replo_text_702645a7-33d7-45f5-9921-e1b901cec08a = replo_text_702645a7-33d7-45f5-9921-e1b901cec08a | default: default_replo_text_702645a7-33d7-45f5-9921-e1b901cec08a -%}
    "replo_text_702645a7-33d7-45f5-9921-e1b901cec08a": {{ replo_text_702645a7-33d7-45f5-9921-e1b901cec08a | json }}, {%- assign replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 = section.settings['replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196'] | image_url -%}
    {%- capture default_replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 = replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 | default: default_replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 -%}
    "replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196": {{ replo_style_image_7bb67a3c-b25c-493a-af64-dd7baf737196 | json }}, {%- assign replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d = section.settings['replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d'] -%}
    {%- capture default_replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d -%}<p>High-Quality Matcha</p>{%- endcapture -%}
    {%- assign replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d = replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d | default: default_replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d -%}
    "replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d": {{ replo_text_72badb8a-526c-4a93-b33e-95c4f4b0194d | json }}, {%- assign replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d = section.settings['replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d'] | image_url -%}
    {%- capture default_replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d = replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d | default: default_replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d -%}
    "replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d": {{ replo_style_image_cfd610e0-4007-4c99-8dbc-3312d96d8a6d | json }}, {%- assign replo_text_6125058a-49cf-4a99-8943-e4826904481b = section.settings['replo_text_6125058a-49cf-4a99-8943-e4826904481b'] -%}
    {%- capture default_replo_text_6125058a-49cf-4a99-8943-e4826904481b -%}<p>Naturally Low-Calorie</p>{%- endcapture -%}
    {%- assign replo_text_6125058a-49cf-4a99-8943-e4826904481b = replo_text_6125058a-49cf-4a99-8943-e4826904481b | default: default_replo_text_6125058a-49cf-4a99-8943-e4826904481b -%}
    "replo_text_6125058a-49cf-4a99-8943-e4826904481b": {{ replo_text_6125058a-49cf-4a99-8943-e4826904481b | json }}, {%- assign replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d = section.settings['replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d'] | image_url -%}
    {%- capture default_replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d = replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d | default: default_replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d -%}
    "replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d": {{ replo_style_image_a05bbc3b-c0d2-4ddd-8b48-b3dba6583a1d | json }}, {%- assign replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 = section.settings['replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87'] -%}
    {%- capture default_replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 -%}<p>Sugar-Free &amp; Additive-Free</p>{%- endcapture -%}
    {%- assign replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 = replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 | default: default_replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 -%}
    "replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87": {{ replo_text_867925dd-b1d2-4b35-ade7-ce6749baca87 | json }}, {%- assign replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 = section.settings['replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1'] | image_url -%}
    {%- capture default_replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 = replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 | default: default_replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 -%}
    "replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1": {{ replo_style_image_9b19fa19-81b6-4d91-9f6e-2b207c2da0d1 | json }}, {%- assign replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a = section.settings['replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a'] -%}
    {%- capture default_replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a -%}<p>Made in Canada</p>{%- endcapture -%}
    {%- assign replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a = replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a | default: default_replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a -%}
    "replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a": {{ replo_text_324fe599-adc1-4df3-8987-8fde7a1e5e9a | json }}, {%- assign replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 = section.settings['replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0'] | image_url -%}
    {%- capture default_replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 = replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 | default: default_replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 -%}
    "replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0": {{ replo_style_image_0befddd4-8865-40c5-8551-ca5bcad136d0 | json }}, {%- assign replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 = section.settings['replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942'] -%}
    {%- capture default_replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 -%}<p>Loved for the Taste</p>{%- endcapture -%}
    {%- assign replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 = replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 | default: default_replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 -%}
    "replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942": {{ replo_text_876a297a-6df3-47a8-9ee0-408c81d8d942 | json }}, {%- assign replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 = section.settings['replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639'] | image_url -%}
    {%- capture default_replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 = replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 | default: default_replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 -%}
    "replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639": {{ replo_style_image_c6867ef7-6b3f-4d6d-9e43-81b8937aa639 | json }}, {%- assign replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c = section.settings['replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c'] -%}
    {%- capture default_replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c -%}<p>Teangle Isn’t Just Better - It’s Built Different</p>{%- endcapture -%}
    {%- assign replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c = replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c | default: default_replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c -%}
    "replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c": {{ replo_text_4cbd56dd-2e8f-4ca5-85a9-034258ee7c5c | json }}, {%- assign replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f = section.settings['replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f'] -%}
    {%- capture default_replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f -%}<p>When it comes to ingredients, taste, and trust, Teangle stands out. We kept the good stuff (like organic matcha and marine collagen) and ditched the junk. Just check the chart, the difference is clear.</p>{%- endcapture -%}
    {%- assign replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f = replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f | default: default_replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f -%}
    "replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f": {{ replo_text_0b18eb12-5ea3-441c-a67f-9f3ff9a9cf3f | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}