{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d = section.settings['replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d'] -%}
    {%- capture default_replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d -%}<p>Are you certified by a third party? ✅</p>{%- endcapture -%}
    {%- assign replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d = replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d | default: default_replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d -%}
    "replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d": {{ replo_text_7f71c5d3-f584-4f3c-98d3-7c3f82a2c11d | json }}, {%- assign replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b = section.settings['replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b'] -%}
    {%- capture default_replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b -%}<p>What does it taste like ? 🐥</p>{%- endcapture -%}
    {%- assign replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b = replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b | default: default_replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b -%}
    "replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b": {{ replo_text_6e65a3e6-c74f-46b0-b7c2-7cdbb164961b | json }}, {%- assign replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf = section.settings['replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf'] -%}
    {%- capture default_replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf -%}<p>Best time to drink it? ⏰</p>{%- endcapture -%}
    {%- assign replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf = replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf | default: default_replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf -%}
    "replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf": {{ replo_text_bdb30b74-b526-4d13-a883-534e6347dcbf | json }}, {%- assign replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 = section.settings['replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6'] -%}
    {%- capture default_replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 -%}<p>Do I have to get a subscription? 🧐</p>{%- endcapture -%}
    {%- assign replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 = replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 | default: default_replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 -%}
    "replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6": {{ replo_text_0ac97647-eb0b-4d78-acbf-c775861287e6 | json }}, {%- assign replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c = section.settings['replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c'] -%}
    {%- capture default_replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c -%}<p>How much caffeine? 🍵</p>{%- endcapture -%}
    {%- assign replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c = replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c | default: default_replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c -%}
    "replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c": {{ replo_text_6e8c76cf-f9c2-4e95-ba96-7375f7d1be3c | json }}, {%- assign replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 = section.settings['replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1'] -%}
    {%- capture default_replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 -%}<p>Do you have samples? 👀</p>{%- endcapture -%}
    {%- assign replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 = replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 | default: default_replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 -%}
    "replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1": {{ replo_text_2dcc8f37-0e79-4c6e-8f0b-8fb218afe4a1 | json }}, {%- assign replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 = section.settings['replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16'] -%}
    {%- capture default_replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 -%}<p>Question</p>{%- endcapture -%}
    {%- assign replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 = replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 | default: default_replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 -%}
    "replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16": {{ replo_text_3bcbc3f6-a447-4ed3-aedd-a4e95a8dcb16 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}