{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d = section.settings['replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d'] -%}
    {%- capture default_replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d -%}<p>"J'ai convaincu tous mes amis de passer du café au matcha collagène Teangle.”</p>{%- endcapture -%}
    {%- assign replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d = replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d | default: default_replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d -%}
    "replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d": {{ replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d | json }}, {%- assign replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e = section.settings['replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e'] -%}
    {%- capture default_replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e -%}<p>Emily K. Cliente vérifiée</p>{%- endcapture -%}
    {%- assign replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e = replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e | default: default_replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e -%}
    "replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e": {{ replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e | json }}, {%- assign replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c = section.settings['replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c'] -%}
    {%- capture default_replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c -%}<p></p>{%- endcapture -%}
    {%- assign replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c = replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c | default: default_replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c -%}
    "replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c": {{ replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c | json }}, {%- assign replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 = section.settings['replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0'] -%}
    {%- capture default_replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 -%}<p>Choisissez une Saveur:</p>{%- endcapture -%}
    {%- assign replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 = replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 | default: default_replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 -%}
    "replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0": {{ replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 | json }}, {%- assign replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 = section.settings['replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6'] | image_url -%}
    {%- capture default_replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 = replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 | default: default_replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 -%}
    "replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6": {{ replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 | json }}, {%- assign replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 = section.settings['replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9'] | image_url -%}
    {%- capture default_replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 = replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 | default: default_replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 -%}
    "replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9": {{ replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 | json }}, {%- assign replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 = section.settings['replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785'] -%}
    {%- capture default_replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 -%}<p>Type d'achattt</p>{%- endcapture -%}
    {%- assign replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 = replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 | default: default_replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 -%}
    "replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785": {{ replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 | json }}, {%- assign replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde = section.settings['replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde'] -%}
    {%- capture default_replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde -%}<p>Abonnez-vous &amp;</p>{%- endcapture -%}
    {%- assign replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde = replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde | default: default_replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde -%}
    "replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde": {{ replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde | json }}, {%- assign replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb = section.settings['replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb'] -%}
    {%- capture default_replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb -%}<p>ÉCONOMISEZ</p>{%- endcapture -%}
    {%- assign replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb = replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb | default: default_replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb -%}
    "replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb": {{ replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb | json }}, {%- assign replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 = section.settings['replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009'] -%}
    {%- capture default_replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 -%}<p>Achat unique</p>{%- endcapture -%}
    {%- assign replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 = replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 | default: default_replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 -%}
    "replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009": {{ replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 | json }}, {%- assign replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 = section.settings['replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717'] -%}
    {%- capture default_replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 -%}<p>Portions:</p>{%- endcapture -%}
    {%- assign replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 = replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 | default: default_replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 -%}
    "replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717": {{ replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 | json }}, {%- assign replo_text_aca153ba-8f33-4964-839c-92fe38c6853d = section.settings['replo_text_aca153ba-8f33-4964-839c-92fe38c6853d'] -%}
    {%- capture default_replo_text_aca153ba-8f33-4964-839c-92fe38c6853d -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_aca153ba-8f33-4964-839c-92fe38c6853d = replo_text_aca153ba-8f33-4964-839c-92fe38c6853d | default: default_replo_text_aca153ba-8f33-4964-839c-92fe38c6853d -%}
    "replo_text_aca153ba-8f33-4964-839c-92fe38c6853d": {{ replo_text_aca153ba-8f33-4964-839c-92fe38c6853d | json }}, {%- assign replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a = section.settings['replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a'] -%}
    {%- capture default_replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a -%}<p>1 Pot</p>{%- endcapture -%}
    {%- assign replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a = replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a | default: default_replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a -%}
    "replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a": {{ replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a | json }}, {%- assign replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 = section.settings['replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9'] -%}
    {%- capture default_replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 = replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 | default: default_replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 -%}
    "replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9": {{ replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 | json }}, {%- assign replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb = section.settings['replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb'] -%}
    {%- capture default_replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb = replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb | default: default_replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb -%}
    "replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb": {{ replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb | json }}, {%- assign replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 = section.settings['replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9'] -%}
    {%- capture default_replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 = replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 | default: default_replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 -%}
    "replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9": {{ replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 | json }}, {%- assign replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a = section.settings['replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a'] -%}
    {%- capture default_replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a = replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a | default: default_replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a -%}
    "replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a": {{ replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a | json }}, {%- assign replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 = section.settings['replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1'] -%}
    {%- capture default_replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 = replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 | default: default_replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 -%}
    "replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1": {{ replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 | json }}, {%- assign replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 = section.settings['replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069'] -%}
    {%- capture default_replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 = replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 | default: default_replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 -%}
    "replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069": {{ replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 | json }}, {%- assign replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 = section.settings['replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1'] -%}
    {%- capture default_replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 -%}<p>2 Pots</p>{%- endcapture -%}
    {%- assign replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 = replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 | default: default_replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 -%}
    "replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1": {{ replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 | json }}, {%- assign replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 = section.settings['replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4'] -%}
    {%- capture default_replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 = replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 | default: default_replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 -%}
    "replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4": {{ replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 | json }}, {%- assign replo_text_fb735560-0001-4f94-8955-d14c55169dbf = section.settings['replo_text_fb735560-0001-4f94-8955-d14c55169dbf'] -%}
    {%- capture default_replo_text_fb735560-0001-4f94-8955-d14c55169dbf -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_fb735560-0001-4f94-8955-d14c55169dbf = replo_text_fb735560-0001-4f94-8955-d14c55169dbf | default: default_replo_text_fb735560-0001-4f94-8955-d14c55169dbf -%}
    "replo_text_fb735560-0001-4f94-8955-d14c55169dbf": {{ replo_text_fb735560-0001-4f94-8955-d14c55169dbf | json }}, {%- assign replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 = section.settings['replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601'] -%}
    {%- capture default_replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 -%}<p>$13.60</p>{%- endcapture -%}
    {%- assign replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 = replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 | default: default_replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 -%}
    "replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601": {{ replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 | json }}, {%- assign replo_text_022729fc-0383-436c-afc0-50a612aa5f1d = section.settings['replo_text_022729fc-0383-436c-afc0-50a612aa5f1d'] -%}
    {%- capture default_replo_text_022729fc-0383-436c-afc0-50a612aa5f1d -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_022729fc-0383-436c-afc0-50a612aa5f1d = replo_text_022729fc-0383-436c-afc0-50a612aa5f1d | default: default_replo_text_022729fc-0383-436c-afc0-50a612aa5f1d -%}
    "replo_text_022729fc-0383-436c-afc0-50a612aa5f1d": {{ replo_text_022729fc-0383-436c-afc0-50a612aa5f1d | json }}, {%- assign replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 = section.settings['replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15'] -%}
    {%- capture default_replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 = replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 | default: default_replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 -%}
    "replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15": {{ replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 | json }}, {%- assign replo_text_6cfeb836-230f-439d-b363-fa735264966a = section.settings['replo_text_6cfeb836-230f-439d-b363-fa735264966a'] -%}
    {%- capture default_replo_text_6cfeb836-230f-439d-b363-fa735264966a -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_6cfeb836-230f-439d-b363-fa735264966a = replo_text_6cfeb836-230f-439d-b363-fa735264966a | default: default_replo_text_6cfeb836-230f-439d-b363-fa735264966a -%}
    "replo_text_6cfeb836-230f-439d-b363-fa735264966a": {{ replo_text_6cfeb836-230f-439d-b363-fa735264966a | json }}, {%- assign replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 = section.settings['replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302'] -%}
    {%- capture default_replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 -%}<p>Meilleure offre</p>{%- endcapture -%}
    {%- assign replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 = replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 | default: default_replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 -%}
    "replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302": {{ replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 | json }}, {%- assign replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 = section.settings['replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5'] -%}
    {%- capture default_replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 = replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 | default: default_replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 -%}
    "replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5": {{ replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 | json }}, {%- assign replo_text_e8162941-5451-4388-83ca-2594d5df8962 = section.settings['replo_text_e8162941-5451-4388-83ca-2594d5df8962'] -%}
    {%- capture default_replo_text_e8162941-5451-4388-83ca-2594d5df8962 -%}<p>3 Pots</p>{%- endcapture -%}
    {%- assign replo_text_e8162941-5451-4388-83ca-2594d5df8962 = replo_text_e8162941-5451-4388-83ca-2594d5df8962 | default: default_replo_text_e8162941-5451-4388-83ca-2594d5df8962 -%}
    "replo_text_e8162941-5451-4388-83ca-2594d5df8962": {{ replo_text_e8162941-5451-4388-83ca-2594d5df8962 | json }}, {%- assign replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 = section.settings['replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949'] -%}
    {%- capture default_replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 = replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 | default: default_replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 -%}
    "replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949": {{ replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 | json }}, {%- assign replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 = section.settings['replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25'] -%}
    {%- capture default_replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 = replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 | default: default_replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 -%}
    "replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25": {{ replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 | json }}, {%- assign replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 = section.settings['replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531'] -%}
    {%- capture default_replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 -%}<p>$30.60</p>{%- endcapture -%}
    {%- assign replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 = replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 | default: default_replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 -%}
    "replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531": {{ replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 | json }}, {%- assign replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 = section.settings['replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7'] -%}
    {%- capture default_replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 = replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 | default: default_replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 -%}
    "replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7": {{ replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 | json }}, {%- assign replo_text_7961eb3f-1914-40b3-9785-379713c03b0b = section.settings['replo_text_7961eb3f-1914-40b3-9785-379713c03b0b'] -%}
    {%- capture default_replo_text_7961eb3f-1914-40b3-9785-379713c03b0b -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_7961eb3f-1914-40b3-9785-379713c03b0b = replo_text_7961eb3f-1914-40b3-9785-379713c03b0b | default: default_replo_text_7961eb3f-1914-40b3-9785-379713c03b0b -%}
    "replo_text_7961eb3f-1914-40b3-9785-379713c03b0b": {{ replo_text_7961eb3f-1914-40b3-9785-379713c03b0b | json }}, {%- assign replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 = section.settings['replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649'] | image_url -%}
    {%- capture default_replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 = replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 | default: default_replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 -%}
    "replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649": {{ replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 | json }}, {%- assign replo_text_d34ebc66-df7d-41f5-a686-455403105498 = section.settings['replo_text_d34ebc66-df7d-41f5-a686-455403105498'] -%}
    {%- capture default_replo_text_d34ebc66-df7d-41f5-a686-455403105498 -%}<p>CADEAU OFFERT</p>{%- endcapture -%}
    {%- assign replo_text_d34ebc66-df7d-41f5-a686-455403105498 = replo_text_d34ebc66-df7d-41f5-a686-455403105498 | default: default_replo_text_d34ebc66-df7d-41f5-a686-455403105498 -%}
    "replo_text_d34ebc66-df7d-41f5-a686-455403105498": {{ replo_text_d34ebc66-df7d-41f5-a686-455403105498 | json }}, {%- assign replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 = section.settings['replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726'] -%}
    {%- capture default_replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 -%}<p>101 Recettes Saines &amp; Délicieuses au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 = replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 | default: default_replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 -%}
    "replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726": {{ replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 | json }}, {%- assign replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 = section.settings['replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73'] -%}
    {%- capture default_replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 -%}<p>Des lattés aux gâteaux, biscuits, smoothies et plus encore.</p>{%- endcapture -%}
    {%- assign replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 = replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 | default: default_replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 -%}
    "replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73": {{ replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 | json }}, {%- assign replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 = section.settings['replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1'] | image_url -%}
    {%- capture default_replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 = replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 | default: default_replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 -%}
    "replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1": {{ replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 | json }}, {%- assign replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 = section.settings['replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55'] -%}
    {%- capture default_replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 -%}<p>101 délicieuses recettes au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 = replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 | default: default_replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 -%}
    "replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55": {{ replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 | json }}, {%- assign replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 = section.settings['replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838'] -%}
    {%- capture default_replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 -%}<p>60 portions</p>{%- endcapture -%}
    {%- assign replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 = replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 | default: default_replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 -%}
    "replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838": {{ replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 | json }}, {%- assign replo_text_c117338e-4722-4d84-8996-6b584c5578dc = section.settings['replo_text_c117338e-4722-4d84-8996-6b584c5578dc'] -%}
    {%- capture default_replo_text_c117338e-4722-4d84-8996-6b584c5578dc -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_c117338e-4722-4d84-8996-6b584c5578dc = replo_text_c117338e-4722-4d84-8996-6b584c5578dc | default: default_replo_text_c117338e-4722-4d84-8996-6b584c5578dc -%}
    "replo_text_c117338e-4722-4d84-8996-6b584c5578dc": {{ replo_text_c117338e-4722-4d84-8996-6b584c5578dc | json }}, {%- assign replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 = section.settings['replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5'] -%}
    {%- capture default_replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 -%}<p>90 portions</p>{%- endcapture -%}
    {%- assign replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 = replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 | default: default_replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 -%}
    "replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5": {{ replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 | json }}, {%- assign replo_text_9fbda609-426d-42d7-a9ac-87100e992385 = section.settings['replo_text_9fbda609-426d-42d7-a9ac-87100e992385'] -%}
    {%- capture default_replo_text_9fbda609-426d-42d7-a9ac-87100e992385 -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9fbda609-426d-42d7-a9ac-87100e992385 = replo_text_9fbda609-426d-42d7-a9ac-87100e992385 | default: default_replo_text_9fbda609-426d-42d7-a9ac-87100e992385 -%}
    "replo_text_9fbda609-426d-42d7-a9ac-87100e992385": {{ replo_text_9fbda609-426d-42d7-a9ac-87100e992385 | json }}, {%- assign replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 = section.settings['replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935'] | image_url -%}
    {%- capture default_replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 = replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 | default: default_replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 -%}
    "replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935": {{ replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 | json }}, {%- assign replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 = section.settings['replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3'] | image_url -%}
    {%- capture default_replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 = replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 | default: default_replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 -%}
    "replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3": {{ replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 | json }}, {%- assign replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 = section.settings['replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6'] -%}
    {%- capture default_replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 = replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 | default: default_replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 -%}
    "replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6": {{ replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 | json }}, {%- assign replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 = section.settings['replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269'] -%}
    {%- capture default_replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 -%}<p>90 portions</p>{%- endcapture -%}
    {%- assign replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 = replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 | default: default_replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 -%}
    "replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269": {{ replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 | json }}, {%- assign replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 = section.settings['replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1'] -%}
    {%- capture default_replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 = replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 | default: default_replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 -%}
    "replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1": {{ replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 | json }}, {%- assign replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c = section.settings['replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c'] | image_url -%}
    {%- capture default_replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c = replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c | default: default_replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c -%}
    "replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c": {{ replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c | json }}, {%- assign replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 = section.settings['replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672'] -%}
    {%- capture default_replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 -%}<p>101 délicieuses recettes au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 = replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 | default: default_replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 -%}
    "replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672": {{ replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 | json }}, {%- assign replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 = section.settings['replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778'] | image_url -%}
    {%- capture default_replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 = replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 | default: default_replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 -%}
    "replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778": {{ replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 | json }}, {%- assign replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 = section.settings['replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45'] -%}
    {%- capture default_replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 = replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 | default: default_replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 -%}
    "replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45": {{ replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 | json }}, {%- assign replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 = section.settings['replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958'] | image_url -%}
    {%- capture default_replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 = replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 | default: default_replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 -%}
    "replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958": {{ replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 | json }}, {%- assign replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b = section.settings['replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b'] -%}
    {%- capture default_replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b = replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b | default: default_replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b -%}
    "replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b": {{ replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b | json }}, {%- assign replo_text_9480095f-1638-451e-a507-adfcb23c4819 = section.settings['replo_text_9480095f-1638-451e-a507-adfcb23c4819'] -%}
    {%- capture default_replo_text_9480095f-1638-451e-a507-adfcb23c4819 -%}<p>AJOUTER AU PANIER</p>{%- endcapture -%}
    {%- assign replo_text_9480095f-1638-451e-a507-adfcb23c4819 = replo_text_9480095f-1638-451e-a507-adfcb23c4819 | default: default_replo_text_9480095f-1638-451e-a507-adfcb23c4819 -%}
    "replo_text_9480095f-1638-451e-a507-adfcb23c4819": {{ replo_text_9480095f-1638-451e-a507-adfcb23c4819 | json }}, {%- assign replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 = section.settings['replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83'] -%}
    {%- capture default_replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 -%}<p>"J'ai convaincu tous mes amis de passer du café au matcha collagène Teangle.”</p>{%- endcapture -%}
    {%- assign replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 = replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 | default: default_replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 -%}
    "replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83": {{ replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 | json }}, {%- assign replo_text_35eab227-14d0-482f-9014-867126fa5a63 = section.settings['replo_text_35eab227-14d0-482f-9014-867126fa5a63'] -%}
    {%- capture default_replo_text_35eab227-14d0-482f-9014-867126fa5a63 -%}<p>Pourquoi vous allez l'adorer</p>{%- endcapture -%}
    {%- assign replo_text_35eab227-14d0-482f-9014-867126fa5a63 = replo_text_35eab227-14d0-482f-9014-867126fa5a63 | default: default_replo_text_35eab227-14d0-482f-9014-867126fa5a63 -%}
    "replo_text_35eab227-14d0-482f-9014-867126fa5a63": {{ replo_text_35eab227-14d0-482f-9014-867126fa5a63 | json }}, {%- assign replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 = section.settings['replo_text_b2588c47-2199-480e-811c-50d5a3b08be3'] -%}
    {%- capture default_replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 -%}<p>Goût &amp; Sensation</p>{%- endcapture -%}
    {%- assign replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 = replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 | default: default_replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 -%}
    "replo_text_b2588c47-2199-480e-811c-50d5a3b08be3": {{ replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 | json }}, {%- assign replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 = section.settings['replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298'] -%}
    {%- capture default_replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 -%}<p>Comment En Profiter</p>{%- endcapture -%}
    {%- assign replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 = replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 | default: default_replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 -%}
    "replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298": {{ replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 | json }}, {%- assign replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 = section.settings['replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9'] -%}
    {%- capture default_replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 -%}<p>Est-Ce Pour Vous?</p>{%- endcapture -%}
    {%- assign replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 = replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 | default: default_replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 -%}
    "replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9": {{ replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 | json }}, {%- assign replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 = section.settings['replo_text_ec56ebf7-b46e-4366-b252-1571766e1484'] -%}
    {%- capture default_replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 -%}<p>Ingrédients &amp; Qualité</p>{%- endcapture -%}
    {%- assign replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 = replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 | default: default_replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 -%}
    "replo_text_ec56ebf7-b46e-4366-b252-1571766e1484": {{ replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}