{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_d607686f-381f-4c55-ada3-3bf11173d246 = section.settings['replo_text_d607686f-381f-4c55-ada3-3bf11173d246'] -%}
    {%- capture default_replo_text_d607686f-381f-4c55-ada3-3bf11173d246 -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_d607686f-381f-4c55-ada3-3bf11173d246 = replo_text_d607686f-381f-4c55-ada3-3bf11173d246 | default: default_replo_text_d607686f-381f-4c55-ada3-3bf11173d246 -%}
    "replo_text_d607686f-381f-4c55-ada3-3bf11173d246": {{ replo_text_d607686f-381f-4c55-ada3-3bf11173d246 | json }}, {%- assign replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f = section.settings['replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f'] -%}
    {%- capture default_replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f = replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f | default: default_replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f -%}
    "replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f": {{ replo_text_11ad847d-2087-449b-b48f-82c6a4f20e4f | json }}, {%- assign replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 = section.settings['replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452'] -%}
    {%- capture default_replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 = replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 | default: default_replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 -%}
    "replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452": {{ replo_text_cf7bfff2-a31e-4b44-9a39-88bdb8f47452 | json }}, {%- assign replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 = section.settings['replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7'] -%}
    {%- capture default_replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 = replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 | default: default_replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 -%}
    "replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7": {{ replo_text_12e89045-49b0-40c6-a45c-faa5f3d7cba7 | json }}, {%- assign replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 = section.settings['replo_text_bf0fff86-ca4a-48b1-a083-db971321d155'] -%}
    {%- capture default_replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 -%}<p><span>Ingredients &amp; Quality</span></p>{%- endcapture -%}
    {%- assign replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 = replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 | default: default_replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 -%}
    "replo_text_bf0fff86-ca4a-48b1-a083-db971321d155": {{ replo_text_bf0fff86-ca4a-48b1-a083-db971321d155 | json }}, {%- assign replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 = section.settings['replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1'] -%}
    {%- capture default_replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 -%}<p>Matcha Energy  Meets Beauty Collagen</p>{%- endcapture -%}
    {%- assign replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 = replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 | default: default_replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 -%}
    "replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1": {{ replo_text_3260c342-8c80-4dfa-bbba-32eb02900ce1 | json }}, {%- assign replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 = section.settings['replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0'] -%}
    {%- capture default_replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 -%}<p>Delicious coconut and vanilla flavours</p>{%- endcapture -%}
    {%- assign replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 = replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 | default: default_replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 -%}
    "replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0": {{ replo_text_5e5c7462-aae1-429e-b804-ba36c7406fa0 | json }}, {%- assign replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff = section.settings['replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff'] -%}
    {%- capture default_replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff -%}<p>Choose Your Flavor</p>{%- endcapture -%}
    {%- assign replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff = replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff | default: default_replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff -%}
    "replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff": {{ replo_text_a2bd43bb-e53b-407c-940b-8e76a550b1ff | json }}, {%- assign replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 = section.settings['replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15'] | image_url -%}
    {%- capture default_replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 = replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 | default: default_replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 -%}
    "replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15": {{ replo_style_image_0bc0aa22-1f1a-455c-88a5-341e2aafbf15 | json }}, {%- assign replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 = section.settings['replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728'] | image_url -%}
    {%- capture default_replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 = replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 | default: default_replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 -%}
    "replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728": {{ replo_style_image_e9368eea-5c89-473d-b6b5-afa0d93f2728 | json }}, {%- assign replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 = section.settings['replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440'] -%}
    {%- capture default_replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 -%}<p>Choose Your Plan</p>{%- endcapture -%}
    {%- assign replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 = replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 | default: default_replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 -%}
    "replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440": {{ replo_text_8ace8963-2d90-49fd-9a52-1336a1b9e440 | json }}, {%- assign replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 = section.settings['replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9'] -%}
    {%- capture default_replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 -%}<p>Purchase Type:</p>{%- endcapture -%}
    {%- assign replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 = replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 | default: default_replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 -%}
    "replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9": {{ replo_text_953f694a-f81d-48b7-8f6d-cc4c0d4434e9 | json }}, {%- assign replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded = section.settings['replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded'] -%}
    {%- capture default_replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded -%}<p>Subscribe &amp;</p>{%- endcapture -%}
    {%- assign replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded = replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded | default: default_replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded -%}
    "replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded": {{ replo_text_f7cccbb7-da83-4c0f-a526-e2d235bfdded | json }}, {%- assign replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 = section.settings['replo_text_ba161cbf-146f-4f72-b257-048a1af3a787'] -%}
    {%- capture default_replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 -%}<p>SAVE UP TO</p>{%- endcapture -%}
    {%- assign replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 = replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 | default: default_replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 -%}
    "replo_text_ba161cbf-146f-4f72-b257-048a1af3a787": {{ replo_text_ba161cbf-146f-4f72-b257-048a1af3a787 | json }}, {%- assign replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 = section.settings['replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6'] -%}
    {%- capture default_replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 -%}<p>20%</p>{%- endcapture -%}
    {%- assign replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 = replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 | default: default_replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 -%}
    "replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6": {{ replo_text_580b4bc3-7df1-4950-a000-13d3ab47f8c6 | json }}, {%- assign replo_text_640481c0-3229-4b21-a067-0dbb817eca01 = section.settings['replo_text_640481c0-3229-4b21-a067-0dbb817eca01'] -%}
    {%- capture default_replo_text_640481c0-3229-4b21-a067-0dbb817eca01 -%}<p>One-time purchase</p>{%- endcapture -%}
    {%- assign replo_text_640481c0-3229-4b21-a067-0dbb817eca01 = replo_text_640481c0-3229-4b21-a067-0dbb817eca01 | default: default_replo_text_640481c0-3229-4b21-a067-0dbb817eca01 -%}
    "replo_text_640481c0-3229-4b21-a067-0dbb817eca01": {{ replo_text_640481c0-3229-4b21-a067-0dbb817eca01 | json }}, {%- assign replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a = section.settings['replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a'] -%}
    {%- capture default_replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a -%}<p>Servings:</p>{%- endcapture -%}
    {%- assign replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a = replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a | default: default_replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a -%}
    "replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a": {{ replo_text_31fad969-38b5-405f-b854-0f9d4cd6778a | json }}, {%- assign replo_text_e40e76fc-8308-40c5-b730-9fb905851278 = section.settings['replo_text_e40e76fc-8308-40c5-b730-9fb905851278'] -%}
    {%- capture default_replo_text_e40e76fc-8308-40c5-b730-9fb905851278 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_e40e76fc-8308-40c5-b730-9fb905851278 = replo_text_e40e76fc-8308-40c5-b730-9fb905851278 | default: default_replo_text_e40e76fc-8308-40c5-b730-9fb905851278 -%}
    "replo_text_e40e76fc-8308-40c5-b730-9fb905851278": {{ replo_text_e40e76fc-8308-40c5-b730-9fb905851278 | json }}, {%- assign replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e = section.settings['replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e'] -%}
    {%- capture default_replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e -%}<p>1 Tub</p>{%- endcapture -%}
    {%- assign replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e = replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e | default: default_replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e -%}
    "replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e": {{ replo_text_6faf899d-056c-4957-a369-b2a9c70ff97e | json }}, {%- assign replo_text_e52920fd-dc16-4154-af71-74184310d8ff = section.settings['replo_text_e52920fd-dc16-4154-af71-74184310d8ff'] -%}
    {%- capture default_replo_text_e52920fd-dc16-4154-af71-74184310d8ff -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_e52920fd-dc16-4154-af71-74184310d8ff = replo_text_e52920fd-dc16-4154-af71-74184310d8ff | default: default_replo_text_e52920fd-dc16-4154-af71-74184310d8ff -%}
    "replo_text_e52920fd-dc16-4154-af71-74184310d8ff": {{ replo_text_e52920fd-dc16-4154-af71-74184310d8ff | json }}, {%- assign replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 = section.settings['replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4'] -%}
    {%- capture default_replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 = replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 | default: default_replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 -%}
    "replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4": {{ replo_text_671a4677-9e60-4dc7-a3c3-6981b5017dd4 | json }}, {%- assign replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 = section.settings['replo_text_2b0e054a-2e88-4394-aca5-d390464948a7'] -%}
    {%- capture default_replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 = replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 | default: default_replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 -%}
    "replo_text_2b0e054a-2e88-4394-aca5-d390464948a7": {{ replo_text_2b0e054a-2e88-4394-aca5-d390464948a7 | json }}, {%- assign replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d = section.settings['replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d'] -%}
    {%- capture default_replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d = replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d | default: default_replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d -%}
    "replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d": {{ replo_text_74d2d27f-564f-4eee-8d8c-9dbaa058176d | json }}, {%- assign replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 = section.settings['replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354'] -%}
    {%- capture default_replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 = replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 | default: default_replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 -%}
    "replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354": {{ replo_text_a1e84ba3-26a4-42b5-b18d-da9f36937354 | json }}, {%- assign replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 = section.settings['replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210'] -%}
    {%- capture default_replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 = replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 | default: default_replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 -%}
    "replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210": {{ replo_text_be1e852d-2f2a-46c7-ba44-fd6a4ff01210 | json }}, {%- assign replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 = section.settings['replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1'] -%}
    {%- capture default_replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 -%}<p>2 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 = replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 | default: default_replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 -%}
    "replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1": {{ replo_text_2836d639-bd40-4c0f-a3ab-93351059caf1 | json }}, {%- assign replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 = section.settings['replo_text_a85fad5b-e693-4841-a227-ca926e5d6519'] -%}
    {%- capture default_replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 = replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 | default: default_replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 -%}
    "replo_text_a85fad5b-e693-4841-a227-ca926e5d6519": {{ replo_text_a85fad5b-e693-4841-a227-ca926e5d6519 | json }}, {%- assign replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb = section.settings['replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb'] -%}
    {%- capture default_replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb = replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb | default: default_replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb -%}
    "replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb": {{ replo_text_44ef15a5-10d6-4a11-8612-1edccf46c5fb | json }}, {%- assign replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 = section.settings['replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5'] -%}
    {%- capture default_replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 -%}<p>$13.60</p>{%- endcapture -%}
    {%- assign replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 = replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 | default: default_replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 -%}
    "replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5": {{ replo_text_91e0ed3e-27c2-4863-8464-17821b54d3d5 | json }}, {%- assign replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 = section.settings['replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819'] -%}
    {%- capture default_replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 = replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 | default: default_replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 -%}
    "replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819": {{ replo_text_5deb4cf6-83c3-4ab3-adda-7a02ba377819 | json }}, {%- assign replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 = section.settings['replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268'] -%}
    {%- capture default_replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 = replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 | default: default_replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 -%}
    "replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268": {{ replo_text_5b34e462-dfc5-4e4d-8078-9b2e50507268 | json }}, {%- assign replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf = section.settings['replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf'] -%}
    {%- capture default_replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf = replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf | default: default_replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf -%}
    "replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf": {{ replo_text_02e394c7-cd60-4d7f-a38d-c51c53577bdf | json }}, {%- assign replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 = section.settings['replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43'] -%}
    {%- capture default_replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 = replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 | default: default_replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 -%}
    "replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43": {{ replo_text_c3c8bd32-09af-4cf8-9269-b13504785d43 | json }}, {%- assign replo_text_aed86516-0241-41af-9921-2026e4a45e3a = section.settings['replo_text_aed86516-0241-41af-9921-2026e4a45e3a'] -%}
    {%- capture default_replo_text_aed86516-0241-41af-9921-2026e4a45e3a -%}<p>3 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_aed86516-0241-41af-9921-2026e4a45e3a = replo_text_aed86516-0241-41af-9921-2026e4a45e3a | default: default_replo_text_aed86516-0241-41af-9921-2026e4a45e3a -%}
    "replo_text_aed86516-0241-41af-9921-2026e4a45e3a": {{ replo_text_aed86516-0241-41af-9921-2026e4a45e3a | json }}, {%- assign replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 = section.settings['replo_text_e3fb7214-beda-4737-9e18-827faf25fed8'] -%}
    {%- capture default_replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 = replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 | default: default_replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 -%}
    "replo_text_e3fb7214-beda-4737-9e18-827faf25fed8": {{ replo_text_e3fb7214-beda-4737-9e18-827faf25fed8 | json }}, {%- assign replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 = section.settings['replo_text_4b08632b-47f7-4086-8036-cdd5df075d46'] -%}
    {%- capture default_replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 = replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 | default: default_replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 -%}
    "replo_text_4b08632b-47f7-4086-8036-cdd5df075d46": {{ replo_text_4b08632b-47f7-4086-8036-cdd5df075d46 | json }}, {%- assign replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 = section.settings['replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308'] -%}
    {%- capture default_replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 -%}<p>$30.60</p>{%- endcapture -%}
    {%- assign replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 = replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 | default: default_replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 -%}
    "replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308": {{ replo_text_52183dcc-eedc-4cf1-9a9b-5c1ae9ad9308 | json }}, {%- assign replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 = section.settings['replo_text_ac1d6126-42eb-4acd-9085-0441195226b9'] -%}
    {%- capture default_replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 = replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 | default: default_replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 -%}
    "replo_text_ac1d6126-42eb-4acd-9085-0441195226b9": {{ replo_text_ac1d6126-42eb-4acd-9085-0441195226b9 | json }}, {%- assign replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f = section.settings['replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f'] -%}
    {%- capture default_replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f = replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f | default: default_replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f -%}
    "replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f": {{ replo_text_cb556774-a0ef-459d-9f17-de6ee222c08f | json }}, {%- assign replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 = section.settings['replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60'] | image_url -%}
    {%- capture default_replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 = replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 | default: default_replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 -%}
    "replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60": {{ replo_style_image_abfca06e-2c3d-4223-9d0d-1b1291a0cb60 | json }}, {%- assign replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 = section.settings['replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585'] | image_url -%}
    {%- capture default_replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 = replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 | default: default_replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 -%}
    "replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585": {{ replo_style_image_a41a15b3-1754-4357-9f5e-f30012a26585 | json }}, {%- assign replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 = section.settings['replo_text_234a798d-87b5-4fad-b76b-499bda2576c0'] -%}
    {%- capture default_replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 = replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 | default: default_replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 -%}
    "replo_text_234a798d-87b5-4fad-b76b-499bda2576c0": {{ replo_text_234a798d-87b5-4fad-b76b-499bda2576c0 | json }}, {%- assign replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 = section.settings['replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7'] -%}
    {%- capture default_replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 = replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 | default: default_replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 -%}
    "replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7": {{ replo_text_ece2199a-9aee-4fb3-b5aa-69fc83fac7c7 | json }}, {%- assign replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 = section.settings['replo_style_image_a16030da-cb54-4251-a4d5-223acafac741'] | image_url -%}
    {%- capture default_replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 = replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 | default: default_replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 -%}
    "replo_style_image_a16030da-cb54-4251-a4d5-223acafac741": {{ replo_style_image_a16030da-cb54-4251-a4d5-223acafac741 | json }}, {%- assign replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc = section.settings['replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc'] | image_url -%}
    {%- capture default_replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc = replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc | default: default_replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc -%}
    "replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc": {{ replo_style_image_4b88dbde-f40a-4ad7-bf33-5bb4d6ea42dc | json }}, {%- assign replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 = section.settings['replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2'] -%}
    {%- capture default_replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 = replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 | default: default_replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 -%}
    "replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2": {{ replo_text_77eb5ee4-5152-439c-af01-0a4d15f1cfc2 | json }}, {%- assign replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 = section.settings['replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482'] | image_url -%}
    {%- capture default_replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 = replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 | default: default_replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 -%}
    "replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482": {{ replo_style_image_70838911-bf0d-4d98-9471-8dd18600b482 | json }}, {%- assign replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 = section.settings['replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2'] -%}
    {%- capture default_replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 -%}<p>101 Delicious Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 = replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 | default: default_replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 -%}
    "replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2": {{ replo_text_9afcff3f-ae4f-4150-88b3-e587fc5f5ac2 | json }}, {%- assign replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d = section.settings['replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d'] -%}
    {%- capture default_replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d = replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d | default: default_replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d -%}
    "replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d": {{ replo_text_45f22a5e-f4cb-4903-9c34-a1d6e152926d | json }}, {%- assign replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 = section.settings['replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9'] | image_url -%}
    {%- capture default_replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 = replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 | default: default_replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 -%}
    "replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9": {{ replo_style_image_1397805c-5431-4b70-8aaf-61a17c8922b9 | json }}, {%- assign replo_text_b318c525-48eb-44bd-bbaa-78630a15186c = section.settings['replo_text_b318c525-48eb-44bd-bbaa-78630a15186c'] -%}
    {%- capture default_replo_text_b318c525-48eb-44bd-bbaa-78630a15186c -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_b318c525-48eb-44bd-bbaa-78630a15186c = replo_text_b318c525-48eb-44bd-bbaa-78630a15186c | default: default_replo_text_b318c525-48eb-44bd-bbaa-78630a15186c -%}
    "replo_text_b318c525-48eb-44bd-bbaa-78630a15186c": {{ replo_text_b318c525-48eb-44bd-bbaa-78630a15186c | json }}, {%- assign replo_style_image_24264895-e308-4106-a899-a96788382399 = section.settings['replo_style_image_24264895-e308-4106-a899-a96788382399'] | image_url -%}
    {%- capture default_replo_style_image_24264895-e308-4106-a899-a96788382399 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_24264895-e308-4106-a899-a96788382399 = replo_style_image_24264895-e308-4106-a899-a96788382399 | default: default_replo_style_image_24264895-e308-4106-a899-a96788382399 -%}
    "replo_style_image_24264895-e308-4106-a899-a96788382399": {{ replo_style_image_24264895-e308-4106-a899-a96788382399 | json }}, {%- assign replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 = section.settings['replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261'] -%}
    {%- capture default_replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 = replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 | default: default_replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 -%}
    "replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261": {{ replo_text_8313b3d6-1a48-4ff4-b0c4-256de53c0261 | json }}, {%- assign replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 = section.settings['replo_text_5f327cd9-790b-436c-886a-2410f2c1f385'] -%}
    {%- capture default_replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 = replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 | default: default_replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 -%}
    "replo_text_5f327cd9-790b-436c-886a-2410f2c1f385": {{ replo_text_5f327cd9-790b-436c-886a-2410f2c1f385 | json }}, {%- assign replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb = section.settings['replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb'] -%}
    {%- capture default_replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb = replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb | default: default_replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb -%}
    "replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb": {{ replo_text_53093ad4-ce5c-4cd8-92a4-77fed9ecc7eb | json }}, {%- assign replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b = section.settings['replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b'] -%}
    {%- capture default_replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b = replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b | default: default_replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b -%}
    "replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b": {{ replo_text_7c10a02d-3ddc-4ea0-9e72-3813657d040b | json }}, {%- assign replo_text_a007104d-e02b-479a-8d68-5de1adf60532 = section.settings['replo_text_a007104d-e02b-479a-8d68-5de1adf60532'] -%}
    {%- capture default_replo_text_a007104d-e02b-479a-8d68-5de1adf60532 -%}<p><span>Ingredients &amp; Quality</span></p>{%- endcapture -%}
    {%- assign replo_text_a007104d-e02b-479a-8d68-5de1adf60532 = replo_text_a007104d-e02b-479a-8d68-5de1adf60532 | default: default_replo_text_a007104d-e02b-479a-8d68-5de1adf60532 -%}
    "replo_text_a007104d-e02b-479a-8d68-5de1adf60532": {{ replo_text_a007104d-e02b-479a-8d68-5de1adf60532 | json }}, {%- assign replo_text_0e54d10b-25de-4017-b348-325a4045b902 = section.settings['replo_text_0e54d10b-25de-4017-b348-325a4045b902'] -%}
    {%- capture default_replo_text_0e54d10b-25de-4017-b348-325a4045b902 -%}<p><span>Hear What Canadians Say About Teangle 🇨🇦</span></p>{%- endcapture -%}
    {%- assign replo_text_0e54d10b-25de-4017-b348-325a4045b902 = replo_text_0e54d10b-25de-4017-b348-325a4045b902 | default: default_replo_text_0e54d10b-25de-4017-b348-325a4045b902 -%}
    "replo_text_0e54d10b-25de-4017-b348-325a4045b902": {{ replo_text_0e54d10b-25de-4017-b348-325a4045b902 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}