{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 = section.settings['replo_text_21e94d8c-898d-4608-beda-70649cb25fa3'] -%}
    {%- capture default_replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 -%}<p>"J'ai convaincu tous mes amis de passer du café au matcha collagène Teangle.”</p>{%- endcapture -%}
    {%- assign replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 = replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 | default: default_replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 -%}
    "replo_text_21e94d8c-898d-4608-beda-70649cb25fa3": {{ replo_text_21e94d8c-898d-4608-beda-70649cb25fa3 | json }}, {%- assign replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 = section.settings['replo_text_0822765a-2cd3-405e-bc98-89b659d17f72'] -%}
    {%- capture default_replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 -%}<p>Emily K. Cliente vérifiée</p>{%- endcapture -%}
    {%- assign replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 = replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 | default: default_replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 -%}
    "replo_text_0822765a-2cd3-405e-bc98-89b659d17f72": {{ replo_text_0822765a-2cd3-405e-bc98-89b659d17f72 | json }}, {%- assign replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a = section.settings['replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a'] -%}
    {%- capture default_replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a -%}<p>1506 avis vérifiés</p>{%- endcapture -%}
    {%- assign replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a = replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a | default: default_replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a -%}
    "replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a": {{ replo_text_49c4a723-5227-42c6-8bbd-e417bd95449a | json }}, {%- assign replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 = section.settings['replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3'] -%}
    {%- capture default_replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 -%}<p>Choisissez une Saveur:</p>{%- endcapture -%}
    {%- assign replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 = replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 | default: default_replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 -%}
    "replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3": {{ replo_text_88e6ab6e-7634-44d4-b152-305bdb62abc3 | json }}, {%- assign replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 = section.settings['replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8'] | image_url -%}
    {%- capture default_replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 = replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 | default: default_replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 -%}
    "replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8": {{ replo_style_image_c60cadc9-7390-454c-9869-7ba9e202dad8 | json }}, {%- assign replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 = section.settings['replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7'] | image_url -%}
    {%- capture default_replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 = replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 | default: default_replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 -%}
    "replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7": {{ replo_style_image_8861bca7-7ec5-4de4-b47b-58667db9a5d7 | json }}, {%- assign replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 = section.settings['replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29'] -%}
    {%- capture default_replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 -%}<p>Choisissez votre plan</p>{%- endcapture -%}
    {%- assign replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 = replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 | default: default_replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 -%}
    "replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29": {{ replo_text_5ade8cf0-b246-4357-8784-2d7b69efed29 | json }}, {%- assign replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 = section.settings['replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392'] -%}
    {%- capture default_replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 -%}<p>Type d'achat</p>{%- endcapture -%}
    {%- assign replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 = replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 | default: default_replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 -%}
    "replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392": {{ replo_text_f5d070fa-d32c-42a0-b802-39eb3ebf1392 | json }}, {%- assign replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 = section.settings['replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309'] -%}
    {%- capture default_replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 -%}<p>Abonnez-vous &amp;</p>{%- endcapture -%}
    {%- assign replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 = replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 | default: default_replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 -%}
    "replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309": {{ replo_text_3f9e1f9b-f951-476e-b397-7e227d1b5309 | json }}, {%- assign replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae = section.settings['replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae'] -%}
    {%- capture default_replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae -%}<p>Économisez jusqu'à</p>{%- endcapture -%}
    {%- assign replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae = replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae | default: default_replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae -%}
    "replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae": {{ replo_text_767f93b7-6c50-4d02-9b87-7a54885150ae | json }}, {%- assign replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 = section.settings['replo_text_f4d07534-4402-44e7-8228-bfc764c29c19'] -%}
    {%- capture default_replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 -%}<p>20%</p>{%- endcapture -%}
    {%- assign replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 = replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 | default: default_replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 -%}
    "replo_text_f4d07534-4402-44e7-8228-bfc764c29c19": {{ replo_text_f4d07534-4402-44e7-8228-bfc764c29c19 | json }}, {%- assign replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f = section.settings['replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f'] -%}
    {%- capture default_replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f -%}<p>Achat unique</p>{%- endcapture -%}
    {%- assign replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f = replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f | default: default_replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f -%}
    "replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f": {{ replo_text_a4331d97-6ae8-47c0-a3f1-0928e6205f7f | json }}, {%- assign replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 = section.settings['replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8'] -%}
    {%- capture default_replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 -%}<p>Portions:</p>{%- endcapture -%}
    {%- assign replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 = replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 | default: default_replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 -%}
    "replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8": {{ replo_text_787c6d05-9eea-4566-82db-a4e28938c5c8 | json }}, {%- assign replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 = section.settings['replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20'] -%}
    {%- capture default_replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 = replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 | default: default_replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 -%}
    "replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20": {{ replo_text_83d07c83-7839-49ce-b77d-d95af8e3fb20 | json }}, {%- assign replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 = section.settings['replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3'] -%}
    {%- capture default_replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 -%}<p>1 Pot</p>{%- endcapture -%}
    {%- assign replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 = replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 | default: default_replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 -%}
    "replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3": {{ replo_text_5aaed322-467b-4f0c-8269-2df5672c29a3 | json }}, {%- assign replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 = section.settings['replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77'] -%}
    {%- capture default_replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 = replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 | default: default_replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 -%}
    "replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77": {{ replo_text_b387354d-77f7-4b25-a2d3-4e8edfea1e77 | json }}, {%- assign replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e = section.settings['replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e'] -%}
    {%- capture default_replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e = replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e | default: default_replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e -%}
    "replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e": {{ replo_text_347cd1ac-c680-4477-8003-a61371aa6a1e | json }}, {%- assign replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 = section.settings['replo_text_030b7983-fc10-4368-87bc-104b4e68dc56'] -%}
    {%- capture default_replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 = replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 | default: default_replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 -%}
    "replo_text_030b7983-fc10-4368-87bc-104b4e68dc56": {{ replo_text_030b7983-fc10-4368-87bc-104b4e68dc56 | json }}, {%- assign replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 = section.settings['replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73'] -%}
    {%- capture default_replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 = replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 | default: default_replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 -%}
    "replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73": {{ replo_text_0ad4ba4d-1d18-492b-a84a-08ab3e6fad73 | json }}, {%- assign replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b = section.settings['replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b'] -%}
    {%- capture default_replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b = replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b | default: default_replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b -%}
    "replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b": {{ replo_text_28124cf9-f2c8-44e3-b84e-1b0b80c0961b | json }}, {%- assign replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 = section.settings['replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76'] -%}
    {%- capture default_replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 = replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 | default: default_replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 -%}
    "replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76": {{ replo_text_8b0d4290-0fb4-4669-86d4-2bad9200bf76 | json }}, {%- assign replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb = section.settings['replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb'] -%}
    {%- capture default_replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb -%}<p>2 Pots</p>{%- endcapture -%}
    {%- assign replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb = replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb | default: default_replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb -%}
    "replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb": {{ replo_text_d8729d54-8181-4842-86e6-47f8d00b8fbb | json }}, {%- assign replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 = section.settings['replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42'] -%}
    {%- capture default_replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 = replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 | default: default_replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 -%}
    "replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42": {{ replo_text_39db462b-3b59-4e01-be7b-3fa45c456a42 | json }}, {%- assign replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 = section.settings['replo_text_2861894a-3613-4793-8027-cbc85bdc9f96'] -%}
    {%- capture default_replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 = replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 | default: default_replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 -%}
    "replo_text_2861894a-3613-4793-8027-cbc85bdc9f96": {{ replo_text_2861894a-3613-4793-8027-cbc85bdc9f96 | json }}, {%- assign replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 = section.settings['replo_text_4b633588-d078-4548-a3c3-b747bd8fae22'] -%}
    {%- capture default_replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 = replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 | default: default_replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 -%}
    "replo_text_4b633588-d078-4548-a3c3-b747bd8fae22": {{ replo_text_4b633588-d078-4548-a3c3-b747bd8fae22 | json }}, {%- assign replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 = section.settings['replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35'] -%}
    {%- capture default_replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 = replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 | default: default_replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 -%}
    "replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35": {{ replo_text_a8e0a90e-bffb-40f0-a6ae-2fe884596e35 | json }}, {%- assign replo_text_61960108-18b6-4c56-876d-560099f34bcb = section.settings['replo_text_61960108-18b6-4c56-876d-560099f34bcb'] -%}
    {%- capture default_replo_text_61960108-18b6-4c56-876d-560099f34bcb -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_61960108-18b6-4c56-876d-560099f34bcb = replo_text_61960108-18b6-4c56-876d-560099f34bcb | default: default_replo_text_61960108-18b6-4c56-876d-560099f34bcb -%}
    "replo_text_61960108-18b6-4c56-876d-560099f34bcb": {{ replo_text_61960108-18b6-4c56-876d-560099f34bcb | json }}, {%- assign replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 = section.settings['replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1'] -%}
    {%- capture default_replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 -%}<p>Meilleure offre</p>{%- endcapture -%}
    {%- assign replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 = replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 | default: default_replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 -%}
    "replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1": {{ replo_text_7eefd240-fdb3-456f-a0a5-fd40b2d6a0a1 | json }}, {%- assign replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 = section.settings['replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1'] -%}
    {%- capture default_replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 = replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 | default: default_replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 -%}
    "replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1": {{ replo_text_4e586eb7-08b7-451c-89cf-be43d30f32a1 | json }}, {%- assign replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 = section.settings['replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1'] -%}
    {%- capture default_replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 -%}<p>3 Pots</p>{%- endcapture -%}
    {%- assign replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 = replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 | default: default_replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 -%}
    "replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1": {{ replo_text_d91b0e8d-3824-456b-8588-a5606b657cb1 | json }}, {%- assign replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f = section.settings['replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f'] -%}
    {%- capture default_replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f = replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f | default: default_replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f -%}
    "replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f": {{ replo_text_ea38b2ee-9003-4b3a-9eaf-eff903e3da8f | json }}, {%- assign replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 = section.settings['replo_text_3d2dd20b-b12b-4959-be46-40112450ba11'] -%}
    {%- capture default_replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 = replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 | default: default_replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 -%}
    "replo_text_3d2dd20b-b12b-4959-be46-40112450ba11": {{ replo_text_3d2dd20b-b12b-4959-be46-40112450ba11 | json }}, {%- assign replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c = section.settings['replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c'] -%}
    {%- capture default_replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c = replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c | default: default_replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c -%}
    "replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c": {{ replo_text_645368a4-0e84-46c4-ace4-aab58d4edd7c | json }}, {%- assign replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 = section.settings['replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5'] -%}
    {%- capture default_replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 = replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 | default: default_replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 -%}
    "replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5": {{ replo_text_87fc7a8d-5802-4695-8fd7-af2fdfaf17f5 | json }}, {%- assign replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 = section.settings['replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171'] | image_url -%}
    {%- capture default_replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 = replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 | default: default_replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 -%}
    "replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171": {{ replo_style_image_a074d260-fd50-4e3b-aa16-8f7fadc43171 | json }}, {%- assign replo_style_image_2b16006d-4298-4815-ad40-811916f75311 = section.settings['replo_style_image_2b16006d-4298-4815-ad40-811916f75311'] | image_url -%}
    {%- capture default_replo_style_image_2b16006d-4298-4815-ad40-811916f75311 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_2b16006d-4298-4815-ad40-811916f75311 = replo_style_image_2b16006d-4298-4815-ad40-811916f75311 | default: default_replo_style_image_2b16006d-4298-4815-ad40-811916f75311 -%}
    "replo_style_image_2b16006d-4298-4815-ad40-811916f75311": {{ replo_style_image_2b16006d-4298-4815-ad40-811916f75311 | json }}, {%- assign replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a = section.settings['replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a'] -%}
    {%- capture default_replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a = replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a | default: default_replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a -%}
    "replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a": {{ replo_text_01068f8c-eafb-4ce4-97cf-a0f9bf1b621a | json }}, {%- assign replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 = section.settings['replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0'] -%}
    {%- capture default_replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 = replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 | default: default_replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 -%}
    "replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0": {{ replo_text_82663903-d803-44aa-956d-a88e8bc0d6a0 | json }}, {%- assign replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b = section.settings['replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b'] | image_url -%}
    {%- capture default_replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b = replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b | default: default_replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b -%}
    "replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b": {{ replo_style_image_a8083493-7c35-4518-a617-94bc1e33560b | json }}, {%- assign replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 = section.settings['replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9'] | image_url -%}
    {%- capture default_replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 = replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 | default: default_replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 -%}
    "replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9": {{ replo_style_image_67fbba5f-7e1d-45f2-95fc-2e7da85336e9 | json }}, {%- assign replo_text_e1c64070-1b2c-4b32-a133-17129bee756e = section.settings['replo_text_e1c64070-1b2c-4b32-a133-17129bee756e'] -%}
    {%- capture default_replo_text_e1c64070-1b2c-4b32-a133-17129bee756e -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_e1c64070-1b2c-4b32-a133-17129bee756e = replo_text_e1c64070-1b2c-4b32-a133-17129bee756e | default: default_replo_text_e1c64070-1b2c-4b32-a133-17129bee756e -%}
    "replo_text_e1c64070-1b2c-4b32-a133-17129bee756e": {{ replo_text_e1c64070-1b2c-4b32-a133-17129bee756e | json }}, {%- assign replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 = section.settings['replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41'] | image_url -%}
    {%- capture default_replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/aad07eb8-dc73-4a49-9de5-60252b229271{%- endcapture -%}
    {%- assign replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 = replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 | default: default_replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 -%}
    "replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41": {{ replo_style_image_3b16879c-b757-4ee2-88fd-192bfc80ae41 | json }}, {%- assign replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 = section.settings['replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8'] | image_url -%}
    {%- capture default_replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 = replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 | default: default_replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 -%}
    "replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8": {{ replo_style_image_d5fc2bca-4d8a-4136-86ac-befb60f570c8 | json }}, {%- assign replo_text_7247e2e9-9dea-498c-8950-a058bce24979 = section.settings['replo_text_7247e2e9-9dea-498c-8950-a058bce24979'] -%}
    {%- capture default_replo_text_7247e2e9-9dea-498c-8950-a058bce24979 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_7247e2e9-9dea-498c-8950-a058bce24979 = replo_text_7247e2e9-9dea-498c-8950-a058bce24979 | default: default_replo_text_7247e2e9-9dea-498c-8950-a058bce24979 -%}
    "replo_text_7247e2e9-9dea-498c-8950-a058bce24979": {{ replo_text_7247e2e9-9dea-498c-8950-a058bce24979 | json }}, {%- assign replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 = section.settings['replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829'] | image_url -%}
    {%- capture default_replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 = replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 | default: default_replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 -%}
    "replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829": {{ replo_style_image_f3855642-3dda-429c-bfe9-a67eb3114829 | json }}, {%- assign replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb = section.settings['replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb'] -%}
    {%- capture default_replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb = replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb | default: default_replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb -%}
    "replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb": {{ replo_text_16093e86-ebbd-4763-bb4d-1ebf85d82bcb | json }}, {%- assign replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 = section.settings['replo_style_image_02e9a027-9351-44d8-8092-bce165a23246'] | image_url -%}
    {%- capture default_replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/aad07eb8-dc73-4a49-9de5-60252b229271{%- endcapture -%}
    {%- assign replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 = replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 | default: default_replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 -%}
    "replo_style_image_02e9a027-9351-44d8-8092-bce165a23246": {{ replo_style_image_02e9a027-9351-44d8-8092-bce165a23246 | json }}, {%- assign replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 = section.settings['replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58'] -%}
    {%- capture default_replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 -%}<p>Cuillère à Matcha</p>{%- endcapture -%}
    {%- assign replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 = replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 | default: default_replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 -%}
    "replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58": {{ replo_text_8a209c7d-28ef-4a48-a5bf-6ac50ad17c58 | json }}, {%- assign replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 = section.settings['replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594'] | image_url -%}
    {%- capture default_replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 = replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 | default: default_replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 -%}
    "replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594": {{ replo_style_image_ceaed9f0-7479-4aa9-ab89-509bcfe91594 | json }}, {%- assign replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 = section.settings['replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342'] -%}
    {%- capture default_replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 = replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 | default: default_replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 -%}
    "replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342": {{ replo_text_e7cdf040-362f-4799-855f-ceec9d8c6342 | json }}, {%- assign replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c = section.settings['replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c'] -%}
    {%- capture default_replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c -%}<p>AJOUTER AU PANIER</p>{%- endcapture -%}
    {%- assign replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c = replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c | default: default_replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c -%}
    "replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c": {{ replo_text_d659aa64-52d8-4604-804d-c263d45c1d0c | json }}, {%- assign replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b = section.settings['replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b'] -%}
    {%- capture default_replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b = replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b | default: default_replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b -%}
    "replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b": {{ replo_text_b1d585f3-8d4d-44b8-b572-0bfab3c3464b | json }}, {%- assign replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb = section.settings['replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb'] -%}
    {%- capture default_replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb = replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb | default: default_replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb -%}
    "replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb": {{ replo_text_bd1bbe1f-9ac1-4326-b8f7-224476bcbecb | json }}, {%- assign replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 = section.settings['replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6'] -%}
    {%- capture default_replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 = replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 | default: default_replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 -%}
    "replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6": {{ replo_text_aa42dbd5-ca54-443e-af19-5eac5c4acfb6 | json }}, {%- assign replo_text_9d6e4431-c3a6-409e-902d-956732cba275 = section.settings['replo_text_9d6e4431-c3a6-409e-902d-956732cba275'] -%}
    {%- capture default_replo_text_9d6e4431-c3a6-409e-902d-956732cba275 -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_9d6e4431-c3a6-409e-902d-956732cba275 = replo_text_9d6e4431-c3a6-409e-902d-956732cba275 | default: default_replo_text_9d6e4431-c3a6-409e-902d-956732cba275 -%}
    "replo_text_9d6e4431-c3a6-409e-902d-956732cba275": {{ replo_text_9d6e4431-c3a6-409e-902d-956732cba275 | json }}, {%- assign replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec = section.settings['replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec'] -%}
    {%- capture default_replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec -%}<p><span>Ingredients &amp; Quality</span></p>{%- endcapture -%}
    {%- assign replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec = replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec | default: default_replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec -%}
    "replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec": {{ replo_text_d10e82b7-2cc5-47f6-a9ef-ac6da49209ec | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}