{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 = section.settings['replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4'] | image_url -%}
    {%- capture default_replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2fc42e94-bfb0-4ee3-aef8-04bbe68888a6{%- endcapture -%}
    {%- assign replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 = replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 | default: default_replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 -%}
    "replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4": {{ replo_style_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 | json }}, {%- assign replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 = section.settings['replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4'] | image_url -%}
    {%- capture default_replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/d5a52f56-5776-455d-a2db-a42e4e41c9f3{%- endcapture -%}
    {%- assign replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 = replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 | default: default_replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 -%}
    "replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4": {{ replo_stylesm_image_650b1048-23b5-41cf-b5b7-2c2d35cb23f4 | json }}, {%- assign replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd = section.settings['replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd'] -%}
    {%- capture default_replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd -%}<p>Trusted by over 100,000 Canadians</p>{%- endcapture -%}
    {%- assign replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd = replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd | default: default_replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd -%}
    "replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd": {{ replo_text_e2704724-673b-44e9-90f3-fd7d33fbd8dd | json }}, {%- assign replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 = section.settings['replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623'] -%}
    {%- capture default_replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 -%}<p>Matcha Energy Meets Beauty Collagen</p>{%- endcapture -%}
    {%- assign replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 = replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 | default: default_replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 -%}
    "replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623": {{ replo_text_0d6e77ae-a1dc-440c-a8a6-a5b0e2da2623 | json }}, {%- assign replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 = section.settings['replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9'] -%}
    {%- capture default_replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 -%}<p>Replace your coffee with our delicious 2-in-1 formula for energy and beauty.</p>{%- endcapture -%}
    {%- assign replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 = replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 | default: default_replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 -%}
    "replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9": {{ replo_text_3d5f86be-299b-4eb1-bca6-a589a77e5ca9 | json }}, {%- assign replo_url_0bd98f1d-c323-4070-8f92-335129707a92 = section.settings['replo_url_0bd98f1d-c323-4070-8f92-335129707a92'] -%}
    {%- capture default_replo_url_0bd98f1d-c323-4070-8f92-335129707a92 -%}https://teangle.ca/products/matcha-collagen{%- endcapture -%}
    {%- assign replo_url_0bd98f1d-c323-4070-8f92-335129707a92 = replo_url_0bd98f1d-c323-4070-8f92-335129707a92 | default: default_replo_url_0bd98f1d-c323-4070-8f92-335129707a92 -%}
    "replo_url_0bd98f1d-c323-4070-8f92-335129707a92": {{ replo_url_0bd98f1d-c323-4070-8f92-335129707a92 | json }}, {%- assign replo_text_e8e56f19-afdc-408b-9360-5a442276d58d = section.settings['replo_text_e8e56f19-afdc-408b-9360-5a442276d58d'] -%}
    {%- capture default_replo_text_e8e56f19-afdc-408b-9360-5a442276d58d -%}<p>SHOP TEANGLE</p>{%- endcapture -%}
    {%- assign replo_text_e8e56f19-afdc-408b-9360-5a442276d58d = replo_text_e8e56f19-afdc-408b-9360-5a442276d58d | default: default_replo_text_e8e56f19-afdc-408b-9360-5a442276d58d -%}
    "replo_text_e8e56f19-afdc-408b-9360-5a442276d58d": {{ replo_text_e8e56f19-afdc-408b-9360-5a442276d58d | json }}, {%- assign replo_text_ccede953-95a3-40fd-a491-a5b426025281 = section.settings['replo_text_ccede953-95a3-40fd-a491-a5b426025281'] -%}
    {%- capture default_replo_text_ccede953-95a3-40fd-a491-a5b426025281 -%}<p>Delicious Flavor</p>{%- endcapture -%}
    {%- assign replo_text_ccede953-95a3-40fd-a491-a5b426025281 = replo_text_ccede953-95a3-40fd-a491-a5b426025281 | default: default_replo_text_ccede953-95a3-40fd-a491-a5b426025281 -%}
    "replo_text_ccede953-95a3-40fd-a491-a5b426025281": {{ replo_text_ccede953-95a3-40fd-a491-a5b426025281 | json }}, {%- assign replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 = section.settings['replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878'] -%}
    {%- capture default_replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 -%}<p>Easy to Make</p>{%- endcapture -%}
    {%- assign replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 = replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 | default: default_replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 -%}
    "replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878": {{ replo_text_75b31f32-3331-4ec5-94f3-e0f60d20a878 | json }}, {%- assign replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c = section.settings['replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c'] -%}
    {%- capture default_replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c -%}<p>Steady, All-Day Energy</p>{%- endcapture -%}
    {%- assign replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c = replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c | default: default_replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c -%}
    "replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c": {{ replo_text_61f2022b-41ae-43e9-80e2-66bcc08e341c | json }}, {%- assign replo_text_00043964-8621-4345-b21a-ed27d16edb64 = section.settings['replo_text_00043964-8621-4345-b21a-ed27d16edb64'] -%}
    {%- capture default_replo_text_00043964-8621-4345-b21a-ed27d16edb64 -%}<p>Organic ingredients</p>{%- endcapture -%}
    {%- assign replo_text_00043964-8621-4345-b21a-ed27d16edb64 = replo_text_00043964-8621-4345-b21a-ed27d16edb64 | default: default_replo_text_00043964-8621-4345-b21a-ed27d16edb64 -%}
    "replo_text_00043964-8621-4345-b21a-ed27d16edb64": {{ replo_text_00043964-8621-4345-b21a-ed27d16edb64 | json }}, {%- assign replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 = section.settings['replo_text_324c997e-badf-414b-b5e3-19bedd3b1619'] -%}
    {%- capture default_replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 -%}<p>No Caffeine Crash</p>{%- endcapture -%}
    {%- assign replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 = replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 | default: default_replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 -%}
    "replo_text_324c997e-badf-414b-b5e3-19bedd3b1619": {{ replo_text_324c997e-badf-414b-b5e3-19bedd3b1619 | json }}, {%- assign replo_text_b499ea93-5571-40cf-887a-296649e41e03 = section.settings['replo_text_b499ea93-5571-40cf-887a-296649e41e03'] -%}
    {%- capture default_replo_text_b499ea93-5571-40cf-887a-296649e41e03 -%}<p>Delicious Flavor</p>{%- endcapture -%}
    {%- assign replo_text_b499ea93-5571-40cf-887a-296649e41e03 = replo_text_b499ea93-5571-40cf-887a-296649e41e03 | default: default_replo_text_b499ea93-5571-40cf-887a-296649e41e03 -%}
    "replo_text_b499ea93-5571-40cf-887a-296649e41e03": {{ replo_text_b499ea93-5571-40cf-887a-296649e41e03 | json }}, {%- assign replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d = section.settings['replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d'] -%}
    {%- capture default_replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d -%}<p>Easy to Make</p>{%- endcapture -%}
    {%- assign replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d = replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d | default: default_replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d -%}
    "replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d": {{ replo_text_d817d844-52e9-4c74-80c8-e17ffb31756d | json }}, {%- assign replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 = section.settings['replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22'] -%}
    {%- capture default_replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 -%}<p>Steady, All-Day Energy</p>{%- endcapture -%}
    {%- assign replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 = replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 | default: default_replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 -%}
    "replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22": {{ replo_text_f99c86bf-f4a9-4e85-944b-9e9aeb8b8b22 | json }}, {%- assign replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 = section.settings['replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8'] -%}
    {%- capture default_replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 -%}<p>Organic ingredients</p>{%- endcapture -%}
    {%- assign replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 = replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 | default: default_replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 -%}
    "replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8": {{ replo_text_4fd530ce-7429-403d-b7cb-3e8bac4d95a8 | json }}, {%- assign replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f = section.settings['replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f'] -%}
    {%- capture default_replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f -%}<p>No Caffeine Crash</p>{%- endcapture -%}
    {%- assign replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f = replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f | default: default_replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f -%}
    "replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f": {{ replo_text_e5070524-8b4d-4ef7-aa84-2d1498adea6f | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}