{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 = section.settings['replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44'] | image_url -%}
    {%- capture default_replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2fc42e94-bfb0-4ee3-aef8-04bbe68888a6{%- endcapture -%}
    {%- assign replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 = replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 | default: default_replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 -%}
    "replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44": {{ replo_style_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 | json }}, {%- assign replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 = section.settings['replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44'] | image_url -%}
    {%- capture default_replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/b057bcd5-93b2-448c-9ac6-22472ea5f9ff{%- endcapture -%}
    {%- assign replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 = replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 | default: default_replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 -%}
    "replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44": {{ replo_stylesm_image_0b485c3d-750a-4ec9-bbf8-554fa0e37c44 | json }}, {%- assign replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f = section.settings['replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f'] -%}
    {%- capture default_replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f -%}<p>Trusted by over 100,000 Canadians</p>{%- endcapture -%}
    {%- assign replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f = replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f | default: default_replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f -%}
    "replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f": {{ replo_text_b17c3ec1-db23-45bf-b51f-2c33ce55660f | json }}, {%- assign replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 = section.settings['replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2'] -%}
    {%- capture default_replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 -%}<p>Replace your coffee with our delicious 2-in-1 formula for energy and beauty.</p>{%- endcapture -%}
    {%- assign replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 = replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 | default: default_replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 -%}
    "replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2": {{ replo_text_126269c8-e0b2-4bee-b15b-ebdc25be2fb2 | json }}, {%- assign replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a = section.settings['replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a'] -%}
    {%- capture default_replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a -%}https://teangle.ca/products/matcha-collagen{%- endcapture -%}
    {%- assign replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a = replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a | default: default_replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a -%}
    "replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a": {{ replo_url_4deb05a2-8cc5-4e3f-b04e-26c08cdbb25a | json }}, {%- assign replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 = section.settings['replo_text_22d96388-370b-4897-8d49-27d9fb890ec1'] -%}
    {%- capture default_replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 -%}<p>SHOP TEANGLE</p>{%- endcapture -%}
    {%- assign replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 = replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 | default: default_replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 -%}
    "replo_text_22d96388-370b-4897-8d49-27d9fb890ec1": {{ replo_text_22d96388-370b-4897-8d49-27d9fb890ec1 | json }}, {%- assign replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 = section.settings['replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86'] -%}
    {%- capture default_replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 -%}<p>Delicious Flavor</p>{%- endcapture -%}
    {%- assign replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 = replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 | default: default_replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 -%}
    "replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86": {{ replo_text_3e9937b7-66e2-44b1-b339-466be46b8f86 | json }}, {%- assign replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b = section.settings['replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b'] -%}
    {%- capture default_replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b -%}<p>Easy to Make</p>{%- endcapture -%}
    {%- assign replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b = replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b | default: default_replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b -%}
    "replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b": {{ replo_text_bc2ff150-9a8f-4102-a63f-bbcda005244b | json }}, {%- assign replo_text_6a401ab3-1353-428a-842b-2f4386f54507 = section.settings['replo_text_6a401ab3-1353-428a-842b-2f4386f54507'] -%}
    {%- capture default_replo_text_6a401ab3-1353-428a-842b-2f4386f54507 -%}<p>Steady, All-Day Energy</p>{%- endcapture -%}
    {%- assign replo_text_6a401ab3-1353-428a-842b-2f4386f54507 = replo_text_6a401ab3-1353-428a-842b-2f4386f54507 | default: default_replo_text_6a401ab3-1353-428a-842b-2f4386f54507 -%}
    "replo_text_6a401ab3-1353-428a-842b-2f4386f54507": {{ replo_text_6a401ab3-1353-428a-842b-2f4386f54507 | json }}, {%- assign replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 = section.settings['replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328'] -%}
    {%- capture default_replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 -%}<p>Organic ingredients</p>{%- endcapture -%}
    {%- assign replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 = replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 | default: default_replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 -%}
    "replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328": {{ replo_text_09a9ca03-1b4c-4c66-9ce1-2a1cf3eb6328 | json }}, {%- assign replo_text_ee3e757d-b2f4-4384-920d-72909814917e = section.settings['replo_text_ee3e757d-b2f4-4384-920d-72909814917e'] -%}
    {%- capture default_replo_text_ee3e757d-b2f4-4384-920d-72909814917e -%}<p>No Caffeine Crash</p>{%- endcapture -%}
    {%- assign replo_text_ee3e757d-b2f4-4384-920d-72909814917e = replo_text_ee3e757d-b2f4-4384-920d-72909814917e | default: default_replo_text_ee3e757d-b2f4-4384-920d-72909814917e -%}
    "replo_text_ee3e757d-b2f4-4384-920d-72909814917e": {{ replo_text_ee3e757d-b2f4-4384-920d-72909814917e | json }}, {%- assign replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c = section.settings['replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c'] -%}
    {%- capture default_replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c -%}<p>Delicious Flavor</p>{%- endcapture -%}
    {%- assign replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c = replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c | default: default_replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c -%}
    "replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c": {{ replo_text_1f265ac9-422e-4b25-b179-c7bb306fca6c | json }}, {%- assign replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 = section.settings['replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4'] -%}
    {%- capture default_replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 -%}<p>Easy to Make</p>{%- endcapture -%}
    {%- assign replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 = replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 | default: default_replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 -%}
    "replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4": {{ replo_text_e0ea2c12-3933-4b2c-bfec-294bb3938cc4 | json }}, {%- assign replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 = section.settings['replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503'] -%}
    {%- capture default_replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 -%}<p>Steady, All-Day Energy</p>{%- endcapture -%}
    {%- assign replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 = replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 | default: default_replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 -%}
    "replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503": {{ replo_text_568c61d2-8c2b-431e-b8bd-500de4d7d503 | json }}, {%- assign replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff = section.settings['replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff'] -%}
    {%- capture default_replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff -%}<p>Organic ingredients</p>{%- endcapture -%}
    {%- assign replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff = replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff | default: default_replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff -%}
    "replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff": {{ replo_text_a7454834-9086-4983-9fa3-8eab1e77e4ff | json }}, {%- assign replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 = section.settings['replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02'] -%}
    {%- capture default_replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 -%}<p>No Caffeine Crash</p>{%- endcapture -%}
    {%- assign replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 = replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 | default: default_replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 -%}
    "replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02": {{ replo_text_bbaf1877-a863-4867-b6cd-d83c78775b02 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}