{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 = section.settings['replo_text_af82958b-994b-4270-9ba5-ad92ec429e54'] -%}
    {%- capture default_replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 -%}<p>4 Reasons You’ll Never Go Back to Coffee</p>{%- endcapture -%}
    {%- assign replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 = replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 | default: default_replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 -%}
    "replo_text_af82958b-994b-4270-9ba5-ad92ec429e54": {{ replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 | json }}, {%- assign replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = section.settings['replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33'] | image_url -%}
    {%- capture default_replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/109fa4d6-6c77-4409-91d7-b38c0dabe5f6{%- endcapture -%}
    {%- assign replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | default: default_replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}
    "replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33": {{ replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | json }}, {%- assign replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = section.settings['replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33'] | image_url -%}
    {%- capture default_replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/109fa4d6-6c77-4409-91d7-b38c0dabe5f6{%- endcapture -%}
    {%- assign replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | default: default_replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}
    "replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33": {{ replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | json }}, {%- assign replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 = section.settings['replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3'] -%}
    {%- capture default_replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 -%}<p>Better Than Coffee</p>{%- endcapture -%}
    {%- assign replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 = replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 | default: default_replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 -%}
    "replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3": {{ replo_text_f3178f64-c563-4e53-a5d7-87f87743aeb3 | json }}, {%- assign replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca = section.settings['replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca'] -%}
    {%- capture default_replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca -%}<p>Ditch the jitters and crashes.</p><p>Teangle gives you calm, stable energy.</p>{%- endcapture -%}
    {%- assign replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca = replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca | default: default_replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca -%}
    "replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca": {{ replo_text_6c9a9e5b-3cf2-4fa8-97f8-0e5eab6413ca | json }}, {%- assign replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf = section.settings['replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf'] -%}
    {%- capture default_replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf -%}<p>Real Ingredients Only</p>{%- endcapture -%}
    {%- assign replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf = replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf | default: default_replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf -%}
    "replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf": {{ replo_text_8055fb4d-4911-4593-a3bd-7bc53f8d8edf | json }}, {%- assign replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 = section.settings['replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551'] -%}
    {%- capture default_replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 -%}<p>No junk. No fillers. Just natural, </p><p>feel-good fuel for your body.</p>{%- endcapture -%}
    {%- assign replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 = replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 | default: default_replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 -%}
    "replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551": {{ replo_text_844de26e-9dc6-48b5-ab4a-77bfd0843551 | json }}, {%- assign replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 = section.settings['replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96'] -%}
    {%- capture default_replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 -%}<p>Built for Your Routine</p>{%- endcapture -%}
    {%- assign replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 = replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 | default: default_replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 -%}
    "replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96": {{ replo_text_c7f02648-ea50-4120-a279-b90fa8dfdd96 | json }}, {%- assign replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 = section.settings['replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51'] -%}
    {%- capture default_replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 -%}<p>Easy to mix, easy to love - fits your</p><p> life, not the other way around.</p>{%- endcapture -%}
    {%- assign replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 = replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 | default: default_replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 -%}
    "replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51": {{ replo_text_17e3eec2-4b1b-4b93-88af-afbd0ea37f51 | json }}, {%- assign replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 = section.settings['replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271'] -%}
    {%- capture default_replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 -%}<p>Canadian-Owned, Duh!</p>{%- endcapture -%}
    {%- assign replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 = replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 | default: default_replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 -%}
    "replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271": {{ replo_text_ac3c3350-bdcc-4a81-9052-2578bfc54271 | json }}, {%- assign replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 = section.settings['replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64'] -%}
    {%- capture default_replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 -%}<p>Proudly based in Canada with fast </p><p>and secure North American </p><p>shipping.</p>{%- endcapture -%}
    {%- assign replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 = replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 | default: default_replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 -%}
    "replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64": {{ replo_text_e2de1ad8-762b-4be7-beb4-05fe281c7a64 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}