{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a = section.settings['replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a'] -%}
    {%- capture default_replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a -%}<p>Autres</p>{%- endcapture -%}
    {%- assign replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a = replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a | default: default_replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a -%}
    "replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a": {{ replo_text_55606c29-1ab9-4310-81c7-bbbf635c979a | json }}, {%- assign replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e = section.settings['replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e'] | image_url -%}
    {%- capture default_replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e = replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e | default: default_replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e -%}
    "replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e": {{ replo_style_image_f2ccb9e9-9993-47f8-8ef5-3197146e845e | json }}, {%- assign replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 = section.settings['replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597'] | image_url -%}
    {%- capture default_replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 = replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 | default: default_replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 -%}
    "replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597": {{ replo_style_image_4ef4a722-1718-453f-9063-dc5f61f5f597 | json }}, {%- assign replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 = section.settings['replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292'] | image_url -%}
    {%- capture default_replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 = replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 | default: default_replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 -%}
    "replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292": {{ replo_style_image_7ff0436b-dbbf-4768-855a-64a82a209292 | json }}, {%- assign replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb = section.settings['replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb'] | image_url -%}
    {%- capture default_replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb = replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb | default: default_replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb -%}
    "replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb": {{ replo_style_image_2a0b270d-9f2b-4251-b17c-da98968f4adb | json }}, {%- assign replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f = section.settings['replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f'] | image_url -%}
    {%- capture default_replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f = replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f | default: default_replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f -%}
    "replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f": {{ replo_style_image_9b11e774-03ff-4999-8b3a-ef9b7c845c1f | json }}, {%- assign replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 = section.settings['replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08'] -%}
    {%- capture default_replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 -%}<p>Fabriqué au Canada</p>{%- endcapture -%}
    {%- assign replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 = replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 | default: default_replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 -%}
    "replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08": {{ replo_text_d9831a25-b429-4a31-a4a7-c750b3046d08 | json }}, {%- assign replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e = section.settings['replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e'] | image_url -%}
    {%- capture default_replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e = replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e | default: default_replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e -%}
    "replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e": {{ replo_style_image_ca140894-8bd3-4293-9316-7bc1b5e16b5e | json }}, {%- assign replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 = section.settings['replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80'] -%}
    {%- capture default_replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 -%}<p>Aimé pour son goût</p>{%- endcapture -%}
    {%- assign replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 = replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 | default: default_replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 -%}
    "replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80": {{ replo_text_1b88a887-d554-4277-8ae3-dd660c6a6c80 | json }}, {%- assign replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c = section.settings['replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c'] | image_url -%}
    {%- capture default_replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/892c5729-0ec2-40e4-9b52-598fa1fd10f1{%- endcapture -%}
    {%- assign replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c = replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c | default: default_replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c -%}
    "replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c": {{ replo_style_image_c3478e6c-a28a-4d0c-841e-529fdd8c253c | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}