{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_79877f04-cdfa-4eac-8eae-187e630b221d = section.settings['replo_text_79877f04-cdfa-4eac-8eae-187e630b221d'] -%}
    {%- capture default_replo_text_79877f04-cdfa-4eac-8eae-187e630b221d -%}<p>Frequently Asked Questions</p>{%- endcapture -%}
    {%- assign replo_text_79877f04-cdfa-4eac-8eae-187e630b221d = replo_text_79877f04-cdfa-4eac-8eae-187e630b221d | default: default_replo_text_79877f04-cdfa-4eac-8eae-187e630b221d -%}
    "replo_text_79877f04-cdfa-4eac-8eae-187e630b221d": {{ replo_text_79877f04-cdfa-4eac-8eae-187e630b221d | json }}, {%- assign replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 = section.settings['replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236'] -%}
    {%- capture default_replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 -%}<p>Are you certified by a third party? ✅</p>{%- endcapture -%}
    {%- assign replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 = replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 | default: default_replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 -%}
    "replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236": {{ replo_text_d07360d1-b277-421d-a5a7-2f50cb4df236 | json }}, {%- assign replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 = section.settings['replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529'] -%}
    {%- capture default_replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 -%}<p>What does it taste like ? 🐥</p>{%- endcapture -%}
    {%- assign replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 = replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 | default: default_replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 -%}
    "replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529": {{ replo_text_ae4de7b7-ad66-400c-a8f5-e62dd5cb3529 | json }}, {%- assign replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 = section.settings['replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053'] -%}
    {%- capture default_replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 -%}<p>Best time to drink it? ⏰</p>{%- endcapture -%}
    {%- assign replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 = replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 | default: default_replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 -%}
    "replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053": {{ replo_text_7e17e2f6-efa1-4a14-b87f-4ac057a63053 | json }}, {%- assign replo_text_7a604543-e4d4-46cd-be60-dbb21960507d = section.settings['replo_text_7a604543-e4d4-46cd-be60-dbb21960507d'] -%}
    {%- capture default_replo_text_7a604543-e4d4-46cd-be60-dbb21960507d -%}<p>Do I have to get a subscription? 🧐</p>{%- endcapture -%}
    {%- assign replo_text_7a604543-e4d4-46cd-be60-dbb21960507d = replo_text_7a604543-e4d4-46cd-be60-dbb21960507d | default: default_replo_text_7a604543-e4d4-46cd-be60-dbb21960507d -%}
    "replo_text_7a604543-e4d4-46cd-be60-dbb21960507d": {{ replo_text_7a604543-e4d4-46cd-be60-dbb21960507d | json }}, {%- assign replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c = section.settings['replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c'] -%}
    {%- capture default_replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c -%}<p>How much caffeine? 🍵</p>{%- endcapture -%}
    {%- assign replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c = replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c | default: default_replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c -%}
    "replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c": {{ replo_text_cb888d59-95f2-435c-8c8b-7877a294a43c | json }}, {%- assign replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 = section.settings['replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7'] -%}
    {%- capture default_replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 -%}<p>Do you have samples? 👀</p>{%- endcapture -%}
    {%- assign replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 = replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 | default: default_replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 -%}
    "replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7": {{ replo_text_2f3d73c8-eb53-428b-91a4-9aec43ce0fb7 | json }}, {%- assign replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba = section.settings['replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba'] -%}
    {%- capture default_replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba -%}<p>Question</p>{%- endcapture -%}
    {%- assign replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba = replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba | default: default_replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba -%}
    "replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba": {{ replo_text_6c8e9c47-f389-4d32-bf6a-d5b74e552dba | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}