
</div>
</div>
<div class="okeReviews-review-reviewer-profile-details">
<div class="okeReviews-review-reviewer-profile-details-inner">
<span class="okeReviews-review-reviewer-profile-name" aria-hidden="true">Tania T.</span>
<span aria-hidden="true" class="okeReviews-review-reviewer-profile-country okeReviews-flag okeReviews-flag--ca" data-oke-reviews-lazy-class="okeReviews-flag--ca" title="Canada"></span>
<span class="okeReviews-a11yText">Reviewed by Tania T., from Canada</span>
</div>
<div class="okeReviews-review-reviewer-profile-status okeReviews-review-reviewer-profile-status--verified">
Verified Buyer
</div>
</div>
</div>
<div class="okeReviews-review-reviewer-product">
<a href="//teangle.ca/products/teangle-ginger-lemongrass-matcha?variant=39968387039314" class="okeReviews-review-reviewer-product-thumbnail rte__image">
<img data-oke-reviews-lazy-image-url="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/GINGERLEMONGRASS_2e9e0919-3cf8-43d8-b32d-4415243724cd_x280.png?v=1688657884" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/GINGERLEMONGRASS_2e9e0919-3cf8-43d8-b32d-4415243724cd_x280.png?v=1688657884" alt="Teangle Ginger &amp; Lemongrass Matcha" class="okeReviews-review-reviewer-product-thumbnail-image" data-ly-processed="1708706479834">
</a>
<div class="okeReviews-review-reviewer-product-details">
<div class="okeReviews-review-reviewer-product-details-heading">Reviewing</div>
<a class="okeReviews-review-reviewer-product-details-link" href="//teangle.ca/products/teangle-ginger-lemongrass-matcha?variant=39968387039314">Teangle Ginger &amp; Lemongrass Matcha</a>
</div>
</div>
<div class="okeReviews-review-recommendation okeReviews-review-recommendation--yes">I recommend this product</div>
<div class="okeReviews-review-reviewer-attributes">
<div class="okeReviews-review-reviewer-attributes-item">
<div class="okeReviews-review-attribute okeReviews-review-attribute--whatWereYouDrinkingBefore">
<div class="okeReviews-review-attribute-label">What were you drinking before?</div>
<div class="okeReviews-review-attribute-value">Coffee</div>
</div>
</div>
<div class="okeReviews-review-reviewer-attributes-item">
<div class="okeReviews-review-attribute okeReviews-review-attribute--age">
<div class="okeReviews-review-attribute-label">Age</div>
<div class="okeReviews-review-attribute-value">25-34</div>
</div>
</div>
</div>
</div>
<div class="okeReviews-review-arguments">
<div class="okeReviews-review-arguments-item">
<div class="okeReviews-sectionedList okeReviews-sectionedList--whatsToLove">
<div class="okeReviews-sectionedList-heading">What's to love!</div>
<ul class="okeReviews-sectionedList-list">
<li class="okeReviews-sectionedList-list-item">Delicious</li>
<li class="okeReviews-sectionedList-list-item">I have more energy</li>
<li class="okeReviews-sectionedList-list-item">I'm in a better mood</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="okeReviews-review-primary">
<div class="okeReviews-review-primary-grid okeReviews-review-primary-grid--hasMedia">
<div class="okeReviews-review-primary-grid-left">
<div class="okeReviews-review-meta js-okeReviews-reviewMeta">
<div class="okeReviews-review-starRating">
<div class="okeReviews-starRating">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<span class="okeReviews-starRating-indicator" role="presentation">
<span class="okeReviews-starRating-indicator-layer"></span>
<span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 100%"></span>
</span>
</div>
</div><div class="okeReviews-review-date">
<span class="okeReviews-a11yText">Review posted</span><span data-oke-reviews-date="2024-01-21T01:13:05.550Z">about 1 month ago</span>
</div></div><div class="okeReviews-review-main js-okeReviews-reviewMain " data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416">
<h2 class="okeReviews-review-main-heading">
Matcha équilibré
</h2>
<div class="okeReviews-review-main-content">
<div class="js-okeReviews-reviewContent okeReviews-review-main-content-body">
<p>Le goût est parfait et le matcha est bien balancé pas trop sucré, vif mais sans amertume ou goût de gazon.</p><p>Parfait pour débuter ma journée. Pourquoi s’hydrater avec de l’eau quand on peut boire du matcha? 🍵😂</p><p>Je n’en suis pas à mon premier achat, c’est un produit gagnant. J’espère un jour essayer les autres saveurs, mais quand j’ai quelque chose que j’aime j’ai souvent tendance à demeurer conservatrice par peur de ne pas autant l’aimer. La vidéo que j’ai mise c’est les sachets individuels, je les appréciais beaucoup.  ☺️</p>
</div>
<div class="okeReviews-review-main-content-controls">
<span class="okeReviews-review-main-content-loader">Loading...</span>
<button class="okeReviews-review-main-content-untruncate okeReviews-review-main-content-readMore js-okeReviews-readMore" aria-hidden="true">Read more</button>
</div>
</div>
</div>
<div class="okeReviews-review-attributeRatings">
<div class="table-wrapper"><table class="okeReviews-attributeRatingsTable" aria-label="Product attributes ratings">
<tbody>
<tr class="okeReviews-attributeRatingsTable-row">
<th class="okeReviews-attributeRatingsTable-row-label">
Quality
</th>
<td class="okeReviews-attributeRatingsTable-row-value">
<div class="or-rg has-lbl">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<div class="or-rg-bar">
<div class="or-rg-bar-bg" style="width: 100%"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-mrk" style="left: 100%"></div>
</div>
<div class="or-rg-lbl">
<div class="or-rg-lbl-itm" aria-hidden="true">
Bad
</div>
<div class="or-rg-lbl-itm" aria-hidden="true">
Great
</div>
</div>
</div>
</td>
</tr>
<tr class="okeReviews-attributeRatingsTable-row">
<th class="okeReviews-attributeRatingsTable-row-label">
Taste
</th>
<td class="okeReviews-attributeRatingsTable-row-value">
<div class="or-rg has-lbl">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<div class="or-rg-bar">
<div class="or-rg-bar-bg" style="width: 100%"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-mrk" style="left: 100%"></div>
</div>
<div class="or-rg-lbl">
<div class="or-rg-lbl-itm" aria-hidden="true">
Bad
</div>
<div class="or-rg-lbl-itm" aria-hidden="true">
Delicious
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table></div>
</div>
</div>
<div class="okeReviews-review-primary-grid-right">
<div class="okeReviews-review-media">
<div class="okeReviews-mediaStrip">
<div class="okeReviews-mediaStrip-item-wrapper">
<a href="" class="okeReviews-mediaStrip-item js-okeReviews-mediaStrip-item okeReviews-mediaStrip-item--video rte__image" data-oke-ga-click-action="Review Video Click" role="button">
<img class="okeReviews-mediaStrip-item-media okeReviews-mediaStrip-item-media--video js-okeReviews-mediaStrip-media" alt="Video by Tania T." src="https://d4yxl4pe8dqlj.cloudfront.net/8541afcd-287c-493b-86c3-d16c1d8f873e/03d69cf6-3aa6-4399-8b06-5df79b3a2ec7/thumb-00001.jpg" data-oke-reviews-lazy-image-url="https://d4yxl4pe8dqlj.cloudfront.net/8541afcd-287c-493b-86c3-d16c1d8f873e/03d69cf6-3aa6-4399-8b06-5df79b3a2ec7/thumb-00001.jpg" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416" data-oke-reviews-media-id="03d69cf6-3aa6-4399-8b06-5df79b3a2ec7" data-ly-processed="1708706479515">
<span class="okeReviews-mediaStrip-item-videoOverlay js-okeReviews-mediaStrip-media" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416" data-oke-reviews-media-id="03d69cf6-3aa6-4399-8b06-5df79b3a2ec7">
</span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="okeReviews-review-helpful okeReviews-helpful js-okeReviews-reviewHelpful">
<span class="okeReviews-review-helpful-question okeReviews-helpful-question">Was this helpful?</span>
<div class="okeReviews-review-helpful-vote okeReviews-helpful-vote">
<button class="okeReviews-review-helpful-vote-button okeReviews-review-helpful-vote-button--positive okeReviews-helpful-vote-button okeReviews-helpful-vote-button--positive js-okeReviews-review-helpful-vote-button" aria-label="Yes" aria-describedby="okeReviews-helpful-vote-counter-positive-b4726057-38d3-419f-a47a-ec5930296416" data-oke-reviews-vote="positive" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416" data-oke-ga-click-action="Review Upvote">
<span id="okeReviews-helpful-vote-counter-positive-b4726057-38d3-419f-a47a-ec5930296416" class="okeReviews-review-helpful-vote-counter okeReviews-helpful-vote-counter">
<span class="js-okeReviews-review-helpful-vote-counter-positive" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416">0</span> <span class="okeReviews-a11yText">people voted yes</span>
</span>
</button>
<button class="okeReviews-review-helpful-vote-button okeReviews-review-helpful-vote-button--negative okeReviews-helpful-vote-button okeReviews-helpful-vote-button--negative js-okeReviews-review-helpful-vote-button" aria-label="No" aria-describedby="okeReviews-helpful-vote-counter-negative-b4726057-38d3-419f-a47a-ec5930296416" data-oke-reviews-vote="negative" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416" data-oke-ga-click-action="Review Downvote">
<span id="okeReviews-helpful-vote-counter-negative-b4726057-38d3-419f-a47a-ec5930296416" class="okeReviews-review-helpful-vote-counter okeReviews-helpful-vote-counter">
<span class="js-okeReviews-review-helpful-vote-counter-negative" data-oke-reviews-review-id="b4726057-38d3-419f-a47a-ec5930296416">0</span> <span class="okeReviews-a11yText">people voted no</span>
</span>
</button>
</div>
</div>

</div>
</article>
</div>
<div class="okeReviews-reviews-review">
<article data-oke-reviews-version="2.16.13" class="okeReviews-review js-okeReviews-review okeReviews-review--largeMedia" data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a" data-oke-reviews-reviewer-name="Line B." data-oke-ga-click-label="Teangle Ginger &amp; Lemongrass Matcha">
<div class="okeReviews-review-side">
<div class="okeReviews-review-side-inner">
<div class="okeReviews-review-reviewer">
<div class="okeReviews-review-reviewer-profile js-okeReviews-reviewerProfile">
<div class="okeReviews-review-reviewer-profile-avatar">
<div class="okeReviews-avatar okeReviews-avatar--reviewer ">
<div class="okeReviews-avatar-placeholder" aria-hidden="true">LB</div>
</div>
</div>
<div class="okeReviews-review-reviewer-profile-details">
<div class="okeReviews-review-reviewer-profile-details-inner">
<span class="okeReviews-review-reviewer-profile-name" aria-hidden="true">Line B.</span>
<span aria-hidden="true" class="okeReviews-review-reviewer-profile-country okeReviews-flag okeReviews-flag--ca" data-oke-reviews-lazy-class="okeReviews-flag--ca" title="Canada"></span>
<span class="okeReviews-a11yText">Reviewed by Line B., from Canada</span>
</div>
<div class="okeReviews-review-reviewer-profile-status okeReviews-review-reviewer-profile-status--verified">
Verified Buyer
</div>
</div>
</div>
<div class="okeReviews-review-reviewer-product">
<a href="//teangle.ca/products/teangle-ginger-lemongrass-matcha?variant=39968387039314" class="okeReviews-review-reviewer-product-thumbnail rte__image">
<img data-oke-reviews-lazy-image-url="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/GINGERLEMONGRASS_2e9e0919-3cf8-43d8-b32d-4415243724cd_x280.png?v=1688657884" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/GINGERLEMONGRASS_2e9e0919-3cf8-43d8-b32d-4415243724cd_x280.png?v=1688657884" alt="Teangle Ginger &amp; Lemongrass Matcha" class="okeReviews-review-reviewer-product-thumbnail-image" data-ly-processed="1708706479833">
</a>
<div class="okeReviews-review-reviewer-product-details">
<div class="okeReviews-review-reviewer-product-details-heading">Reviewing</div>
<a class="okeReviews-review-reviewer-product-details-link" href="//teangle.ca/products/teangle-ginger-lemongrass-matcha?variant=39968387039314">Teangle Ginger &amp; Lemongrass Matcha</a>
</div>
</div>
<div class="okeReviews-review-recommendation okeReviews-review-recommendation--yes">I recommend this product</div>
<div class="okeReviews-review-reviewer-attributes">
<div class="okeReviews-review-reviewer-attributes-item">
<div class="okeReviews-review-attribute okeReviews-review-attribute--whatWereYouDrinkingBefore">
<div class="okeReviews-review-attribute-label">What were you drinking before?</div>
<div class="okeReviews-review-attribute-value">Standard matcha</div>
</div>
</div>
<div class="okeReviews-review-reviewer-attributes-item">
<div class="okeReviews-review-attribute okeReviews-review-attribute--age">
<div class="okeReviews-review-attribute-label">Age</div>
<div class="okeReviews-review-attribute-value">65+</div>
</div>
</div>
</div>
</div>
<div class="okeReviews-review-arguments">
<div class="okeReviews-review-arguments-item">
<div class="okeReviews-sectionedList okeReviews-sectionedList--whatsToLove">
<div class="okeReviews-sectionedList-heading">What's to love!</div>
<ul class="okeReviews-sectionedList-list">
<li class="okeReviews-sectionedList-list-item">Delicious</li>
<li class="okeReviews-sectionedList-list-item">Easy to use</li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="okeReviews-review-primary">
<div class="okeReviews-review-primary-grid ">
<div class="okeReviews-review-primary-grid-left">
<div class="okeReviews-review-meta js-okeReviews-reviewMeta">
<div class="okeReviews-review-starRating">
<div class="okeReviews-starRating">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<span class="okeReviews-starRating-indicator" role="presentation">
<span class="okeReviews-starRating-indicator-layer"></span>
<span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 100%"></span>
</span>
</div>
</div><div class="okeReviews-review-date">
<span class="okeReviews-a11yText">Review posted</span><span data-oke-reviews-date="2023-12-24T18:43:51.115Z">2 months ago</span>
</div></div><div class="okeReviews-review-main js-okeReviews-reviewMain " data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a">
<h2 class="okeReviews-review-main-heading">
Opinions
</h2>
<div class="okeReviews-review-main-content">
<div class="js-okeReviews-reviewContent okeReviews-review-main-content-body">
<p>Super délicieux!</p><p>Chaud ou glacé très bon</p><p>Je suis heureuse de vous découvrir </p><p>Merci</p><p>Ps: pas encore essayé les autres</p>
</div>
<div class="okeReviews-review-main-content-controls">
<span class="okeReviews-review-main-content-loader">Loading...</span>
<button class="okeReviews-review-main-content-untruncate okeReviews-review-main-content-readMore js-okeReviews-readMore" aria-hidden="true">Read more</button>
</div>
</div>
</div>
<div class="okeReviews-review-attributeRatings">
<div class="table-wrapper"><table class="okeReviews-attributeRatingsTable" aria-label="Product attributes ratings">
<tbody>
<tr class="okeReviews-attributeRatingsTable-row">
<th class="okeReviews-attributeRatingsTable-row-label">
Quality
</th>
<td class="okeReviews-attributeRatingsTable-row-value">
<div class="or-rg has-lbl">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<div class="or-rg-bar">
<div class="or-rg-bar-bg" style="width: 100%"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-mrk" style="left: 100%"></div>
</div>
<div class="or-rg-lbl">
<div class="or-rg-lbl-itm" aria-hidden="true">
Bad
</div>
<div class="or-rg-lbl-itm" aria-hidden="true">
Great
</div>
</div>
</div>
</td>
</tr>
<tr class="okeReviews-attributeRatingsTable-row">
<th class="okeReviews-attributeRatingsTable-row-label">
Taste
</th>
<td class="okeReviews-attributeRatingsTable-row-value">
<div class="or-rg has-lbl">
<span class="okeReviews-a11yText">Rated 5 out of 5</span>
<div class="or-rg-bar">
<div class="or-rg-bar-bg" style="width: 100%"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-seg"></div>
<div class="or-rg-bar-mrk" style="left: 100%"></div>
</div>
<div class="or-rg-lbl">
<div class="or-rg-lbl-itm" aria-hidden="true">
Bad
</div>
<div class="or-rg-lbl-itm" aria-hidden="true">
Delicious
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table></div>
</div>
</div>
<div class="okeReviews-review-primary-grid-right">
</div>
</div>
<div class="okeReviews-review-helpful okeReviews-helpful js-okeReviews-reviewHelpful">
<span class="okeReviews-review-helpful-question okeReviews-helpful-question">Was this helpful?</span>
<div class="okeReviews-review-helpful-vote okeReviews-helpful-vote">
<button class="okeReviews-review-helpful-vote-button okeReviews-review-helpful-vote-button--positive okeReviews-helpful-vote-button okeReviews-helpful-vote-button--positive js-okeReviews-review-helpful-vote-button" aria-label="Yes" aria-describedby="okeReviews-helpful-vote-counter-positive-bea87572-30c2-4b39-9226-7a6b37fc202a" data-oke-reviews-vote="positive" data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a" data-oke-ga-click-action="Review Upvote">
<span id="okeReviews-helpful-vote-counter-positive-bea87572-30c2-4b39-9226-7a6b37fc202a" class="okeReviews-review-helpful-vote-counter okeReviews-helpful-vote-counter">
<span class="js-okeReviews-review-helpful-vote-counter-positive" data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a">0</span> <span class="okeReviews-a11yText">people voted yes</span>
</span>
</button>
<button class="okeReviews-review-helpful-vote-button okeReviews-review-helpful-vote-button--negative okeReviews-helpful-vote-button okeReviews-helpful-vote-button--negative js-okeReviews-review-helpful-vote-button" aria-label="No" aria-describedby="okeReviews-helpful-vote-counter-negative-bea87572-30c2-4b39-9226-7a6b37fc202a" data-oke-reviews-vote="negative" data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a" data-oke-ga-click-action="Review Downvote">
<span id="okeReviews-helpful-vote-counter-negative-bea87572-30c2-4b39-9226-7a6b37fc202a" class="okeReviews-review-helpful-vote-counter okeReviews-helpful-vote-counter">
<span class="js-okeReviews-review-helpful-vote-counter-negative" data-oke-reviews-review-id="bea87572-30c2-4b39-9226-7a6b37fc202a">0</span> <span class="okeReviews-a11yText">people voted no</span>
</span>
</button>
</div>
</div>

</div>
</article>
</div>
</div>
<div class="okeReviews-reviews-alert okeReviews-reviews-alert--bottom okeReviews-alert okeReviews-alert--bottom js-okeReviews-bottomAlert" aria-hidden="true">
<div class="okeReviews-reviews-alert-inner okeReviews-alert-inner js-okeReviews-alertInner">
</div>
</div><div class="okeReviews-reviews-footer js-okeReviews-footer js-okeReviews-reviews-footer">
<button class="okeReviews-reviews-showMore okeReviews-showMore js-okeReviews-showMore" data-oke-reviews-next-uri="/stores/8541afcd-287c-493b-86c3-d16c1d8f873e/products/shopify-4202159636562/reviews?limit=10&amp;orderBy=rating%20desc&amp;lastEvaluated=%7B%22subscriberId_collectionId%22%3A%228541afcd-287c-493b-86c3-d16c1d8f873e%3Ab085a732-1e05-4c9d-9ac3-00d43ad6f3a2%22%2C%22reviewId%22%3A%22bea87572-30c2-4b39-9226-7a6b37fc202a%22%2C%22_rating_dateCreated%22%3A%225%3A2023-12-24T18%3A43%3A51.115Z%22%7D" data-oke-ga-click-action="Review Load More">Show more</button>
</div>
</div>
</div>
</div>
</div>
<script>
!function(){function e(e){var d=e.getBoundingClientRect().width;d>=i.s&&d<i.m&&e.classList.add(s.m),d<i.m||e.classList.add(s.l)}var i={s:640,m:960},s={m:"is-okeReviews-reviewsWidget-medium",l:"is-okeReviews-reviewsWidget-large"};e(document.querySelector(".js-okeReviews-reviewsWidget"))}();
</script>
</div>
   
</div>
<!-- render Okendo stars review ends -->
              </div></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900;950&family=Ruda:wght@100;200;300;400;500;600;700;800;900;950&family=Montserrat:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-SofiaProSemiBold">
        @font-face {
          font-family: "SofiaProSemiBold";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProSemiBold.woff?v=1708691791") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style><style id="replo-fonts-SofiaProRegular">
        @font-face {
          font-family: "SofiaProRegular";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProRegular.woff?v=1708691811") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style><style id="replo-fonts-SofiaProMedium">
        @font-face {
          font-family: "SofiaProMedium";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProMedium.woff?v=1708691908") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style><style id="replo-fonts-SofiaProBold">
        @font-face {
          font-family: "SofiaProBold";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProBold.woff?v=1708691948") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style><style id="replo-fonts-SofiaProLight">
        @font-face {
          font-family: "SofiaProLight";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProLight.woff?v=1708692123") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"7409217011794","handle": "ceremonial-matcha-2","data":{{ all_products['ceremonial-matcha-2'] | json }}},{"id":"4202159636562","handle": "teangle-ginger-lemongrass-matcha","data":{{ all_products['teangle-ginger-lemongrass-matcha'] | json }}},{"id":"4202154655826","handle": "langify_image_container","data":{{ all_products['langify_image_container'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}