{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_21838559-f642-4be8-a692-012b455a2313 = section.settings['replo_text_21838559-f642-4be8-a692-012b455a2313'] -%}
    {%- capture default_replo_text_21838559-f642-4be8-a692-012b455a2313 -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_21838559-f642-4be8-a692-012b455a2313 = replo_text_21838559-f642-4be8-a692-012b455a2313 | default: default_replo_text_21838559-f642-4be8-a692-012b455a2313 -%}
    "replo_text_21838559-f642-4be8-a692-012b455a2313": {{ replo_text_21838559-f642-4be8-a692-012b455a2313 | json }}, {%- assign replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec = section.settings['replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec'] -%}
    {%- capture default_replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec = replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec | default: default_replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec -%}
    "replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec": {{ replo_text_a0064d84-2b1a-417f-962e-1beca2d21eec | json }}, {%- assign replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 = section.settings['replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9'] -%}
    {%- capture default_replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 = replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 | default: default_replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 -%}
    "replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9": {{ replo_text_2520af09-bd00-4446-934f-6df8f57b3ce9 | json }}, {%- assign replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 = section.settings['replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07'] -%}
    {%- capture default_replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 = replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 | default: default_replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 -%}
    "replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07": {{ replo_text_4ca741f1-b560-433e-b36a-5a843ec56f07 | json }}, {%- assign replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 = section.settings['replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3'] -%}
    {%- capture default_replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 -%}<p>Ingredients &amp; Quality</p>{%- endcapture -%}
    {%- assign replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 = replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 | default: default_replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 -%}
    "replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3": {{ replo_text_ca5a5dc0-c059-4322-a65c-45a5a24ebae3 | json }}, {%- assign replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 = section.settings['replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276'] -%}
    {%- capture default_replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 -%}<p>Matcha Energy  Meets Beauty Collagen</p>{%- endcapture -%}
    {%- assign replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 = replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 | default: default_replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 -%}
    "replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276": {{ replo_text_4ea2ddd6-8241-499c-8e16-9daa7436c276 | json }}, {%- assign replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 = section.settings['replo_text_aa152443-c442-4034-a5e6-0e62fd773f80'] -%}
    {%- capture default_replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 -%}<p>Delicious coconut and vanilla flavours</p>{%- endcapture -%}
    {%- assign replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 = replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 | default: default_replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 -%}
    "replo_text_aa152443-c442-4034-a5e6-0e62fd773f80": {{ replo_text_aa152443-c442-4034-a5e6-0e62fd773f80 | json }}, {%- assign replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f = section.settings['replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f'] -%}
    {%- capture default_replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f -%}<p>Choose Your Flavor</p>{%- endcapture -%}
    {%- assign replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f = replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f | default: default_replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f -%}
    "replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f": {{ replo_text_de344e56-99bd-423f-bea1-1fb4f416e48f | json }}, {%- assign replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 = section.settings['replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272'] | image_url -%}
    {%- capture default_replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 = replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 | default: default_replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 -%}
    "replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272": {{ replo_style_image_06b4a875-09e4-4a71-a9dc-ad6618505272 | json }}, {%- assign replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 = section.settings['replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472'] | image_url -%}
    {%- capture default_replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 = replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 | default: default_replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 -%}
    "replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472": {{ replo_style_image_c3bf4c8b-88b0-4d6d-9684-b39e2948d472 | json }}, {%- assign replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea = section.settings['replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea'] -%}
    {%- capture default_replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea -%}<p>Choose Your Plan</p>{%- endcapture -%}
    {%- assign replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea = replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea | default: default_replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea -%}
    "replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea": {{ replo_text_559d4a91-3c21-4d26-865d-bd5d42a8c0ea | json }}, {%- assign replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 = section.settings['replo_text_7f027949-b348-4477-b7d1-dacbaa9db479'] -%}
    {%- capture default_replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 -%}<p>Purchase Type:</p>{%- endcapture -%}
    {%- assign replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 = replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 | default: default_replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 -%}
    "replo_text_7f027949-b348-4477-b7d1-dacbaa9db479": {{ replo_text_7f027949-b348-4477-b7d1-dacbaa9db479 | json }}, {%- assign replo_text_9f5d2859-48df-4058-a766-959a006186a6 = section.settings['replo_text_9f5d2859-48df-4058-a766-959a006186a6'] -%}
    {%- capture default_replo_text_9f5d2859-48df-4058-a766-959a006186a6 -%}<p>Subscribe &amp;</p>{%- endcapture -%}
    {%- assign replo_text_9f5d2859-48df-4058-a766-959a006186a6 = replo_text_9f5d2859-48df-4058-a766-959a006186a6 | default: default_replo_text_9f5d2859-48df-4058-a766-959a006186a6 -%}
    "replo_text_9f5d2859-48df-4058-a766-959a006186a6": {{ replo_text_9f5d2859-48df-4058-a766-959a006186a6 | json }}, {%- assign replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba = section.settings['replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba'] -%}
    {%- capture default_replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba -%}<p>SAVE UP TO</p>{%- endcapture -%}
    {%- assign replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba = replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba | default: default_replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba -%}
    "replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba": {{ replo_text_0a5f7834-7b5b-489b-b971-02d2e176f2ba | json }}, {%- assign replo_text_066225b3-876f-4462-83a7-f1132c157300 = section.settings['replo_text_066225b3-876f-4462-83a7-f1132c157300'] -%}
    {%- capture default_replo_text_066225b3-876f-4462-83a7-f1132c157300 -%}<p>20%</p>{%- endcapture -%}
    {%- assign replo_text_066225b3-876f-4462-83a7-f1132c157300 = replo_text_066225b3-876f-4462-83a7-f1132c157300 | default: default_replo_text_066225b3-876f-4462-83a7-f1132c157300 -%}
    "replo_text_066225b3-876f-4462-83a7-f1132c157300": {{ replo_text_066225b3-876f-4462-83a7-f1132c157300 | json }}, {%- assign replo_text_7038edb8-57de-4908-a64d-b68bb601e040 = section.settings['replo_text_7038edb8-57de-4908-a64d-b68bb601e040'] -%}
    {%- capture default_replo_text_7038edb8-57de-4908-a64d-b68bb601e040 -%}<p>One-time purchase</p>{%- endcapture -%}
    {%- assign replo_text_7038edb8-57de-4908-a64d-b68bb601e040 = replo_text_7038edb8-57de-4908-a64d-b68bb601e040 | default: default_replo_text_7038edb8-57de-4908-a64d-b68bb601e040 -%}
    "replo_text_7038edb8-57de-4908-a64d-b68bb601e040": {{ replo_text_7038edb8-57de-4908-a64d-b68bb601e040 | json }}, {%- assign replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 = section.settings['replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0'] -%}
    {%- capture default_replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 -%}<p>Servings:</p>{%- endcapture -%}
    {%- assign replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 = replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 | default: default_replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 -%}
    "replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0": {{ replo_text_6d250d36-9fc9-4cf5-8fbd-b1e31ede43a0 | json }}, {%- assign replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 = section.settings['replo_text_cf30cd55-9683-48dc-84e9-98691a418a18'] -%}
    {%- capture default_replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 = replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 | default: default_replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 -%}
    "replo_text_cf30cd55-9683-48dc-84e9-98691a418a18": {{ replo_text_cf30cd55-9683-48dc-84e9-98691a418a18 | json }}, {%- assign replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b = section.settings['replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b'] -%}
    {%- capture default_replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b -%}<p>1 Tub</p>{%- endcapture -%}
    {%- assign replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b = replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b | default: default_replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b -%}
    "replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b": {{ replo_text_f5ff485e-604c-4f92-8c4c-5e9ac3001e0b | json }}, {%- assign replo_text_2e56775b-a10c-435f-9950-74feb8a60783 = section.settings['replo_text_2e56775b-a10c-435f-9950-74feb8a60783'] -%}
    {%- capture default_replo_text_2e56775b-a10c-435f-9950-74feb8a60783 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_2e56775b-a10c-435f-9950-74feb8a60783 = replo_text_2e56775b-a10c-435f-9950-74feb8a60783 | default: default_replo_text_2e56775b-a10c-435f-9950-74feb8a60783 -%}
    "replo_text_2e56775b-a10c-435f-9950-74feb8a60783": {{ replo_text_2e56775b-a10c-435f-9950-74feb8a60783 | json }}, {%- assign replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 = section.settings['replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691'] -%}
    {%- capture default_replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 = replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 | default: default_replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 -%}
    "replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691": {{ replo_text_b08acec0-b398-4bf2-a97c-05529d5bb691 | json }}, {%- assign replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 = section.settings['replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61'] -%}
    {%- capture default_replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 = replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 | default: default_replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 -%}
    "replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61": {{ replo_text_ba34cf95-e062-494c-bc5e-e18470d9ca61 | json }}, {%- assign replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c = section.settings['replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c'] -%}
    {%- capture default_replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c = replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c | default: default_replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c -%}
    "replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c": {{ replo_text_036d0e7b-f236-4bc4-a557-eaa88a852d8c | json }}, {%- assign replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 = section.settings['replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312'] -%}
    {%- capture default_replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 = replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 | default: default_replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 -%}
    "replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312": {{ replo_text_d9369c1d-9ea9-4648-91e8-f091e113e312 | json }}, {%- assign replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 = section.settings['replo_text_a69ff2b3-6408-48c6-89a8-57d163919423'] -%}
    {%- capture default_replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 = replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 | default: default_replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 -%}
    "replo_text_a69ff2b3-6408-48c6-89a8-57d163919423": {{ replo_text_a69ff2b3-6408-48c6-89a8-57d163919423 | json }}, {%- assign replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 = section.settings['replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4'] -%}
    {%- capture default_replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 -%}<p>2 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 = replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 | default: default_replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 -%}
    "replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4": {{ replo_text_d3053c10-648d-4f1c-a9ca-0f907c677ac4 | json }}, {%- assign replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 = section.settings['replo_text_22282419-2966-4d87-9aed-e81d9eac94b3'] -%}
    {%- capture default_replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 = replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 | default: default_replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 -%}
    "replo_text_22282419-2966-4d87-9aed-e81d9eac94b3": {{ replo_text_22282419-2966-4d87-9aed-e81d9eac94b3 | json }}, {%- assign replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 = section.settings['replo_text_fe36a289-afa8-4722-86dd-9675795d3a49'] -%}
    {%- capture default_replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 = replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 | default: default_replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 -%}
    "replo_text_fe36a289-afa8-4722-86dd-9675795d3a49": {{ replo_text_fe36a289-afa8-4722-86dd-9675795d3a49 | json }}, {%- assign replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 = section.settings['replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2'] -%}
    {%- capture default_replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 -%}<p>$13.60</p>{%- endcapture -%}
    {%- assign replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 = replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 | default: default_replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 -%}
    "replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2": {{ replo_text_b15bd52b-ceaa-4441-9911-3c4c24a3dfb2 | json }}, {%- assign replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 = section.settings['replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5'] -%}
    {%- capture default_replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 = replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 | default: default_replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 -%}
    "replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5": {{ replo_text_f282ba6a-0c03-4bf1-838c-fe32ccc890b5 | json }}, {%- assign replo_text_4109b03c-526d-4f0d-ad13-b207809082ad = section.settings['replo_text_4109b03c-526d-4f0d-ad13-b207809082ad'] -%}
    {%- capture default_replo_text_4109b03c-526d-4f0d-ad13-b207809082ad -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_4109b03c-526d-4f0d-ad13-b207809082ad = replo_text_4109b03c-526d-4f0d-ad13-b207809082ad | default: default_replo_text_4109b03c-526d-4f0d-ad13-b207809082ad -%}
    "replo_text_4109b03c-526d-4f0d-ad13-b207809082ad": {{ replo_text_4109b03c-526d-4f0d-ad13-b207809082ad | json }}, {%- assign replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 = section.settings['replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9'] -%}
    {%- capture default_replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 = replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 | default: default_replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 -%}
    "replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9": {{ replo_text_13bc60a6-285d-4552-8eb1-a34029d15ce9 | json }}, {%- assign replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 = section.settings['replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4'] -%}
    {%- capture default_replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 -%}<p>servings</p>{%- endcapture -%}
    {%- assign replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 = replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 | default: default_replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 -%}
    "replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4": {{ replo_text_61fff1cc-a0cc-4d76-a491-e2d0c49c49e4 | json }}, {%- assign replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 = section.settings['replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1'] -%}
    {%- capture default_replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 -%}<p>3 Tubs</p>{%- endcapture -%}
    {%- assign replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 = replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 | default: default_replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 -%}
    "replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1": {{ replo_text_50e1d296-13ea-43e5-b660-632a6d8147f1 | json }}, {%- assign replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e = section.settings['replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e'] -%}
    {%- capture default_replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e -%}<p>SAVE</p>{%- endcapture -%}
    {%- assign replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e = replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e | default: default_replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e -%}
    "replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e": {{ replo_text_512f5f49-08de-41d4-95a4-7d65d9502a2e | json }}, {%- assign replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f = section.settings['replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f'] -%}
    {%- capture default_replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f = replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f | default: default_replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f -%}
    "replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f": {{ replo_text_68cb64ea-68d4-492c-9615-700fa13f9e9f | json }}, {%- assign replo_text_840b032c-00ce-4e1c-b027-30bd58887672 = section.settings['replo_text_840b032c-00ce-4e1c-b027-30bd58887672'] -%}
    {%- capture default_replo_text_840b032c-00ce-4e1c-b027-30bd58887672 -%}<p>$30.60</p>{%- endcapture -%}
    {%- assign replo_text_840b032c-00ce-4e1c-b027-30bd58887672 = replo_text_840b032c-00ce-4e1c-b027-30bd58887672 | default: default_replo_text_840b032c-00ce-4e1c-b027-30bd58887672 -%}
    "replo_text_840b032c-00ce-4e1c-b027-30bd58887672": {{ replo_text_840b032c-00ce-4e1c-b027-30bd58887672 | json }}, {%- assign replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 = section.settings['replo_text_75499541-1f9d-42cf-a917-65d1a26413a4'] -%}
    {%- capture default_replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 = replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 | default: default_replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 -%}
    "replo_text_75499541-1f9d-42cf-a917-65d1a26413a4": {{ replo_text_75499541-1f9d-42cf-a917-65d1a26413a4 | json }}, {%- assign replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 = section.settings['replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9'] -%}
    {%- capture default_replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 = replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 | default: default_replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 -%}
    "replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9": {{ replo_text_285ba247-1080-45c7-9d54-d2b8e8ecc7a9 | json }}, {%- assign replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca = section.settings['replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca'] | image_url -%}
    {%- capture default_replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca = replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca | default: default_replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca -%}
    "replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca": {{ replo_style_image_d51c99bd-8bbe-4edc-b94a-e2ddc90addca | json }}, {%- assign replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 = section.settings['replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724'] | image_url -%}
    {%- capture default_replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 = replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 | default: default_replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 -%}
    "replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724": {{ replo_style_image_5ed52ae0-83d6-4fd8-8d40-d63eeb664724 | json }}, {%- assign replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 = section.settings['replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631'] -%}
    {%- capture default_replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 = replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 | default: default_replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 -%}
    "replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631": {{ replo_text_67bc25f7-30ec-4497-bedf-c78bd411c631 | json }}, {%- assign replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba = section.settings['replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba'] -%}
    {%- capture default_replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba = replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba | default: default_replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba -%}
    "replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba": {{ replo_text_51f895f2-11f4-497b-8b1d-f27dae8b54ba | json }}, {%- assign replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca = section.settings['replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca'] | image_url -%}
    {%- capture default_replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca = replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca | default: default_replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca -%}
    "replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca": {{ replo_style_image_8e3311b5-5e57-4cfc-bbdf-cc76ec5367ca | json }}, {%- assign replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 = section.settings['replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248'] | image_url -%}
    {%- capture default_replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 = replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 | default: default_replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 -%}
    "replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248": {{ replo_style_image_b5ece0bc-af5b-48a4-8db6-6e1c7d553248 | json }}, {%- assign replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e = section.settings['replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e'] -%}
    {%- capture default_replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e = replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e | default: default_replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e -%}
    "replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e": {{ replo_text_0389d0db-e12e-41d3-8d00-78dff107d63e | json }}, {%- assign replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 = section.settings['replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386'] | image_url -%}
    {%- capture default_replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 = replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 | default: default_replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 -%}
    "replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386": {{ replo_style_image_830bfd8f-82e0-480d-852e-42df5440c386 | json }}, {%- assign replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b = section.settings['replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b'] -%}
    {%- capture default_replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b -%}<p>101 Delicious Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b = replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b | default: default_replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b -%}
    "replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b": {{ replo_text_a50f6e37-fcd7-4376-af16-cbfd7ce34d8b | json }}, {%- assign replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 = section.settings['replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6'] -%}
    {%- capture default_replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 -%}<p>101 Matcha Recipes</p>{%- endcapture -%}
    {%- assign replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 = replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 | default: default_replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 -%}
    "replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6": {{ replo_text_36c32982-f28d-43f8-9d9f-472c3eb9d1e6 | json }}, {%- assign replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 = section.settings['replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267'] | image_url -%}
    {%- capture default_replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 = replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 | default: default_replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 -%}
    "replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267": {{ replo_style_image_5065cd79-e8e5-49ea-9798-4d10b6c39267 | json }}, {%- assign replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d = section.settings['replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d'] -%}
    {%- capture default_replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d -%}<p>Free CA Shipping</p>{%- endcapture -%}
    {%- assign replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d = replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d | default: default_replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d -%}
    "replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d": {{ replo_text_87ece295-8a63-4802-b1a0-2004e9e1261d | json }}, {%- assign replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 = section.settings['replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580'] | image_url -%}
    {%- capture default_replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 = replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 | default: default_replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 -%}
    "replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580": {{ replo_style_image_8c295d9e-782c-4b33-b04e-5a0b8213c580 | json }}, {%- assign replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 = section.settings['replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677'] -%}
    {%- capture default_replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 -%}<p>Why You'll Love It</p>{%- endcapture -%}
    {%- assign replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 = replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 | default: default_replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 -%}
    "replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677": {{ replo_text_f177f169-61a4-45ac-8a6a-2dd6a9729677 | json }}, {%- assign replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 = section.settings['replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3'] -%}
    {%- capture default_replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 -%}<p><span>Taste &amp; Feel</span></p>{%- endcapture -%}
    {%- assign replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 = replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 | default: default_replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 -%}
    "replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3": {{ replo_text_f707201a-e57c-48e9-b55a-c39ec3e8aff3 | json }}, {%- assign replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 = section.settings['replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405'] -%}
    {%- capture default_replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 -%}<p><span>How to Enjoy</span></p>{%- endcapture -%}
    {%- assign replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 = replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 | default: default_replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 -%}
    "replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405": {{ replo_text_7a2a014d-6953-4e8e-9693-dd2d01fdd405 | json }}, {%- assign replo_text_77d087cb-943c-45ca-a264-5b3f71489395 = section.settings['replo_text_77d087cb-943c-45ca-a264-5b3f71489395'] -%}
    {%- capture default_replo_text_77d087cb-943c-45ca-a264-5b3f71489395 -%}<p><span>Is This For You?</span></p>{%- endcapture -%}
    {%- assign replo_text_77d087cb-943c-45ca-a264-5b3f71489395 = replo_text_77d087cb-943c-45ca-a264-5b3f71489395 | default: default_replo_text_77d087cb-943c-45ca-a264-5b3f71489395 -%}
    "replo_text_77d087cb-943c-45ca-a264-5b3f71489395": {{ replo_text_77d087cb-943c-45ca-a264-5b3f71489395 | json }}, {%- assign replo_text_fe693845-1b91-430c-9582-ad0f450d8592 = section.settings['replo_text_fe693845-1b91-430c-9582-ad0f450d8592'] -%}
    {%- capture default_replo_text_fe693845-1b91-430c-9582-ad0f450d8592 -%}<p><span>Ingredients &amp; Quality</span></p>{%- endcapture -%}
    {%- assign replo_text_fe693845-1b91-430c-9582-ad0f450d8592 = replo_text_fe693845-1b91-430c-9582-ad0f450d8592 | default: default_replo_text_fe693845-1b91-430c-9582-ad0f450d8592 -%}
    "replo_text_fe693845-1b91-430c-9582-ad0f450d8592": {{ replo_text_fe693845-1b91-430c-9582-ad0f450d8592 | json }}, {%- assign replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 = section.settings['replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424'] -%}
    {%- capture default_replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 -%}<p><span>Hear What Canadians Say About Teangle 🇨🇦</span></p>{%- endcapture -%}
    {%- assign replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 = replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 | default: default_replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 -%}
    "replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424": {{ replo_text_65dfb56b-7c3a-49cd-aef2-5a4270aa7424 | json }}, {%- assign replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d = section.settings['replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d'] -%}
    {%- capture default_replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d -%}<p>"J'ai convaincu tous mes amis de passer du café au matcha collagène Teangle.”</p>{%- endcapture -%}
    {%- assign replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d = replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d | default: default_replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d -%}
    "replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d": {{ replo_text_46d0701a-fc39-4bc0-b0d6-cac2ab563a4d | json }}, {%- assign replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e = section.settings['replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e'] -%}
    {%- capture default_replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e -%}<p>Emily K. Cliente vérifiée</p>{%- endcapture -%}
    {%- assign replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e = replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e | default: default_replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e -%}
    "replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e": {{ replo_text_2fa9aa80-952b-4391-b45b-1addc7ef1e5e | json }}, {%- assign replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c = section.settings['replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c'] -%}
    {%- capture default_replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c -%}<p></p>{%- endcapture -%}
    {%- assign replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c = replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c | default: default_replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c -%}
    "replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c": {{ replo_text_db34ddc1-5361-4ae8-b801-0d6f7be15b3c | json }}, {%- assign replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 = section.settings['replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0'] -%}
    {%- capture default_replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 -%}<p>Choisissez une Saveur:</p>{%- endcapture -%}
    {%- assign replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 = replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 | default: default_replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 -%}
    "replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0": {{ replo_text_1103ac45-d78f-400e-bc4b-76e0ba060ae0 | json }}, {%- assign replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 = section.settings['replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6'] | image_url -%}
    {%- capture default_replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/2264794e-5506-4209-a459-f4cc5a129bd0{%- endcapture -%}
    {%- assign replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 = replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 | default: default_replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 -%}
    "replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6": {{ replo_style_image_fffd44b3-46fd-4dc2-be41-959af859ecf6 | json }}, {%- assign replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 = section.settings['replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9'] | image_url -%}
    {%- capture default_replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/ed2c0d85-fa7a-4aaf-a576-12348d7e3660{%- endcapture -%}
    {%- assign replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 = replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 | default: default_replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 -%}
    "replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9": {{ replo_style_image_cb56ecb5-f79a-477c-b903-d99ab153e3c9 | json }}, {%- assign replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e = section.settings['replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e'] -%}
    {%- capture default_replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e -%}<p>Choisissez votre plan</p>{%- endcapture -%}
    {%- assign replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e = replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e | default: default_replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e -%}
    "replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e": {{ replo_text_9c689aab-0330-4a06-9e58-afe5450d6b7e | json }}, {%- assign replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 = section.settings['replo_text_9e620745-9848-47bd-bc11-e76cc50e1141'] -%}
    {%- capture default_replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 -%}<p>épuisé</p>{%- endcapture -%}
    {%- assign replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 = replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 | default: default_replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 -%}
    "replo_text_9e620745-9848-47bd-bc11-e76cc50e1141": {{ replo_text_9e620745-9848-47bd-bc11-e76cc50e1141 | json }}, {%- assign replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 = section.settings['replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785'] -%}
    {%- capture default_replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 -%}<p>Type d'achat</p>{%- endcapture -%}
    {%- assign replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 = replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 | default: default_replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 -%}
    "replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785": {{ replo_text_3b70924d-69e1-42ff-9bbc-e17a2df23785 | json }}, {%- assign replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde = section.settings['replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde'] -%}
    {%- capture default_replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde -%}<p>Abonnez-vous &amp;</p>{%- endcapture -%}
    {%- assign replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde = replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde | default: default_replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde -%}
    "replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde": {{ replo_text_96508b85-983f-4e0e-bf65-7f22cdc37dde | json }}, {%- assign replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb = section.settings['replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb'] -%}
    {%- capture default_replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb -%}<p>ÉCONOMISEZ</p>{%- endcapture -%}
    {%- assign replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb = replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb | default: default_replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb -%}
    "replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb": {{ replo_text_d34e916e-e1ed-46b9-9f36-1e76e52d1ddb | json }}, {%- assign replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 = section.settings['replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009'] -%}
    {%- capture default_replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 -%}<p>Achat unique</p>{%- endcapture -%}
    {%- assign replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 = replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 | default: default_replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 -%}
    "replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009": {{ replo_text_f0ea7f76-ce0f-41ea-9827-2d8411f6c009 | json }}, {%- assign replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 = section.settings['replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717'] -%}
    {%- capture default_replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 -%}<p>Portions:</p>{%- endcapture -%}
    {%- assign replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 = replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 | default: default_replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 -%}
    "replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717": {{ replo_text_148d3bca-dd78-4aef-81ea-cdc4c6f55717 | json }}, {%- assign replo_text_aca153ba-8f33-4964-839c-92fe38c6853d = section.settings['replo_text_aca153ba-8f33-4964-839c-92fe38c6853d'] -%}
    {%- capture default_replo_text_aca153ba-8f33-4964-839c-92fe38c6853d -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_aca153ba-8f33-4964-839c-92fe38c6853d = replo_text_aca153ba-8f33-4964-839c-92fe38c6853d | default: default_replo_text_aca153ba-8f33-4964-839c-92fe38c6853d -%}
    "replo_text_aca153ba-8f33-4964-839c-92fe38c6853d": {{ replo_text_aca153ba-8f33-4964-839c-92fe38c6853d | json }}, {%- assign replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a = section.settings['replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a'] -%}
    {%- capture default_replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a -%}<p>1 Pot</p>{%- endcapture -%}
    {%- assign replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a = replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a | default: default_replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a -%}
    "replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a": {{ replo_text_3c6afe60-0ec8-42d5-a6df-1d073ecda78a | json }}, {%- assign replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 = section.settings['replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9'] -%}
    {%- capture default_replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 = replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 | default: default_replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 -%}
    "replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9": {{ replo_text_0484523e-50e6-4e7a-a3b0-81cc7bd7f2d9 | json }}, {%- assign replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb = section.settings['replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb'] -%}
    {%- capture default_replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb -%}<p>$6.80</p>{%- endcapture -%}
    {%- assign replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb = replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb | default: default_replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb -%}
    "replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb": {{ replo_text_6d6cea07-88e7-4cb7-941c-d2ea54d8fbeb | json }}, {%- assign replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 = section.settings['replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9'] -%}
    {%- capture default_replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 -%}<p>$61.20</p>{%- endcapture -%}
    {%- assign replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 = replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 | default: default_replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 -%}
    "replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9": {{ replo_text_fa66456a-1ebf-4113-b666-5039be4ed9f9 | json }}, {%- assign replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a = section.settings['replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a'] -%}
    {%- capture default_replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a = replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a | default: default_replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a -%}
    "replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a": {{ replo_text_9d9a08a0-8d2e-4123-948d-bc231ded0f4a | json }}, {%- assign replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 = section.settings['replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1'] -%}
    {%- capture default_replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 -%}<p>$68.00</p>{%- endcapture -%}
    {%- assign replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 = replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 | default: default_replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 -%}
    "replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1": {{ replo_text_be581c66-5b76-4f3d-bb4d-21d568edebf1 | json }}, {%- assign replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 = section.settings['replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069'] -%}
    {%- capture default_replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 = replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 | default: default_replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 -%}
    "replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069": {{ replo_text_0f7c8bbf-5587-464d-9f9d-233972f5f069 | json }}, {%- assign replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 = section.settings['replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1'] -%}
    {%- capture default_replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 -%}<p>2 Pots</p>{%- endcapture -%}
    {%- assign replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 = replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 | default: default_replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 -%}
    "replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1": {{ replo_text_49ed4df8-d85f-43fe-9c80-53da4cbb3bf1 | json }}, {%- assign replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 = section.settings['replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4'] -%}
    {%- capture default_replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 = replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 | default: default_replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 -%}
    "replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4": {{ replo_text_afeca2d9-e6fa-4715-a3ed-455d93cc1ed4 | json }}, {%- assign replo_text_fb735560-0001-4f94-8955-d14c55169dbf = section.settings['replo_text_fb735560-0001-4f94-8955-d14c55169dbf'] -%}
    {%- capture default_replo_text_fb735560-0001-4f94-8955-d14c55169dbf -%}<p>$20.40</p>{%- endcapture -%}
    {%- assign replo_text_fb735560-0001-4f94-8955-d14c55169dbf = replo_text_fb735560-0001-4f94-8955-d14c55169dbf | default: default_replo_text_fb735560-0001-4f94-8955-d14c55169dbf -%}
    "replo_text_fb735560-0001-4f94-8955-d14c55169dbf": {{ replo_text_fb735560-0001-4f94-8955-d14c55169dbf | json }}, {%- assign replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 = section.settings['replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601'] -%}
    {%- capture default_replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 -%}<p>$13.60</p>{%- endcapture -%}
    {%- assign replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 = replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 | default: default_replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 -%}
    "replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601": {{ replo_text_40aaa2db-c50f-4c9a-8162-4c115da7f601 | json }}, {%- assign replo_text_022729fc-0383-436c-afc0-50a612aa5f1d = section.settings['replo_text_022729fc-0383-436c-afc0-50a612aa5f1d'] -%}
    {%- capture default_replo_text_022729fc-0383-436c-afc0-50a612aa5f1d -%}<p>$115.55</p>{%- endcapture -%}
    {%- assign replo_text_022729fc-0383-436c-afc0-50a612aa5f1d = replo_text_022729fc-0383-436c-afc0-50a612aa5f1d | default: default_replo_text_022729fc-0383-436c-afc0-50a612aa5f1d -%}
    "replo_text_022729fc-0383-436c-afc0-50a612aa5f1d": {{ replo_text_022729fc-0383-436c-afc0-50a612aa5f1d | json }}, {%- assign replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 = section.settings['replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15'] -%}
    {%- capture default_replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 -%}<p>$122.40</p>{%- endcapture -%}
    {%- assign replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 = replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 | default: default_replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 -%}
    "replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15": {{ replo_text_87f8a138-cef4-4905-b3ab-8bcbd4c52a15 | json }}, {%- assign replo_text_6cfeb836-230f-439d-b363-fa735264966a = section.settings['replo_text_6cfeb836-230f-439d-b363-fa735264966a'] -%}
    {%- capture default_replo_text_6cfeb836-230f-439d-b363-fa735264966a -%}<p>$136.00</p>{%- endcapture -%}
    {%- assign replo_text_6cfeb836-230f-439d-b363-fa735264966a = replo_text_6cfeb836-230f-439d-b363-fa735264966a | default: default_replo_text_6cfeb836-230f-439d-b363-fa735264966a -%}
    "replo_text_6cfeb836-230f-439d-b363-fa735264966a": {{ replo_text_6cfeb836-230f-439d-b363-fa735264966a | json }}, {%- assign replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 = section.settings['replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302'] -%}
    {%- capture default_replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 -%}<p>Meilleure offre</p>{%- endcapture -%}
    {%- assign replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 = replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 | default: default_replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 -%}
    "replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302": {{ replo_text_2ad31aa9-9a63-450d-9f2a-3ad0fc981302 | json }}, {%- assign replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 = section.settings['replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5'] -%}
    {%- capture default_replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 -%}<p>portions</p>{%- endcapture -%}
    {%- assign replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 = replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 | default: default_replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 -%}
    "replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5": {{ replo_text_16b5ea6d-ca37-443b-929e-354616ebaea5 | json }}, {%- assign replo_text_e8162941-5451-4388-83ca-2594d5df8962 = section.settings['replo_text_e8162941-5451-4388-83ca-2594d5df8962'] -%}
    {%- capture default_replo_text_e8162941-5451-4388-83ca-2594d5df8962 -%}<p>3 Pots</p>{%- endcapture -%}
    {%- assign replo_text_e8162941-5451-4388-83ca-2594d5df8962 = replo_text_e8162941-5451-4388-83ca-2594d5df8962 | default: default_replo_text_e8162941-5451-4388-83ca-2594d5df8962 -%}
    "replo_text_e8162941-5451-4388-83ca-2594d5df8962": {{ replo_text_e8162941-5451-4388-83ca-2594d5df8962 | json }}, {%- assign replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 = section.settings['replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949'] -%}
    {%- capture default_replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 -%}<p>ÉCONOMISE</p>{%- endcapture -%}
    {%- assign replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 = replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 | default: default_replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 -%}
    "replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949": {{ replo_text_b0b0f31b-0f9c-4848-bd3c-38e666ec8949 | json }}, {%- assign replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 = section.settings['replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25'] -%}
    {%- capture default_replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 -%}<p>$40.80</p>{%- endcapture -%}
    {%- assign replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 = replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 | default: default_replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 -%}
    "replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25": {{ replo_text_d8d04451-3769-4029-b06d-748e6fc2ea25 | json }}, {%- assign replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 = section.settings['replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531'] -%}
    {%- capture default_replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 -%}<p>$30.60</p>{%- endcapture -%}
    {%- assign replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 = replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 | default: default_replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 -%}
    "replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531": {{ replo_text_ebe85f01-c5ea-4340-bc26-7044ea5d4531 | json }}, {%- assign replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 = section.settings['replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7'] -%}
    {%- capture default_replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 -%}<p>$173.40</p>{%- endcapture -%}
    {%- assign replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 = replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 | default: default_replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 -%}
    "replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7": {{ replo_text_912b7d59-4ebf-4927-b553-cd1f3d3aa6d7 | json }}, {%- assign replo_text_7961eb3f-1914-40b3-9785-379713c03b0b = section.settings['replo_text_7961eb3f-1914-40b3-9785-379713c03b0b'] -%}
    {%- capture default_replo_text_7961eb3f-1914-40b3-9785-379713c03b0b -%}<p>$204.00</p>{%- endcapture -%}
    {%- assign replo_text_7961eb3f-1914-40b3-9785-379713c03b0b = replo_text_7961eb3f-1914-40b3-9785-379713c03b0b | default: default_replo_text_7961eb3f-1914-40b3-9785-379713c03b0b -%}
    "replo_text_7961eb3f-1914-40b3-9785-379713c03b0b": {{ replo_text_7961eb3f-1914-40b3-9785-379713c03b0b | json }}, {%- assign replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 = section.settings['replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649'] | image_url -%}
    {%- capture default_replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 = replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 | default: default_replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 -%}
    "replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649": {{ replo_style_image_1c41cc00-a7a4-4c5f-8196-1aebb6e6f649 | json }}, {%- assign replo_text_d34ebc66-df7d-41f5-a686-455403105498 = section.settings['replo_text_d34ebc66-df7d-41f5-a686-455403105498'] -%}
    {%- capture default_replo_text_d34ebc66-df7d-41f5-a686-455403105498 -%}<p>CADEAU OFFERT</p>{%- endcapture -%}
    {%- assign replo_text_d34ebc66-df7d-41f5-a686-455403105498 = replo_text_d34ebc66-df7d-41f5-a686-455403105498 | default: default_replo_text_d34ebc66-df7d-41f5-a686-455403105498 -%}
    "replo_text_d34ebc66-df7d-41f5-a686-455403105498": {{ replo_text_d34ebc66-df7d-41f5-a686-455403105498 | json }}, {%- assign replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 = section.settings['replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726'] -%}
    {%- capture default_replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 -%}<p>101 Recettes Saines &amp; Délicieuses au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 = replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 | default: default_replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 -%}
    "replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726": {{ replo_text_bff32f3f-ddbc-4cb8-b5c2-5eb96991c726 | json }}, {%- assign replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 = section.settings['replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73'] -%}
    {%- capture default_replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 -%}<p>Des lattés aux gâteaux, biscuits, smoothies et plus encore.</p>{%- endcapture -%}
    {%- assign replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 = replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 | default: default_replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 -%}
    "replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73": {{ replo_text_acfa4b7f-9061-4238-a60a-84aae9578e73 | json }}, {%- assign replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 = section.settings['replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1'] | image_url -%}
    {%- capture default_replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 = replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 | default: default_replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 -%}
    "replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1": {{ replo_style_image_136bc9ef-7dde-4e18-ba91-65ebca4e7cf1 | json }}, {%- assign replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 = section.settings['replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55'] -%}
    {%- capture default_replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 -%}<p>101 délicieuses recettes au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 = replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 | default: default_replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 -%}
    "replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55": {{ replo_text_9dfef0d6-e9d2-454d-b766-84e0a29f7e55 | json }}, {%- assign replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 = section.settings['replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838'] -%}
    {%- capture default_replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 -%}<p>60 portions</p>{%- endcapture -%}
    {%- assign replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 = replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 | default: default_replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 -%}
    "replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838": {{ replo_text_040dcc04-8dfa-4349-aad1-4c9fb34e3838 | json }}, {%- assign replo_text_c117338e-4722-4d84-8996-6b584c5578dc = section.settings['replo_text_c117338e-4722-4d84-8996-6b584c5578dc'] -%}
    {%- capture default_replo_text_c117338e-4722-4d84-8996-6b584c5578dc -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_c117338e-4722-4d84-8996-6b584c5578dc = replo_text_c117338e-4722-4d84-8996-6b584c5578dc | default: default_replo_text_c117338e-4722-4d84-8996-6b584c5578dc -%}
    "replo_text_c117338e-4722-4d84-8996-6b584c5578dc": {{ replo_text_c117338e-4722-4d84-8996-6b584c5578dc | json }}, {%- assign replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 = section.settings['replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5'] -%}
    {%- capture default_replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 -%}<p>90 portions</p>{%- endcapture -%}
    {%- assign replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 = replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 | default: default_replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 -%}
    "replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5": {{ replo_text_600bdf92-b0cf-4c9c-b9f5-d93778617bd5 | json }}, {%- assign replo_text_9fbda609-426d-42d7-a9ac-87100e992385 = section.settings['replo_text_9fbda609-426d-42d7-a9ac-87100e992385'] -%}
    {%- capture default_replo_text_9fbda609-426d-42d7-a9ac-87100e992385 -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9fbda609-426d-42d7-a9ac-87100e992385 = replo_text_9fbda609-426d-42d7-a9ac-87100e992385 | default: default_replo_text_9fbda609-426d-42d7-a9ac-87100e992385 -%}
    "replo_text_9fbda609-426d-42d7-a9ac-87100e992385": {{ replo_text_9fbda609-426d-42d7-a9ac-87100e992385 | json }}, {%- assign replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 = section.settings['replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935'] | image_url -%}
    {%- capture default_replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 = replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 | default: default_replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 -%}
    "replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935": {{ replo_style_image_03eb7039-02c2-49d9-b90c-7746b7b77935 | json }}, {%- assign replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 = section.settings['replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3'] | image_url -%}
    {%- capture default_replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 = replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 | default: default_replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 -%}
    "replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3": {{ replo_style_image_33bc2856-b1fb-4de8-a9e4-5cebf7ffabc3 | json }}, {%- assign replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 = section.settings['replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6'] -%}
    {%- capture default_replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 = replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 | default: default_replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 -%}
    "replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6": {{ replo_text_c130cdb1-e59b-449c-a760-b598bf28eee6 | json }}, {%- assign replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 = section.settings['replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269'] -%}
    {%- capture default_replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 -%}<p>90 portions</p>{%- endcapture -%}
    {%- assign replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 = replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 | default: default_replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 -%}
    "replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269": {{ replo_text_f07ae2c3-d8a2-4816-94cb-e39e155e3269 | json }}, {%- assign replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 = section.settings['replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1'] -%}
    {%- capture default_replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 = replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 | default: default_replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 -%}
    "replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1": {{ replo_text_ea0970e6-5fdd-4a9a-9f3e-acab368584d1 | json }}, {%- assign replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c = section.settings['replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c'] | image_url -%}
    {%- capture default_replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/a2842157-b07b-48e2-b600-cfe6dd561e5d{%- endcapture -%}
    {%- assign replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c = replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c | default: default_replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c -%}
    "replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c": {{ replo_style_image_179817bc-6e36-498f-893b-f6ea73a0cd5c | json }}, {%- assign replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 = section.settings['replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672'] -%}
    {%- capture default_replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 -%}<p>101 délicieuses recettes au Matcha</p>{%- endcapture -%}
    {%- assign replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 = replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 | default: default_replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 -%}
    "replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672": {{ replo_text_9ed96b84-cc2a-4d5c-b7fb-0cf8683ff672 | json }}, {%- assign replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 = section.settings['replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778'] | image_url -%}
    {%- capture default_replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/7a380500-3080-48c2-8b58-697945f7e482{%- endcapture -%}
    {%- assign replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 = replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 | default: default_replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 -%}
    "replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778": {{ replo_style_image_4a7dfc01-0e23-4621-9dba-10740db8e778 | json }}, {%- assign replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 = section.settings['replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45'] -%}
    {%- capture default_replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 -%}<p>Livraison gratuite CA</p>{%- endcapture -%}
    {%- assign replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 = replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 | default: default_replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 -%}
    "replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45": {{ replo_text_3884a0f8-7a5a-45bf-b486-1045bfabfb45 | json }}, {%- assign replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 = section.settings['replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958'] | image_url -%}
    {%- capture default_replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/45fbc814-a129-4327-ba04-d4a3d3d7e717{%- endcapture -%}
    {%- assign replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 = replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 | default: default_replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 -%}
    "replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958": {{ replo_style_image_6575127e-d6d0-4e17-8940-c3aba2373958 | json }}, {%- assign replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b = section.settings['replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b'] -%}
    {%- capture default_replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b -%}<p>Bouteille Luxe pour Matcha</p>{%- endcapture -%}
    {%- assign replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b = replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b | default: default_replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b -%}
    "replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b": {{ replo_text_fcdbe23e-84f1-419d-a87b-17c59e3baa3b | json }}, {%- assign replo_text_9480095f-1638-451e-a507-adfcb23c4819 = section.settings['replo_text_9480095f-1638-451e-a507-adfcb23c4819'] -%}
    {%- capture default_replo_text_9480095f-1638-451e-a507-adfcb23c4819 -%}<p>AJOUTER AU PANIER</p>{%- endcapture -%}
    {%- assign replo_text_9480095f-1638-451e-a507-adfcb23c4819 = replo_text_9480095f-1638-451e-a507-adfcb23c4819 | default: default_replo_text_9480095f-1638-451e-a507-adfcb23c4819 -%}
    "replo_text_9480095f-1638-451e-a507-adfcb23c4819": {{ replo_text_9480095f-1638-451e-a507-adfcb23c4819 | json }}, {%- assign replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 = section.settings['replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83'] -%}
    {%- capture default_replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 -%}<p>"J'ai convaincu tous mes amis de passer du café au matcha collagène Teangle.”</p>{%- endcapture -%}
    {%- assign replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 = replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 | default: default_replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 -%}
    "replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83": {{ replo_text_b62c00b2-d5f2-45d7-badc-0e1714790f83 | json }}, {%- assign replo_text_35eab227-14d0-482f-9014-867126fa5a63 = section.settings['replo_text_35eab227-14d0-482f-9014-867126fa5a63'] -%}
    {%- capture default_replo_text_35eab227-14d0-482f-9014-867126fa5a63 -%}<p>Pourquoi vous allez l'adorer</p>{%- endcapture -%}
    {%- assign replo_text_35eab227-14d0-482f-9014-867126fa5a63 = replo_text_35eab227-14d0-482f-9014-867126fa5a63 | default: default_replo_text_35eab227-14d0-482f-9014-867126fa5a63 -%}
    "replo_text_35eab227-14d0-482f-9014-867126fa5a63": {{ replo_text_35eab227-14d0-482f-9014-867126fa5a63 | json }}, {%- assign replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 = section.settings['replo_text_b2588c47-2199-480e-811c-50d5a3b08be3'] -%}
    {%- capture default_replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 -%}<p>Goût &amp; Sensation</p>{%- endcapture -%}
    {%- assign replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 = replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 | default: default_replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 -%}
    "replo_text_b2588c47-2199-480e-811c-50d5a3b08be3": {{ replo_text_b2588c47-2199-480e-811c-50d5a3b08be3 | json }}, {%- assign replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 = section.settings['replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298'] -%}
    {%- capture default_replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 -%}<p>Comment En Profiter</p>{%- endcapture -%}
    {%- assign replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 = replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 | default: default_replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 -%}
    "replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298": {{ replo_text_455bdee0-8d00-454d-b9e6-1bb931df5298 | json }}, {%- assign replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 = section.settings['replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9'] -%}
    {%- capture default_replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 -%}<p>Est-Ce Pour Vous?</p>{%- endcapture -%}
    {%- assign replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 = replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 | default: default_replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 -%}
    "replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9": {{ replo_text_85ca438c-9459-4f03-ba0b-a4af585afdb9 | json }}, {%- assign replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 = section.settings['replo_text_ec56ebf7-b46e-4366-b252-1571766e1484'] -%}
    {%- capture default_replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 -%}<p>Ingrédients &amp; Qualité</p>{%- endcapture -%}
    {%- assign replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 = replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 | default: default_replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 -%}
    "replo_text_ec56ebf7-b46e-4366-b252-1571766e1484": {{ replo_text_ec56ebf7-b46e-4366-b252-1571766e1484 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}