{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 = section.settings['replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24'] -%}
    {%- capture default_replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 -%}<p>Delicious Flavor</p>{%- endcapture -%}
    {%- assign replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 = replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 | default: default_replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 -%}
    "replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24": {{ replo_text_92100064-b9e8-4eb6-8cb7-5173c3d02a24 | json }}, {%- assign replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 = section.settings['replo_text_abb93948-c591-4720-aeb1-a81d5ca89853'] -%}
    {%- capture default_replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 -%}<p>Easy to Make</p>{%- endcapture -%}
    {%- assign replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 = replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 | default: default_replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 -%}
    "replo_text_abb93948-c591-4720-aeb1-a81d5ca89853": {{ replo_text_abb93948-c591-4720-aeb1-a81d5ca89853 | json }}, {%- assign replo_text_0804a113-013c-4519-9d8a-3b55527738c9 = section.settings['replo_text_0804a113-013c-4519-9d8a-3b55527738c9'] -%}
    {%- capture default_replo_text_0804a113-013c-4519-9d8a-3b55527738c9 -%}<p>Steady, All-Day Energy</p>{%- endcapture -%}
    {%- assign replo_text_0804a113-013c-4519-9d8a-3b55527738c9 = replo_text_0804a113-013c-4519-9d8a-3b55527738c9 | default: default_replo_text_0804a113-013c-4519-9d8a-3b55527738c9 -%}
    "replo_text_0804a113-013c-4519-9d8a-3b55527738c9": {{ replo_text_0804a113-013c-4519-9d8a-3b55527738c9 | json }}, {%- assign replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 = section.settings['replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892'] -%}
    {%- capture default_replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 -%}<p>Organic ingredients</p>{%- endcapture -%}
    {%- assign replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 = replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 | default: default_replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 -%}
    "replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892": {{ replo_text_56667002-6d30-4d5a-aa9c-df1722fb4892 | json }}, {%- assign replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 = section.settings['replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3'] -%}
    {%- capture default_replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 -%}<p>No Caffeine Crash</p>{%- endcapture -%}
    {%- assign replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 = replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 | default: default_replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 -%}
    "replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3": {{ replo_text_b688689d-8fb7-46af-8a8d-041384ba0fe3 | json }}, {%- assign replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af = section.settings['replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af'] -%}
    {%- capture default_replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af -%}<p>Zero Sugar</p>{%- endcapture -%}
    {%- assign replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af = replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af | default: default_replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af -%}
    "replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af": {{ replo_text_fb31f612-dc20-4667-ab0e-ba1b4bbc23af | json }}, {%- assign replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f = section.settings['replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f'] -%}
    {%- capture default_replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f -%}<p>Dairy-Free</p>{%- endcapture -%}
    {%- assign replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f = replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f | default: default_replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f -%}
    "replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f": {{ replo_text_ee1c9043-63c8-45ec-bbe0-3209702e1d9f | json }}, {%- assign replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 = section.settings['replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3'] -%}
    {%- capture default_replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 -%}<p>Gluten-free</p>{%- endcapture -%}
    {%- assign replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 = replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 | default: default_replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 -%}
    "replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3": {{ replo_text_7fe867ea-f586-4ad1-ad40-46d5098bf2a3 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}