
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614061372833530523.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614061372833530523.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614061372833530523.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614061372833530523.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614061372833530523.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614061372833530523.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614061372833530523.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614061372833530523.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614061372833530523.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614061372833530523.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614061372833530523.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614061372833530523.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614061372833530523.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614061372833530523.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614061372833530523.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-614061372833530523.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614061372833530523.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614061372833530523.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614061372833530523.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614061372833530523.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614061372833530523.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614061372833530523.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614061372833530523.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614061372833530523.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614061372833530523.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614061372833530523.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614061372833530523.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614061372833530523.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614061372833530523.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614061372833530523.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614061372833530523.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614061372833530523.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614061372833530523.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614061372833530523.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614061372833530523.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614061372833530523.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614061372833530523.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614061372833530523.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-614061372833530523.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-614061372833530523.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614061372833530523.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614061372833530523.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614061372833530523.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614061372833530523.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614061372833530523.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614061372833530523.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614061372833530523.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614061372833530523.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614061372833530523.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614061372833530523.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614061372833530523.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614061372833530523.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614061372833530523.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614061372833530523.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614061372833530523.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614061372833530523.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-614061372833530523.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614061372833530523.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-614061372833530523.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614061372833530523.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614061372833530523.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614061372833530523.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614061372833530523.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-614061372833530523.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-614061372833530523.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-614061372833530523.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614061372833530523.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614061372833530523.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614061372833530523.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614061372833530523.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614061372833530523.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614061372833530523.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614061372833530523.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-614061372833530523.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-614061372833530523.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-614061372833530523.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614061372833530523.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614061372833530523.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614061372833530523.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-614061372833530523.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614061372833530523.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614061372833530523.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614061372833530523.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-614061372833530523.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-614061372833530523.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-614061372833530523.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614061372833530523.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614061372833530523.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614061372833530523.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614061372833530523.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614061372833530523.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614061372833530523.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614061372833530523.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614061372833530523 .gp-relative{position:relative}.gps-614061372833530523 .gp-z-1{z-index:1}.gps-614061372833530523 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614061372833530523 .gp-mb-0{margin-bottom:0}.gps-614061372833530523 .gp-inline-block{display:inline-block}.gps-614061372833530523 .gp-flex{display:flex}.gps-614061372833530523 .gp-inline-flex{display:inline-flex}.gps-614061372833530523 .gp-grid{display:grid}.gps-614061372833530523 .\!gp-hidden{display:none!important}.gps-614061372833530523 .gp-hidden{display:none}.gps-614061372833530523 .gp-h-auto{height:auto}.gps-614061372833530523 .gp-h-full{height:100%}.gps-614061372833530523 .gp-w-full{width:100%}.gps-614061372833530523 .gp-max-w-full{max-width:100%}.gps-614061372833530523 .gp-flex-none{flex:none}.gps-614061372833530523 .gp-shrink-0{flex-shrink:0}.gps-614061372833530523 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614061372833530523 .gp-flex-col{flex-direction:column}.gps-614061372833530523 .gp-items-center{align-items:center}.gps-614061372833530523 .gp-justify-center{justify-content:center}.gps-614061372833530523 .gp-overflow-hidden{overflow:hidden}.gps-614061372833530523 .gp-break-words{overflow-wrap:break-word}.gps-614061372833530523 .gp-text-center{text-align:center}.gps-614061372833530523 .gp-no-underline{text-decoration-line:none}.gps-614061372833530523 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614061372833530523 .gp-duration-200{transition-duration:.2s}.gps-614061372833530523 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614061372833530523 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-614061372833530523 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-614061372833530523 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-614061372833530523 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-614061372833530523 .tablet\:\!gp-hidden{display:none!important}.gps-614061372833530523 .tablet\:gp-hidden{display:none}.gps-614061372833530523 .tablet\:gp-h-auto{height:auto}.gps-614061372833530523 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614061372833530523 .mobile\:\!gp-hidden{display:none!important}.gps-614061372833530523 .mobile\:gp-hidden{display:none}.gps-614061372833530523 .mobile\:gp-h-auto{height:auto}.gps-614061372833530523 .mobile\:gp-flex-none{flex:none}}.gps-614061372833530523 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614061372833530523 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614061372833530523 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-614061372833530523 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-614061372833530523 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-614061372833530523 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3qpPU&skey=ad5a8090a951d69a&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3npPWgW08lfLYQgA&skey=ad5a8090a951d69a&v=v20) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3upPWgW08lfLYQgA&skey=ad5a8090a951d69a&v=v20) format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3ppPWgW08lfLYQgA&skey=ad5a8090a951d69a&v=v20) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3kpPWgW08lfLYQgA&skey=ad5a8090a951d69a&v=v20) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sJ3qpPWgW08lfLY&skey=ad5a8090a951d69a&v=v20) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#F9F1E8","position":{"x":50,"y":0},"preload":false,"size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g1DUD1zAAL"}' data-id="g1DUD1zAAL" id="g1DUD1zAAL" data-same-height-subgrid-container class="g1DUD1zAAL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-mobile:grid;--d-tablet:grid;--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:70px;--pl:0px;--pb:80px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:12px;--pb-mobile:30px;--pr-mobile:12px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:22px;--pl-tablet:20px;--pb-tablet:26px;--pr-tablet:20px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-mobile:100%;--bgc:#F9F1E8;--bgi:url();--bgp:50% 0%;--bgs:cover;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJ4eo4TFUq gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gQlzFjg-xS"}' data-id="gQlzFjg-xS" id="gQlzFjg-xS" data-same-height-subgrid-container class="gQlzFjg-xS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_PRODUCT;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_xON91rXZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCkcwQYplX"
        class="gCkcwQYplX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--mb-mobile:15px;--mb-tablet:40px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:32px;--size-mobile:30px;--lh:130%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCkcwQYplX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#00000000","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"","color":"#00000000","image":"","loop":"","position":"","repeat":"","size":"","type":"color","video":"","videoHtml5":""}},"uid":"gdA-5oAzmY"}' data-id="gdA-5oAzmY" id="gdA-5oAzmY" data-same-height-subgrid-container class="gdA-5oAzmY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(245, 190, 198);--d:none;--d-mobile:grid;--d-tablet:none;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:35px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:4px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:35px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--cg-mobile:0px;--rg-mobile:0px;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp-mobile:;--bgs-mobile:;--bgr-mobile:;--bga-mobile:;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gMVqulNeZK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXOE02r7G1"
        class="gXOE02r7G1"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXOE02r7G1_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ga2-LW2T1y"
        class="ga2-LW2T1y"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gga2-LW2T1y_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyfXC_Q5tL"
        class="gyfXC_Q5tL"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyfXC_Q5tL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g54JFdn09v"
        class="g54JFdn09v"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg54JFdn09v_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKaPNpheI7"
        class="gKaPNpheI7"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKaPNpheI7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXDzSIZbAR"
        class="gXDzSIZbAR"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXDzSIZbAR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq_VI5esE5"
        class="gq_VI5esE5"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq_VI5esE5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT2TNXaDJT"
        class="gT2TNXaDJT"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT2TNXaDJT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g54wpJfkE3"
        class="g54wpJfkE3"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg54wpJfkE3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="g10jyqnjD_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="grxHztQJyd"
      style="--d:block;--d-mobile:none;--d-tablet:none;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776874303318 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grxHztQJyd"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggrxHztQJyd_alt }}" title="{{ section.settings.ggrxHztQJyd_title }}" width="1943" height="2912" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "e7690787-e443-42e7-b2eb-320def710ab6.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "e7690787-e443-42e7-b2eb-320def710ab6.png" | file_url }}" loading="lazy"
      id=""
      style="--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:350px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:1943/2912;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gLolWNbHhH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaLPAuJRnn"
        class="gaLPAuJRnn"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaLPAuJRnn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFbtXyZS-"
        class="gNFbtXyZS-"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNFbtXyZS-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghjt6WUJh-"
        class="ghjt6WUJh-"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghjt6WUJh-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3H_ENZC4n"
        class="g3H_ENZC4n"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3H_ENZC4n_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gR-upih92-"
        class="gR-upih92-"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggR-upih92-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkgaYSJTGZ"
        class="gkgaYSJTGZ"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkgaYSJTGZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g12nR4uPgg"
        class="g12nR4uPgg"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg12nR4uPgg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNFnSBQsVv"
        class="gNFnSBQsVv"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNFnSBQsVv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gh9kvI-F87"
        class="gh9kvI-F87"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh9kvI-F87_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#00000000","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"","color":"#00000000","image":"","loop":"","position":"","repeat":"","size":"","type":"color","video":"","videoHtml5":""}},"uid":"g23OfvdJkc"}' data-id="g23OfvdJkc" id="g23OfvdJkc" data-same-height-subgrid-container class="g23OfvdJkc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:rgb(245, 190, 198);--d:grid;--d-mobile:none;--d-tablet:grid;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:35px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:4px;--pl-mobile:0px;--pb-mobile:20px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:35px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--cg-mobile:0px;--rg-mobile:0px;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 2fr) minmax(0, 5fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp-mobile:;--bgs-mobile:;--bgr-mobile:;--bga-mobile:;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="grw_n3cLqX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggRweSIEss"
        class="ggRweSIEss"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggRweSIEss_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTLbgUz_cn"
        class="gTLbgUz_cn"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTLbgUz_cn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxEcO1irH1"
        class="gxEcO1irH1"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxEcO1irH1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkwxCbdzzF"
        class="gkwxCbdzzF"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkwxCbdzzF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd1GvNtwBu"
        class="gd1GvNtwBu"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd1GvNtwBu_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCCEYO1Vol"
        class="gCCEYO1Vol"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCCEYO1Vol_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9GAb_3GVA"
        class="g9GAb_3GVA"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:16px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9GAb_3GVA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDbJ1di-gq"
        class="gDbJ1di-gq"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:16px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDbJ1di-gq_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gERyuKbERq"
        class="gERyuKbERq"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggERyuKbERq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gLlrIFJfyM gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="glwn8jrqy7"
      style="--d:block;--d-mobile:none;--d-tablet:none;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776874303326 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto glwn8jrqy7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.gglwn8jrqy7_alt }}" title="{{ section.settings.gglwn8jrqy7_title }}" width="1943" height="2912" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "e7690787-e443-42e7-b2eb-320def710ab6.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "e7690787-e443-42e7-b2eb-320def710ab6.png" | file_url }}" loading="lazy"
      id=""
      style="--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:350px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--aspect:3/4;--aspect-tablet:3/4;--aspect-mobile:1943/2912;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gzEIBMpWM1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-7w_YyLHj"
        class="g-7w_YyLHj"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-7w_YyLHj_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnRziGQZTt"
        class="gnRziGQZTt"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnRziGQZTt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gs-HM3W18s"
        class="gs-HM3W18s"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggs-HM3W18s_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKr5arhvsc"
        class="gKr5arhvsc"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKr5arhvsc_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpk6T1JaRF"
        class="gpk6T1JaRF"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:15px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpk6T1JaRF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVHYF2aXuS"
        class="gVHYF2aXuS"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVHYF2aXuS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo009WfZP"
        class="gzo009WfZP"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:16px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo009WfZP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZDI5PKS0_"
        class="gZDI5PKS0_"
        style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:right;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:30px;--size-mobile:16px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZDI5PKS0__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH_ZTyArQ-"
        class="gH_ZTyArQ-"
        style="--ta:right;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_PRODUCT;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:130%;--w-tablet:130%;--w-mobile:130%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:13px;--lh:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH_ZTyArQ-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gL5Dzk87SS"}' data-id="gL5Dzk87SS" id="gL5Dzk87SS" data-same-height-subgrid-container class="gL5Dzk87SS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnVF6k4qYN gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gux9Gfug3d","selectedTab":"scrollToList","target":"_self","title":"Section 10","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--mt:0px;--ml:0px;--mb:10px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:10px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gheQhzW1ue"].gp-button-base::before, [data-id="gheQhzW1ue-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gheQhzW1ue"]:hover::before, [data-id="gheQhzW1ue-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gux9Gfug3d
            target=_self
          ></a>
        <a
          data-id="gheQhzW1ue" dataId="gheQhzW1ue" data-state="idle" aria-label="<p>BUY NOW | 20% OFF</p>"
          
          href="#gux9Gfug3d" target="_self"
          style="--w:Auto;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:78px;--h-mobile:Auto;--pl:60px;--pr:60px;--pt:25px;--pb:20px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:20px;--pb-mobile:20px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#25623A;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:20px;--size-mobile:24px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px"
          class="gheQhzW1ue gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:20px;--size-mobile:24px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggheQhzW1ue_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--ml-mobile:0px;--ml-tablet:0px;--ta:center" >
        <style>[data-id="gLlW8VlJoX"].gp-button-base::before, [data-id="gLlW8VlJoX-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gLlW8VlJoX"]:hover::before, [data-id="gLlW8VlJoX-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gLlW8VlJoX" dataId="gLlW8VlJoX" data-state="idle" aria-label="<p>Limited Time: Free Milk Frother Included</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:#151515;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal"
          class="gLlW8VlJoX gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="alarm-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550818869608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,36A100,100,0,1,0,228,136,100.11,100.11,0,0,0,128,36Zm0,176a76,76,0,1,1,76-76A76.08,76.08,0,0,1,128,212ZM32.49,72.49a12,12,0,1,1-17-17l32-32a12,12,0,1,1,17,17Zm208,0a12,12,0,0,1-17,0l-32-32a12,12,0,1,1,17-17l32,32A12,12,0,0,1,240.49,72.49ZM176,124a12,12,0,0,1,0,24H128a12,12,0,0,1-12-12V88a12,12,0,0,1,24,0v36Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggLlW8VlJoX_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-614061372833530523 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614061372698788507&sectionId=614061372833530523)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCkcwQYplX_text","label":"ggCkcwQYplX_text","default":"Glow + Energy"},{"type":"html","id":"ggXOE02r7G1_text","label":"ggXOE02r7G1_text","default":"⚡"},{"type":"html","id":"gga2-LW2T1y_text","label":"gga2-LW2T1y_text","default":"Clean, Steady Energy"},{"type":"html","id":"ggyfXC_Q5tL_text","label":"ggyfXC_Q5tL_text","default":"<p>No jitters. No crash.</p>"},{"type":"html","id":"gg54JFdn09v_text","label":"gg54JFdn09v_text","default":"✨"},{"type":"html","id":"ggKaPNpheI7_text","label":"ggKaPNpheI7_text","default":"Support From Within"},{"type":"html","id":"ggXDzSIZbAR_text","label":"ggXDzSIZbAR_text","default":"<p>Designed to complement your daily routine.</p>"},{"type":"html","id":"ggq_VI5esE5_text","label":"ggq_VI5esE5_text","default":"☕"},{"type":"html","id":"ggT2TNXaDJT_text","label":"ggT2TNXaDJT_text","default":"A Better Morning Ritual"},{"type":"html","id":"gg54wpJfkE3_text","label":"gg54wpJfkE3_text","default":"<p>One scoop. One simple upgrade.</p>"},{"type":"html","id":"ggrxHztQJyd_srcSet_desktop_src","label":"ggrxHztQJyd_srcSet_desktop_src","default":"https://placehold.co/800x533?text=Image"},{"type":"html","id":"ggaLPAuJRnn_text","label":"ggaLPAuJRnn_text","default":"🍵"},{"type":"html","id":"ggNFbtXyZS-_text","label":"ggNFbtXyZS-_text","default":"1g Ceremonial Matcha"},{"type":"html","id":"gghjt6WUJh-_text","label":"gghjt6WUJh-_text","default":"<p>Calm, focused energy.</p>"},{"type":"html","id":"gg3H_ENZC4n_text","label":"gg3H_ENZC4n_text","default":"<strong>💚</strong>"},{"type":"html","id":"ggR-upih92-_text","label":"ggR-upih92-_text","default":"5g Marine&nbsp;<br>Collagen"},{"type":"html","id":"ggkgaYSJTGZ_text","label":"ggkgaYSJTGZ_text","default":"<p>High-quality hydrolyzed peptides.</p>"},{"type":"html","id":"gg12nR4uPgg_text","label":"gg12nR4uPgg_text","default":"<strong>🌿</strong>"},{"type":"html","id":"ggNFnSBQsVv_text","label":"ggNFnSBQsVv_text","default":"Zero Sugar. No Dairy. No Gluten."},{"type":"html","id":"ggh9kvI-F87_text","label":"ggh9kvI-F87_text","default":"<p>Nothing unnecessary. Nothing weird.</p>"},{"type":"html","id":"gggRweSIEss_text","label":"gggRweSIEss_text","default":"⚡"},{"type":"html","id":"ggTLbgUz_cn_text","label":"ggTLbgUz_cn_text","default":"Clean, Steady Energy"},{"type":"html","id":"ggxEcO1irH1_text","label":"ggxEcO1irH1_text","default":"<p>No jitters. No crash.</p>"},{"type":"html","id":"ggkwxCbdzzF_text","label":"ggkwxCbdzzF_text","default":"✨"},{"type":"html","id":"ggd1GvNtwBu_text","label":"ggd1GvNtwBu_text","default":"Support From Within"},{"type":"html","id":"ggCCEYO1Vol_text","label":"ggCCEYO1Vol_text","default":"<p>Designed to complement your daily routine.</p>"},{"type":"html","id":"gg9GAb_3GVA_text","label":"gg9GAb_3GVA_text","default":"😊"},{"type":"html","id":"ggDbJ1di-gq_text","label":"ggDbJ1di-gq_text","default":"A Better Morning Ritual"},{"type":"html","id":"ggERyuKbERq_text","label":"ggERyuKbERq_text","default":"<p>One scoop. One simple upgrade.</p>"},{"type":"html","id":"gglwn8jrqy7_srcSet_desktop_src","label":"gglwn8jrqy7_srcSet_desktop_src","default":"https://placehold.co/800x533?text=Image"},{"type":"html","id":"gg-7w_YyLHj_text","label":"gg-7w_YyLHj_text","default":"🍵"},{"type":"html","id":"ggnRziGQZTt_text","label":"ggnRziGQZTt_text","default":"1g Ceremonial Matcha"},{"type":"html","id":"ggs-HM3W18s_text","label":"ggs-HM3W18s_text","default":"<p>Calm, focused energy.</p>"},{"type":"html","id":"ggKr5arhvsc_text","label":"ggKr5arhvsc_text","default":"<strong>💚</strong>"},{"type":"html","id":"ggpk6T1JaRF_text","label":"ggpk6T1JaRF_text","default":"5g Marine Collagen"},{"type":"html","id":"ggVHYF2aXuS_text","label":"ggVHYF2aXuS_text","default":"<p>High-quality hydrolyzed peptides.</p>"},{"type":"html","id":"ggzo009WfZP_text","label":"ggzo009WfZP_text","default":"<strong>🌿</strong>"},{"type":"html","id":"ggZDI5PKS0__text","label":"ggZDI5PKS0__text","default":"Zero Sugar. No Dairy. No Gluten."},{"type":"html","id":"ggH_ZTyArQ-_text","label":"ggH_ZTyArQ-_text","default":"<p>Nothing unnecessary. Nothing weird.</p>"},{"type":"html","id":"ggheQhzW1ue_label","label":"ggheQhzW1ue_label","default":"<p>BUY NOW | 20% OFF</p>"},{"type":"html","id":"ggLlW8VlJoX_label","label":"ggLlW8VlJoX_label","default":"<p>Limited Time: Free Milk Frother Included</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}