
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611073605006000659.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-611073605006000659.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611073605006000659.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-611073605006000659.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611073605006000659.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611073605006000659.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-611073605006000659.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611073605006000659.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611073605006000659.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611073605006000659.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611073605006000659.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611073605006000659.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-611073605006000659.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611073605006000659.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611073605006000659.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611073605006000659.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611073605006000659.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611073605006000659.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611073605006000659.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-611073605006000659.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611073605006000659.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611073605006000659.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611073605006000659.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611073605006000659.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611073605006000659.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611073605006000659.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611073605006000659.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-611073605006000659.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611073605006000659.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611073605006000659.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611073605006000659.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-611073605006000659.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-611073605006000659.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611073605006000659.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611073605006000659.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611073605006000659.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611073605006000659.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611073605006000659.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611073605006000659.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611073605006000659.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611073605006000659.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611073605006000659.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-611073605006000659.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-611073605006000659.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-611073605006000659.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611073605006000659.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611073605006000659.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611073605006000659.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611073605006000659.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611073605006000659.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611073605006000659.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611073605006000659.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611073605006000659.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-611073605006000659.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611073605006000659.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-611073605006000659.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611073605006000659.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-611073605006000659.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-611073605006000659.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-611073605006000659.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611073605006000659.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-611073605006000659.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-611073605006000659.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-611073605006000659.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611073605006000659.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-611073605006000659.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-611073605006000659.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-611073605006000659.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-611073605006000659.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-611073605006000659.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611073605006000659.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611073605006000659.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-611073605006000659.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-611073605006000659.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-611073605006000659.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-611073605006000659.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-611073605006000659.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-611073605006000659.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-611073605006000659.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-611073605006000659.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-611073605006000659.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-611073605006000659.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611073605006000659.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-611073605006000659.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611073605006000659.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-611073605006000659.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-611073605006000659.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-611073605006000659.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611073605006000659.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611073605006000659.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-611073605006000659.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-611073605006000659.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-611073605006000659.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611073605006000659.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611073605006000659.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611073605006000659.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611073605006000659.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-611073605006000659.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-611073605006000659.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-611073605006000659 .-gp-rotate-90,.gps-611073605006000659 .gp-rotate-180,.gps-611073605006000659 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-611073605006000659 .gp-relative{position:relative}.gps-611073605006000659 .gp-z-1{z-index:1}.gps-611073605006000659 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611073605006000659 .gp-mb-0{margin-bottom:0}.gps-611073605006000659 .gp-flex{display:flex}.gps-611073605006000659 .gp-inline-flex{display:inline-flex}.gps-611073605006000659 .gp-grid{display:grid}.gps-611073605006000659 .\!gp-hidden{display:none!important}.gps-611073605006000659 .gp-hidden{display:none}.gps-611073605006000659 .gp-h-full{height:100%}.gps-611073605006000659 .gp-min-h-0{min-height:0}.gps-611073605006000659 .gp-w-full{width:100%}.gps-611073605006000659 .gp-max-w-full{max-width:100%}.gps-611073605006000659 .gp-shrink-0{flex-shrink:0}.gps-611073605006000659 .-gp-rotate-90{--tw-rotate:-90deg}.gps-611073605006000659 .-gp-rotate-90,.gps-611073605006000659 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-611073605006000659 .gp-rotate-180{--tw-rotate:180deg}.gps-611073605006000659 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-611073605006000659 .gp-cursor-pointer{cursor:pointer}.gps-611073605006000659 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-611073605006000659 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611073605006000659 .gp-flex-col{flex-direction:column}.gps-611073605006000659 .gp-items-center{align-items:center}.gps-611073605006000659 .gp-justify-center{justify-content:center}.gps-611073605006000659 .gp-gap-\[16px\]{gap:16px}.gps-611073605006000659 .gp-overflow-hidden{overflow:hidden}.gps-611073605006000659 .gp-overflow-clip{overflow:clip}.gps-611073605006000659 .gp-break-words{overflow-wrap:break-word}.gps-611073605006000659 .gp-break-all{word-break:break-all}.gps-611073605006000659 .gp-text-center{text-align:center}.gps-611073605006000659 .gp-no-underline{text-decoration-line:none}.gps-611073605006000659 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611073605006000659 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611073605006000659 .gp-duration-200{transition-duration:.2s}.gps-611073605006000659 .gp-duration-500{transition-duration:.5s}.gps-611073605006000659 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611073605006000659 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-611073605006000659 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-611073605006000659 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-611073605006000659 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}.gps-611073605006000659 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-611073605006000659 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-611073605006000659 .tablet\:\!gp-hidden{display:none!important}.gps-611073605006000659 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-611073605006000659 .mobile\:\!gp-hidden{display:none!important}.gps-611073605006000659 .mobile\:gp-hidden{display:none}}.gps-611073605006000659 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-611073605006000659 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-611073605006000659 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-611073605006000659 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}@media (max-width:1024px){.gps-611073605006000659 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-611073605006000659 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-611073605006000659 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-611073605006000659 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#25623A","image":{"backupFileKey":"","height":3929,"src":"","storage":"FILE_CONTENT","width":5754},"position":{"x":50,"y":100},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#25623A","image":{"backupFileKey":"","height":2416,"src":"","storage":"FILE_CONTENT","width":1601},"loop":"","position":{"x":50,"y":0},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gGmdSSh_Qa"}' data-id="gGmdSSh_Qa" id="gGmdSSh_Qa" data-same-height-subgrid-container class="gGmdSSh_Qa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:71px;--pb:70px;--mt-mobile:-13px;--mr-mobile:auto;--pt-mobile:34px;--pl-mobile:15px;--pb-mobile:30px;--pr-mobile:15px;--pt-tablet:50px;--pl-tablet:20px;--pb-tablet:70px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#25623A;--bgc-mobile:#25623A;--bgi:url();--bgi-mobile:url();--bgp:50% 100%;--bgp-mobile:50% 0%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gg3d-X-oJl gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"giML3lYubw"}' data-id="giML3lYubw" id="giML3lYubw" data-same-height-subgrid-container class="giML3lYubw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:auto;--ml:auto;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:821px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1mEBSdUFw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMhw-EDaTr"
        class="gMhw-EDaTr"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:33px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:12px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:33px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:45px;--size-tablet:30px;--size-mobile:30px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMhw-EDaTr_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gzYq1rn_yQ ">
      
    <gp-accordion data-id="gzYq1rn_yQ" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;--gg-mobile:10px;border-radius:inherit"
      gp-data='{"uid":"gzYq1rn_yQ","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817690725712232\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":"22","layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gzYq1rn_yQ","childListNumber":[],"chidlrenUid":["gzot5bPH7P","ggAcDPTWHP","gB-EaMGkTh","ghlBNjX5VL","glmMz7RTmG","gIeq8W6UZ1"]},"styles":{"bgColor":{"active":"#FFFFFF","hover":"#FFFFFF","normal":"#FFFFFF"},"color":{"active":"#121212","hover":"#121212","normal":"#000000"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#000000"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}},"mobile":{"customShapeValue":"","gap":"10px","height":"","padding":{"bottom":"10px","left":"10px","right":"10px","top":"10px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"15px","left":"24px","right":"24px","top":"15px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"10px","left":"10px","right":"10px","top":"10px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="0" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="gzot5bPH7P" id="gzot5bPH7P" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-0" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gAKd5KNW1S gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq1bi_7_C-"
        class="gq1bi_7_C-"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq1bi_7_C-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="1" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="ggAcDPTWHP" id="ggAcDPTWHP" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-1" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="g-a-yfJgoL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTJ001QG7P"
        class="gTJ001QG7P"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTJ001QG7P_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="2" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="gB-EaMGkTh" id="gB-EaMGkTh" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-2" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gQMZ_j5PLl gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfc159XPOc"
        class="gfc159XPOc"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfc159XPOc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="3" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="ghlBNjX5VL" id="ghlBNjX5VL" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-3" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gfj7r1uHw0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjo6DbPAJo"
        class="gjo6DbPAJo"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjo6DbPAJo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="4" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="glmMz7RTmG" id="glmMz7RTmG" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-4" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="gj62EJ_nI_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggGCCiKzg5"
        class="ggGCCiKzg5"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggGCCiKzg5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#2D2926;--bg:#FFFFFF;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="5" class="gzYq1rn_yQ gp-overflow-hidden gp-child-item-gzYq1rn_yQ gp-accordion-item">
      <div aria-hidden uid="gIeq8W6UZ1" id="gIeq8W6UZ1" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gzYq1rn_yQ gp-accordion-item-gzYq1rn_yQ-5" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#FFFFFF;--bgc:#FFFFFF;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#000000;width:22px;height:22px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:left;--ta:center;--ta-mobile:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#000000;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:17px;--lh:180%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzYq1rn_yQ_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pl-mobile:10px;--pr-mobile:10px">
          <div
      data-same-height-display-contents
      style="--ai:normal;--jc:normal;--o:0"
      class="geyLZh-iBX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzm8hs2FIY"
        class="gzm8hs2FIY"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzm8hs2FIY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g2eTJ42IZk"}' data-id="g2eTJ42IZk" id="g2eTJ42IZk" data-same-height-subgrid-container class="g2eTJ42IZk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggzbvyCx1n gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gKU19260M9","selectedTab":"scrollToList","target":"_self","title":"pd","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--mt:0px;--ml:0px;--mb:10px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:10px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="gVZBGreGm5"].gp-button-base::before, [data-id="gVZBGreGm5-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gVZBGreGm5"]:hover::before, [data-id="gVZBGreGm5-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gKU19260M9
            target=_self
          ></a>
        <a
          data-id="gVZBGreGm5" dataId="gVZBGreGm5" data-state="idle" aria-label="<p>START YOUR GLOW RITUAL</p><p>&nbsp;</p>"
          
          href="#gKU19260M9" target="_self"
          style="--w:Auto;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:78px;--h-mobile:Auto;--pl:60px;--pr:60px;--pt:25px;--pb:20px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:20px;--pb-mobile:20px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#FFFFFF;--c:#000000;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:20px;--size-mobile:20px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px"
          class="gVZBGreGm5 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:20px;--size-mobile:20px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggVZBGreGm5_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gw4Xo9VSAq"].gp-button-base::before, [data-id="gw4Xo9VSAq-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gw4Xo9VSAq"]:hover::before, [data-id="gw4Xo9VSAq-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gw4Xo9VSAq" dataId="gw4Xo9VSAq" data-state="idle" aria-label="<p>Limited Time: Free Milk Frother Included</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:#FFFCF9;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal"
          class="gw4Xo9VSAq gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="alarm-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550818869608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,36A100,100,0,1,0,228,136,100.11,100.11,0,0,0,128,36Zm0,176a76,76,0,1,1,76-76A76.08,76.08,0,0,1,128,212ZM32.49,72.49a12,12,0,1,1-17-17l32-32a12,12,0,1,1,17,17Zm208,0a12,12,0,0,1-17,0l-32-32a12,12,0,1,1,17-17l32,32A12,12,0,0,1,240.49,72.49ZM176,124a12,12,0,0,1,0,24H128a12,12,0,0,1-12-12V88a12,12,0,0,1,24,0v36Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggw4Xo9VSAq_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-611073605006000659 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=611073605006000659)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMhw-EDaTr_text","label":"ggMhw-EDaTr_text","default":"FAQs"},{"type":"html","id":"ggzYq1rn_yQ_childItem_0","label":"ggzYq1rn_yQ_childItem_0","default":"<p>How many servings are in one tub?</p>"},{"type":"html","id":"ggzYq1rn_yQ_childItem_1","label":"ggzYq1rn_yQ_childItem_1","default":"<p>Can this replace my coffee?</p>"},{"type":"html","id":"ggzYq1rn_yQ_childItem_2","label":"ggzYq1rn_yQ_childItem_2","default":"<p>What does it taste like?</p>"},{"type":"html","id":"ggzYq1rn_yQ_childItem_3","label":"ggzYq1rn_yQ_childItem_3","default":"<p>When will I notice results?</p>"},{"type":"html","id":"ggzYq1rn_yQ_childItem_4","label":"ggzYq1rn_yQ_childItem_4","default":"<p>Can I take it while pregnant or breastfeeding?</p>"},{"type":"html","id":"ggzYq1rn_yQ_childItem_5","label":"ggzYq1rn_yQ_childItem_5","default":"<p>Is it made in Canada?</p>"},{"type":"html","id":"ggq1bi_7_C-_text","label":"ggq1bi_7_C-_text","default":"<p>Each tub contains 30 servings. One scoop per day gives you a full 30-day ritual of calm energy and collagen support.</p>"},{"type":"html","id":"ggTJ001QG7P_text","label":"ggTJ001QG7P_text","default":"<p>Yes. Many customers switch from coffee to Vanilla Matcha Collagen because it delivers steady, focused energy without jitters or crashes. It’s a smoother alternative to traditional caffeine.</p>"},{"type":"html","id":"ggfc159XPOc_text","label":"ggfc159XPOc_text","default":"<p>Vanilla Matcha Collagen has a subtle, creamy vanilla flavour with a smooth matcha finish. It’s not overly sweet and has no fishy or gritty aftertaste.</p>"},{"type":"html","id":"ggjo6DbPAJo_text","label":"ggjo6DbPAJo_text","default":"<p>Energy benefits are often felt within the first week. Visible glow support for skin, hair, and nails typically becomes noticeable after consistent daily use over several weeks.</p>"},{"type":"html","id":"gggGCCiKzg5_text","label":"gggGCCiKzg5_text","default":"<p>If you are pregnant or breastfeeding, we recommend consulting your healthcare professional before adding any supplement to your routine.</p>"},{"type":"html","id":"ggzm8hs2FIY_text","label":"ggzm8hs2FIY_text","default":"<p>Yes. Teangle is a Canadian brand committed to clean ingredients and premium quality standards.</p>"},{"type":"html","id":"ggVZBGreGm5_label","label":"ggVZBGreGm5_label","default":"<p>START YOUR GLOW RITUAL</p><p>&nbsp;</p>"},{"type":"html","id":"ggw4Xo9VSAq_label","label":"ggw4Xo9VSAq_label","default":"<p>Limited Time: Free Milk Frother Included</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}