    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609001508335387570.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609001508335387570.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609001508335387570.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609001508335387570.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609001508335387570.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609001508335387570.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609001508335387570.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609001508335387570.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609001508335387570.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609001508335387570.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609001508335387570.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609001508335387570.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609001508335387570.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609001508335387570.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609001508335387570.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609001508335387570.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609001508335387570.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609001508335387570.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609001508335387570.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609001508335387570.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609001508335387570.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609001508335387570.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609001508335387570.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609001508335387570.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609001508335387570.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609001508335387570.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609001508335387570.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609001508335387570.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609001508335387570.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609001508335387570.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609001508335387570.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609001508335387570.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609001508335387570.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609001508335387570.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609001508335387570.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609001508335387570.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609001508335387570.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609001508335387570.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609001508335387570.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609001508335387570.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609001508335387570.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609001508335387570.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609001508335387570.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609001508335387570.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609001508335387570.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609001508335387570.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609001508335387570.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609001508335387570.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609001508335387570.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-609001508335387570.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609001508335387570.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609001508335387570.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-609001508335387570.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609001508335387570.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609001508335387570.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-609001508335387570.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609001508335387570.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609001508335387570.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609001508335387570.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609001508335387570.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-609001508335387570.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609001508335387570.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609001508335387570.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609001508335387570.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609001508335387570.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609001508335387570.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-609001508335387570.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609001508335387570.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609001508335387570.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609001508335387570.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609001508335387570.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609001508335387570.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-609001508335387570.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609001508335387570.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609001508335387570.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609001508335387570.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-609001508335387570.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-609001508335387570.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609001508335387570.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609001508335387570.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609001508335387570.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609001508335387570.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609001508335387570.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609001508335387570.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609001508335387570.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609001508335387570.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609001508335387570.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609001508335387570.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609001508335387570 .gp-relative{position:relative}.gps-609001508335387570 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609001508335387570 .gp-mb-0{margin-bottom:0}.gps-609001508335387570 .gp-inline-block{display:inline-block}.gps-609001508335387570 .gp-flex{display:flex}.gps-609001508335387570 .gp-inline-flex{display:inline-flex}.gps-609001508335387570 .gp-grid{display:grid}.gps-609001508335387570 .gp-contents{display:contents}.gps-609001508335387570 .\!gp-hidden{display:none!important}.gps-609001508335387570 .gp-hidden{display:none}.gps-609001508335387570 .gp-h-auto{height:auto}.gps-609001508335387570 .gp-h-full{height:100%}.gps-609001508335387570 .gp-w-full{width:100%}.gps-609001508335387570 .gp-max-w-full{max-width:100%}.gps-609001508335387570 .gp-flex-none{flex:none}.gps-609001508335387570 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609001508335387570 .gp-flex-col{flex-direction:column}.gps-609001508335387570 .gp-items-center{align-items:center}.gps-609001508335387570 .gp-justify-center{justify-content:center}.gps-609001508335387570 .gp-overflow-hidden{overflow:hidden}.gps-609001508335387570 .gp-break-words{overflow-wrap:break-word}.gps-609001508335387570 .gp-text-center{text-align:center}.gps-609001508335387570 .gp-no-underline{text-decoration-line:none}.gps-609001508335387570 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508335387570 .gp-duration-200{transition-duration:.2s}.gps-609001508335387570 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508335387570 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609001508335387570 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609001508335387570 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609001508335387570 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609001508335387570 .tablet\:\!gp-hidden{display:none!important}.gps-609001508335387570 .tablet\:gp-hidden{display:none}.gps-609001508335387570 .tablet\:gp-h-auto{height:auto}.gps-609001508335387570 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609001508335387570 .mobile\:\!gp-hidden{display:none!important}.gps-609001508335387570 .mobile\:gp-hidden{display:none}.gps-609001508335387570 .mobile\:gp-h-auto{height:auto}.gps-609001508335387570 .mobile\:gp-flex-none{flex:none}}.gps-609001508335387570 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609001508335387570 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sK3t.ttf) format('truetype');
}


@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69Ckt63t.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--pos-tablet:sticky;--top:0px;--z:1000;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F9F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"#F9F1E8","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"giLieyDv3d"}' data-id="giLieyDv3d" id="giLieyDv3d" data-same-height-subgrid-container class="giLieyDv3d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:5px;--pl:15px;--pb:5px;--pr:15px;--pt-mobile:5px;--pl-mobile:5px;--pb-mobile:5px;--pr-mobile:5px;--pt-tablet:2px;--pl-tablet:15px;--pb-tablet:2px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F1E8;--bgc-mobile:#F9F1E8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwJmxgRtvE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFRFHW1PJl"}' data-id="gFRFHW1PJl" id="gFRFHW1PJl" data-same-height-subgrid-container class="gFRFHW1PJl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-l);--cg-mobile:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 1fr) minmax(0, 5fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="glP8g5DlHC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gwyYTVFlan"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:20px;--ml-mobile:0px;--mb-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1772550269107 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gwyYTVFlan"
    >
      <a
        href="https://glowactiv.com.au/" target="_self" title
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTAtMjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIyNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiBmaWxsPSJ1cmwoI2ctMTUwLTI3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUwIiB0bz0iMTUwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTAtMjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIyNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiBmaWxsPSJ1cmwoI2ctMTUwLTI3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUwIiB0bz0iMTUwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTAtMjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIyNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiBmaWxsPSJ1cmwoI2ctMTUwLTI3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUwIiB0bz0iMTUwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:120px;--w-tablet:100px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gZBzatyaNW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbr_tTKHqC"}' data-id="gbr_tTKHqC" id="gbr_tTKHqC" data-same-height-subgrid-container class="gbr_tTKHqC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 1px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6AB7njxmf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8tk0xjPMH"}' data-id="g8tk0xjPMH" id="g8tk0xjPMH" data-same-height-subgrid-container class="g8tk0xjPMH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:8px;--cg-mobile:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gv5lm6M7hH gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gx1h3wY82k"
        class="gx1h3wY82k"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-body, body);--size:16px;--size-tablet:13px;--size-mobile:15px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggx1h3wY82k_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gzp0XDuKHK gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gQhsw9IcyP","selectedTab":"scrollToList","target":"_self","title":"pd","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:20px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:8px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:5px;--ta:right" >
        <style>[data-id="ga2XBHkZRc"].gp-button-base::before, [data-id="ga2XBHkZRc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="ga2XBHkZRc"]:hover::before, [data-id="ga2XBHkZRc-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gQhsw9IcyP
            target=_self
          ></a>
        <a
          data-id="ga2XBHkZRc" dataId="ga2XBHkZRc" data-state="idle" aria-label="<p>BUY NOW | 20% OFF</p>"
          
          href="#gQhsw9IcyP" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:45px;--h-tablet:45px;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:4px;--pb-mobile:4px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#1E4845;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:16px;--size-tablet:12px;--size-mobile:16px;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold"
          class="ga2XBHkZRc gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:16px;--size-tablet:12px;--size-mobile:16px;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gga2XBHkZRc_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOwfh3NOio"}' data-id="gOwfh3NOio" id="gOwfh3NOio" data-same-height-subgrid-container class="gOwfh3NOio gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-l);--cg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="gpjAK8aiRJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gTKO3DhGp0"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:20px;--ml-mobile:0px;--mb-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1772550269113 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTKO3DhGp0"
    >
      <a
        href="https://glowactiv.com.au/" target="_self" title
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTAtMjciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MCIgaGVpZ2h0PSIyNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwIiBoZWlnaHQ9IjI3IiBmaWxsPSJ1cmwoI2ctMTUwLTI3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUwIiB0bz0iMTUwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/1536x1024?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://placehold.co/1536x1024?text=Image" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNTM2LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE1MzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUzNiIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTUzNi0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTUzNiIgdG89IjE1MzYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://placehold.co/1536x1024?text=Image"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:120px;--w-tablet:120px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="g_N1f6bpvr gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gQhsw9IcyP","selectedTab":"scrollToList","target":"_self","title":"pd","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:20px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right" >
        <style>[data-id="gXGrWwOKW8"].gp-button-base::before, [data-id="gXGrWwOKW8-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gXGrWwOKW8"]:hover::before, [data-id="gXGrWwOKW8-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gQhsw9IcyP
            target=_self
          ></a>
        <a
          data-id="gXGrWwOKW8" dataId="gXGrWwOKW8" data-state="idle" aria-label="<p>BUY NOW | 20% OFF</p>"
          
          href="#gQhsw9IcyP" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:20px;--pr:20px;--pt:12px;--pb:12px;--pl-mobile:5px;--pr-mobile:5px;--pt-mobile:10px;--pb-mobile:10px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#1E4845;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:16px;--size-tablet:16px;--size-mobile:15px;--lh-mobile:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold"
          class="gXGrWwOKW8 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:16px;--size-tablet:16px;--size-mobile:15px;--lh-mobile:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggXGrWwOKW8_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-609001508335387570 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=609001508335387570)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggx1h3wY82k_text","label":"ggx1h3wY82k_text","default":"<p>Limited Time Offer - 20% off your first 3 months</p>"},{"type":"html","id":"gga2XBHkZRc_label","label":"gga2XBHkZRc_label","default":"<p>BUY NOW | 20% OFF</p>"},{"type":"html","id":"ggXGrWwOKW8_label","label":"ggXGrWwOKW8_label","default":"<p>BUY NOW | 20% OFF</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}