
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610477429655864219.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-610477429655864219.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610477429655864219.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610477429655864219.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610477429655864219.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610477429655864219.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610477429655864219.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610477429655864219.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610477429655864219.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610477429655864219.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610477429655864219.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610477429655864219.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610477429655864219.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610477429655864219.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610477429655864219.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610477429655864219.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610477429655864219.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610477429655864219.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610477429655864219.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610477429655864219.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610477429655864219.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610477429655864219.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610477429655864219.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610477429655864219.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610477429655864219.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610477429655864219.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610477429655864219.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610477429655864219.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-610477429655864219.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610477429655864219.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610477429655864219.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610477429655864219.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-610477429655864219.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610477429655864219.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610477429655864219.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610477429655864219.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610477429655864219.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610477429655864219.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-610477429655864219.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610477429655864219.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610477429655864219.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610477429655864219.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610477429655864219.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610477429655864219.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610477429655864219.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610477429655864219.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610477429655864219.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610477429655864219.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610477429655864219.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-610477429655864219.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610477429655864219.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610477429655864219.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610477429655864219.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610477429655864219.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610477429655864219.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610477429655864219.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-610477429655864219.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610477429655864219.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610477429655864219.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-610477429655864219.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610477429655864219.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610477429655864219.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610477429655864219.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610477429655864219.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-610477429655864219.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610477429655864219.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610477429655864219.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-610477429655864219.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610477429655864219.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610477429655864219.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610477429655864219.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-610477429655864219.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610477429655864219.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610477429655864219.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-610477429655864219.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-610477429655864219.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610477429655864219.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610477429655864219.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610477429655864219.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610477429655864219.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610477429655864219.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-610477429655864219.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610477429655864219.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610477429655864219 .gp-relative{position:relative}.gps-610477429655864219 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610477429655864219 .gp-mb-0{margin-bottom:0}.gps-610477429655864219 .gp-flex{display:flex}.gps-610477429655864219 .gp-inline-flex{display:inline-flex}.gps-610477429655864219 .gp-grid{display:grid}.gps-610477429655864219 .\!gp-hidden{display:none!important}.gps-610477429655864219 .gp-hidden{display:none}.gps-610477429655864219 .gp-w-full{width:100%}.gps-610477429655864219 .\!gp-max-w-none{max-width:none!important}.gps-610477429655864219 .gp-max-w-full{max-width:100%}.gps-610477429655864219 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610477429655864219 .gp-flex-col{flex-direction:column}.gps-610477429655864219 .gp-flex-wrap{flex-wrap:wrap}.gps-610477429655864219 .gp-items-center{align-items:center}.gps-610477429655864219 .gp-justify-center{justify-content:center}.gps-610477429655864219 .gp-overflow-hidden{overflow:hidden}.gps-610477429655864219 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-610477429655864219 .gp-leading-\[0\]{line-height:0}.gps-610477429655864219 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610477429655864219 .gp-duration-200{transition-duration:.2s}.gps-610477429655864219 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610477429655864219 .tablet\:\!gp-hidden{display:none!important}.gps-610477429655864219 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610477429655864219 .mobile\:\!gp-hidden{display:none!important}.gps-610477429655864219 .mobile\:gp-hidden{display:none}}.gps-610477429655864219 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-610477429655864219 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-610477429655864219 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-610477429655864219 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-610477429655864219 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610477429655864219 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-610477429655864219 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-610477429655864219 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EDE1C9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guxDnjymkX"}' data-id="guxDnjymkX" id="guxDnjymkX" data-same-height-subgrid-container class="guxDnjymkX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:45px;--pb:45px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--pt-tablet:45px;--pb-tablet:45px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#EDE1C9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCTPMHoARh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gSnYuhMJea"}' data-id="gSnYuhMJea" id="gSnYuhMJea" data-same-height-subgrid-container class="gSnYuhMJea gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--mb-tablet:0px;--pt-tablet:0px;--mb-mobile:0px;--cg:10px;--cg-mobile:5px;--rg:16px;--rg-tablet:16px;--rg-mobile:5px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_kmV3IXC- gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gFrDlC9DgF"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:0px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gykSdhSSQ1 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gtGUuxR3TW" class="gp-leading-[0] gtGUuxR3TW" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gtGUuxR3TW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gtGUuxR3TW " style="--shadow:none">
      
        <div >
          <span style="--c:#FFB850;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gi44vnHFtd ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gLCmsoHOyr" class="gp-leading-[0] gLCmsoHOyr" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gLCmsoHOyr" class="icon-wrapper gp-inline-flex gp-overflow-hidden gLCmsoHOyr " style="--shadow:none">
      
        <div >
          <span style="--c:#FFB850;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gDMcv22TOO ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gYhJoSCMvB" class="gp-leading-[0] gYhJoSCMvB" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gYhJoSCMvB" class="icon-wrapper gp-inline-flex gp-overflow-hidden gYhJoSCMvB " style="--shadow:none">
      
        <div >
          <span style="--c:#FFB850;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gtF3EEfNPe ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gtVD3RJQUO" class="gp-leading-[0] gtVD3RJQUO" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gtVD3RJQUO" class="icon-wrapper gp-inline-flex gp-overflow-hidden gtVD3RJQUO " style="--shadow:none">
      
        <div >
          <span style="--c:#FFB850;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gUJGCoO7Pe ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gi28ikkCsl" class="gp-leading-[0] gi28ikkCsl" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gi28ikkCsl" class="icon-wrapper gp-inline-flex gp-overflow-hidden gi28ikkCsl " style="--shadow:none">
      
        <div >
          <span style="--c:#FFB850;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:16px;--h:20px;--h-tablet:20px;--h-mobile:16px;--minw:20px;--minw-tablet:20px;--minw-mobile:16px;--height-desktop:20px;--height-tablet:20px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gpzptrkjev gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ-zAw67g0"
        class="gZ-zAw67g0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:11px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:Auto;--ls-tablet:0.6px;--ls-mobile:Auto;--c:#1E4845;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ-zAw67g0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKWNBod1gP"
        class="gKWNBod1gP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:38px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:Auto;--ls-tablet:0.72px;--ls-mobile:Auto;--c:#1E4845;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKWNBod1gP_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSyQZJPXDZ"
        class="gSyQZJPXDZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-tablet:20px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:Auto;--ls-tablet:0.6px;--ls-mobile:Auto;--c:#325451;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSyQZJPXDZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gPbDDamT1q"}' data-id="gPbDDamT1q" id="gPbDDamT1q" data-same-height-subgrid-container class="gPbDDamT1q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--cg:20px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGGeTachP7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gCR9AdBBFU" class="gCR9AdBBFU !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:9/16">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gCR9AdBBFU" title="Video" preload="none" data-src="{{ section.settings.ggCR9AdBBFU_html5Url }}" poster data-poster
      style="--aspect:9/16"
      class="gp-w-full gp-lazyload-video"
      
      
      muted
      
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gssXg-pzPI gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g_oAqfRblN" class="g_oAqfRblN !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:9/16">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g_oAqfRblN" title="Video" preload="none" data-src="{{ section.settings.gg_oAqfRblN_html5Url }}" poster data-poster
      style="--aspect:9/16"
      class="gp-w-full gp-lazyload-video"
      
      
      muted
      
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gq_-ndGavy gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="g_AJOY7FrP" class="g_AJOY7FrP !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-g_AJOY7FrP" title="Video" preload="none" data-src="{{ section.settings.gg_AJOY7FrP_html5Url }}" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      
      muted
      
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ga4ICgu8Qd gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gg5CnlqEq0" class="gg5CnlqEq0 !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gg5CnlqEq0" title="Video" preload="none" data-src="{{ section.settings.ggg5CnlqEq0_html5Url }}" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      
      muted
      
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-610477429655864219 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610477429588231067&sectionId=610477429655864219)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZ-zAw67g0_text","label":"ggZ-zAw67g0_text","default":"<p>150,000+ Happy Customers</p>"},{"type":"html","id":"ggKWNBod1gP_text","label":"ggKWNBod1gP_text","default":"<strong>Real Energy. Real Glow.</strong>"},{"type":"html","id":"ggSyQZJPXDZ_text","label":"ggSyQZJPXDZ_text","default":"<p>Clean, steady energy and daily beauty support you can actually feel.</p>"},{"type":"html","id":"ggCR9AdBBFU_youtubeUrl","label":"ggCR9AdBBFU_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"ggCR9AdBBFU_vimeoUrl","label":"ggCR9AdBBFU_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggCR9AdBBFU_html5Url","label":"ggCR9AdBBFU_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/a47f451995a94af38c260b770c7b4192.mp4"},{"type":"html","id":"gg_oAqfRblN_youtubeUrl","label":"gg_oAqfRblN_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"gg_oAqfRblN_vimeoUrl","label":"gg_oAqfRblN_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"gg_oAqfRblN_html5Url","label":"gg_oAqfRblN_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/a47f451995a94af38c260b770c7b4192.mp4"},{"type":"html","id":"gg_AJOY7FrP_youtubeUrl","label":"gg_AJOY7FrP_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"gg_AJOY7FrP_vimeoUrl","label":"gg_AJOY7FrP_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"gg_AJOY7FrP_html5Url","label":"gg_AJOY7FrP_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/a47f451995a94af38c260b770c7b4192.mp4"},{"type":"html","id":"ggg5CnlqEq0_youtubeUrl","label":"ggg5CnlqEq0_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"ggg5CnlqEq0_vimeoUrl","label":"ggg5CnlqEq0_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggg5CnlqEq0_html5Url","label":"ggg5CnlqEq0_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/a47f451995a94af38c260b770c7b4192.mp4"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}