
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609001508184261554.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609001508184261554.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609001508184261554.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-609001508184261554.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609001508184261554.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609001508184261554.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-609001508184261554.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609001508184261554.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609001508184261554.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609001508184261554.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609001508184261554.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-609001508184261554.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-609001508184261554.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609001508184261554.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-609001508184261554.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-609001508184261554.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609001508184261554.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609001508184261554.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609001508184261554.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609001508184261554.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-609001508184261554.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609001508184261554.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-609001508184261554.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609001508184261554.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-609001508184261554.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609001508184261554.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609001508184261554.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609001508184261554.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-609001508184261554.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609001508184261554.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609001508184261554.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609001508184261554.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609001508184261554.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609001508184261554.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-609001508184261554.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609001508184261554.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609001508184261554.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609001508184261554.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609001508184261554.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609001508184261554.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609001508184261554.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609001508184261554.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609001508184261554.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609001508184261554.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609001508184261554.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609001508184261554.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609001508184261554.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-609001508184261554.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609001508184261554.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609001508184261554.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609001508184261554.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609001508184261554.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609001508184261554.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609001508184261554.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609001508184261554.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609001508184261554.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609001508184261554.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609001508184261554.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609001508184261554.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609001508184261554.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609001508184261554.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609001508184261554.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609001508184261554.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609001508184261554.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-609001508184261554.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609001508184261554.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609001508184261554.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-609001508184261554.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609001508184261554.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609001508184261554.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609001508184261554.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609001508184261554.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609001508184261554.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-609001508184261554.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609001508184261554.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609001508184261554.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609001508184261554.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609001508184261554.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609001508184261554.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609001508184261554.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609001508184261554.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609001508184261554.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609001508184261554.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609001508184261554.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609001508184261554.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-609001508184261554.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609001508184261554.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609001508184261554.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609001508184261554.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609001508184261554.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609001508184261554.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-609001508184261554.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609001508184261554.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609001508184261554.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609001508184261554.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609001508184261554.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609001508184261554.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609001508184261554.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609001508184261554 .gp-relative{position:relative}.gps-609001508184261554 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609001508184261554 .gp-mb-0{margin-bottom:0}.gps-609001508184261554 .gp-inline-block{display:inline-block}.gps-609001508184261554 .gp-flex{display:flex}.gps-609001508184261554 .gp-inline-flex{display:inline-flex}.gps-609001508184261554 .gp-grid{display:grid}.gps-609001508184261554 .gp-contents{display:contents}.gps-609001508184261554 .\!gp-hidden{display:none!important}.gps-609001508184261554 .gp-hidden{display:none}.gps-609001508184261554 .gp-h-auto{height:auto}.gps-609001508184261554 .gp-h-full{height:100%}.gps-609001508184261554 .gp-w-full{width:100%}.gps-609001508184261554 .gp-max-w-full{max-width:100%}.gps-609001508184261554 .gp-flex-none{flex:none}.gps-609001508184261554 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609001508184261554 .gp-flex-col{flex-direction:column}.gps-609001508184261554 .gp-items-center{align-items:center}.gps-609001508184261554 .gp-justify-center{justify-content:center}.gps-609001508184261554 .gp-overflow-hidden{overflow:hidden}.gps-609001508184261554 .gp-break-words{overflow-wrap:break-word}.gps-609001508184261554 .gp-text-center{text-align:center}.gps-609001508184261554 .gp-leading-\[0\]{line-height:0}.gps-609001508184261554 .gp-no-underline{text-decoration-line:none}.gps-609001508184261554 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508184261554 .gp-duration-200{transition-duration:.2s}.gps-609001508184261554 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508184261554 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609001508184261554 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609001508184261554 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609001508184261554 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609001508184261554 .tablet\:\!gp-hidden{display:none!important}.gps-609001508184261554 .tablet\:gp-hidden{display:none}.gps-609001508184261554 .tablet\:gp-h-auto{height:auto}.gps-609001508184261554 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609001508184261554 .mobile\:\!gp-hidden{display:none!important}.gps-609001508184261554 .mobile\:gp-hidden{display:none}.gps-609001508184261554 .mobile\:gp-h-auto{height:auto}.gps-609001508184261554 .mobile\:gp-flex-none{flex:none}}.gps-609001508184261554 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609001508184261554 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609001508184261554 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-609001508184261554 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-609001508184261554 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609001508184261554 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F9F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsxZlE7TqS"}' data-id="gsxZlE7TqS" id="gsxZlE7TqS" data-same-height-subgrid-container class="gsxZlE7TqS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:34px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:#F9F1E8;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghDb3_jcCr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXO4OfWvaD"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772523332927 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXO4OfWvaD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://placehold.co/1024x1024?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/2237x1678?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://placehold.co/2237x1678?text=Image" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://placehold.co/2237x1678?text=Image"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"uid":"gG2ZcHWBB2"}' data-id="gG2ZcHWBB2" id="gG2ZcHWBB2" data-same-height-subgrid-container class="gG2ZcHWBB2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giYKOoQtNs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvc_pnuJXO"
        class="gvc_pnuJXO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-theme-font-heading), var(--g-font-body);--weight:700;--size:40px;--size-tablet:32px;--size-mobile:30px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#2D2926;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvc_pnuJXO_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmE0dne2uh"
        class="gmE0dne2uh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--pl-mobile:10px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--weight:600;--size:40px;--size-tablet:32px;--size-mobile:20px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#2D2926;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmE0dne2uh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:20px;--pl-mobile:2px;--pr-mobile:2px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="ggEEnqVDs1 gp-custom-code">
      <div>
    <style>
/* =========================
   GLOWACTIV IMAGE-STYLE PHASE CARDS
   - Matches attached screenshot layout
   - Uses YOUR icon links
   - Phase 1/2/3 in pink
   - Adds Prepare / Supply / Support
   - Body text in regular Poppins
   Fully scoped, no impact elsewhere
   ========================= */

/* Poppins (body text) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

#ga-image-phases{
  width:100% !important;
  max-width:560px !important;
  margin:0 auto !important;
  padding:8px 10px !important;
  font-family: 'Poppins', var(--font-body-family, sans-serif) !important;
}
#ga-image-phases *{ box-sizing:border-box !important; }

#ga-image-phases .ga-item{
  display:flex !important;
  align-items:center !important;
  gap:13px !important;
  background:#ffffff !important;
  border:1px solid rgba(0,0,0,.08) !important;
  border-radius:18px !important;
  padding:10px 10px !important;
  box-shadow:0 10px 22px rgba(0,0,0,.06) !important;
}

#ga-image-phases .ga-item + .ga-item{
  margin-top:10px !important;
}

#ga-image-phases .ga-icon{
  width:56px !important;
  height:56px !important;
  flex:0 0 56px !important;
  border-radius:999px !important;
  background:rgba(250,46,125,.12) !important;
  border:1.5px solid rgba(250,46,125,.18) !important;
  display:flex !important;
  align-items:center !important;
  justify-content:center !important;
}

#ga-image-phases .ga-icon img{
  width:40px !important;
  height:40px !important;
  object-fit:contain !important;
  display:block !important;
}

#ga-image-phases .ga-text{
  min-width:0 !important;
}

/* ✅ Phase 1/2/3 in pink */
#ga-image-phases .ga-phase{
  margin:0 !important;
  font-size:18px !important;
  line-height:1.1 !important;
  font-weight:800 !important;
  color:#FA2E7D !important;
}

/* ✅ Prepare/Supply/Support shown under phase line */
#ga-image-phases .ga-sub{
  margin:2px 0 0 0 !important;
  font-size:15px !important;
  line-height:1.25 !important;
  font-weight:600 !important;
  color:#111 !important;
}

/* ✅ Body text regular Poppins */
#ga-image-phases .ga-desc{
  margin:2px 0 0 0 !important;
  font-size:14px !important;
  line-height:1.35 !important;
  font-weight:400 !important; /* regular */
  color:#1a1a1a !important;
}

/* Mobile tighten */
@media(max-width:420px){
  #ga-image-phases{ padding:6px 8px !important; }
  #ga-image-phases .ga-item{ padding:8px 8px !important; gap:10px !important; }
  #ga-image-phases .ga-icon{ width:52px !important; height:52px !important; flex-basis:52px !important; }
  #ga-image-phases .ga-icon img{ width:28px !important; height:28px !important; }
  #ga-image-phases .ga-phase{ font-size:15px !important; }
  #ga-image-phases .ga-sub{ font-size:14px !important; }
  #ga-image-phases .ga-desc{ font-size:13px !important; }
}
</style>

<div id="ga-image-phases">

  <div class="ga-item">
    <div class="ga-icon">
      <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/Untitled_design_-_2026-01-09T163103.439.png?v=1767958284" alt="">
    </div>
    <div class="ga-text">
      <p class="ga-phase">Phase 1</p>
      <p class="ga-sub">Prepare</p>
      <p class="ga-desc">Soothes the gut to maximise nutrient absorption for faster results.</p>
    </div>
  </div>

  <div class="ga-item">
    <div class="ga-icon">
      <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/5_15602961-bd1a-4f56-9a14-eb42bfa6d71b.png?v=1767957843" alt="">
    </div>
    <div class="ga-text">
      <p class="ga-phase">Phase 2</p>
      <p class="ga-sub">Supply</p>
      <p class="ga-desc">Delivers pure bioactive marine peptides that dissolve fast and taste clean.</p>
    </div>
  </div>

  <div class="ga-item">
    <div class="ga-icon">
      <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/6_43157f86-c990-4024-abb1-51a44b3f1bba.png?v=1767957843" alt="">
    </div>
    <div class="ga-text">
      <p class="ga-phase">Phase 3</p>
      <p class="ga-sub">Support</p>
      <p class="ga-desc">Vitamin C + 25 Superfoods activates the collagen for glowing results.</p>
    </div>
  </div>

</div>
    </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJ2Un8zoz8"}' data-id="gJ2Un8zoz8" id="gJ2Un8zoz8" data-same-height-subgrid-container class="gJ2Un8zoz8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:70px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:70px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:500px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnShZ2q0zk gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l3b9b55218e","selectedTab":"scrollToList","target":"_self","title":"Section 14","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:none;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:6px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:6px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gOVsVDv_I5"].gp-button-base::before, [data-id="gOVsVDv_I5-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gOVsVDv_I5"]:hover::before, [data-id="gOVsVDv_I5-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l3b9b55218e
            target=_self
          ></a>
        <a
          data-id="gOVsVDv_I5" dataId="gOVsVDv_I5" data-state="idle" aria-label="<p>BUY NOW | UP TO 37% OFF</p>"
          
          href="#i2l3b9b55218e" target="_self"
          style="--w:;--w-tablet:100%;--w-mobile:370px;--h:;--h-tablet:;--h-mobile:70px;--pl:40px;--pr:40px;--pt:20px;--pb:20px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--hvr-bblr:50px;--hvr-bbrr:50px;--hvr-btlr:50px;--hvr-btrr:50px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FA2E7D;--bg:#FA2E7D;--hvr-c:#FFFFFF;--c:#FFFFFF;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:24px;--size-tablet:20px;--size-mobile:22px;--lh:180%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold"
          class="gOVsVDv_I5 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--size:24px;--size-tablet:20px;--size-mobile:22px;--lh:180%;--lh-tablet:180%;--lh-mobile:100%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOVsVDv_I5_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  <div gp-el-wrapper  class="gMp0gC7KgZ ">
      
    
      
      
    <div class="gp-flex" >
    <div
      data-id="gMp0gC7KgZ"
       style="--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:5px"
        >
        
    <li
      data-index="0" data-id="gRaQ7J3GrV"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gMp0gC7KgZ"
      style="--cg:5px"
    >
    <div
      data-same-height-display-contents
      
      class="g_8RXv_rDE gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gNe67QRbgc" class="gp-leading-[0] gNe67QRbgc" style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center">
      <div data-id="gNe67QRbgc" class="icon-wrapper gp-inline-flex gp-overflow-hidden gNe67QRbgc " style="--bs:none;--bc:#121212">
      
        <div >
          <span style="--c:#2D2926;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550818869608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,36A100,100,0,1,0,228,136,100.11,100.11,0,0,0,128,36Zm0,176a76,76,0,1,1,76-76A76.08,76.08,0,0,1,128,212ZM32.49,72.49a12,12,0,1,1-17-17l32-32a12,12,0,1,1,17,17Zm208,0a12,12,0,0,1-17,0l-32-32a12,12,0,1,1,17-17l32,32A12,12,0,0,1,240.49,72.49ZM176,124a12,12,0,0,1,0,24H128a12,12,0,0,1-12-12V88a12,12,0,0,1,24,0v36Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="g2k4Kx5PcB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1d-N0IkoH"
        class="g1d-N0IkoH"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:10px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#2D2926;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1d-N0IkoH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-609001508184261554 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=609001508184261554)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvc_pnuJXO_text","label":"ggvc_pnuJXO_text","default":"The Daily Ritual Your Body&nbsp;Needs to Glow"},{"type":"html","id":"ggmE0dne2uh_text","label":"ggmE0dne2uh_text","default":"Powered By The Tri-Phase Glow Support System™"},{"type":"html","id":"ggOVsVDv_I5_label","label":"ggOVsVDv_I5_label","default":"<p>BUY NOW | UP TO 37% OFF</p>"},{"type":"html","id":"gg1d-N0IkoH_text","label":"gg1d-N0IkoH_text","default":"<p><strong>LIMITED TIME • FREE BOTTLE, FROTHER &amp; RECIPE BOOK</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}