    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609001508402430898.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609001508402430898.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609001508402430898.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609001508402430898.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609001508402430898.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609001508402430898.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609001508402430898.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609001508402430898.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609001508402430898.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609001508402430898.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609001508402430898.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609001508402430898.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609001508402430898.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609001508402430898.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609001508402430898.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-609001508402430898.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609001508402430898.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609001508402430898.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609001508402430898.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609001508402430898.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609001508402430898.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609001508402430898.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609001508402430898.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609001508402430898.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609001508402430898.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609001508402430898.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609001508402430898.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609001508402430898.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609001508402430898.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609001508402430898.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609001508402430898.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609001508402430898.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609001508402430898.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609001508402430898.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609001508402430898.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609001508402430898.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609001508402430898.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609001508402430898.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609001508402430898.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609001508402430898.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609001508402430898.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609001508402430898.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609001508402430898.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609001508402430898.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609001508402430898.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609001508402430898.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609001508402430898.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609001508402430898.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609001508402430898.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609001508402430898.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609001508402430898.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609001508402430898.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609001508402430898.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609001508402430898.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609001508402430898.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-609001508402430898.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609001508402430898.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-609001508402430898.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609001508402430898.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-609001508402430898.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609001508402430898.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609001508402430898.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609001508402430898.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609001508402430898.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609001508402430898.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609001508402430898.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609001508402430898.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609001508402430898.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609001508402430898.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-609001508402430898.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609001508402430898.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609001508402430898.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609001508402430898.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609001508402430898.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609001508402430898.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609001508402430898.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609001508402430898.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609001508402430898.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609001508402430898.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609001508402430898.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609001508402430898.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-609001508402430898.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609001508402430898.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609001508402430898.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609001508402430898.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609001508402430898.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609001508402430898.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-609001508402430898.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609001508402430898.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609001508402430898.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609001508402430898.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609001508402430898.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609001508402430898.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609001508402430898.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609001508402430898 .gp-relative{position:relative}.gps-609001508402430898 .gp-z-1{z-index:1}.gps-609001508402430898 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609001508402430898 .gp-mb-0{margin-bottom:0}.gps-609001508402430898 .gp-inline-block{display:inline-block}.gps-609001508402430898 .gp-flex{display:flex}.gps-609001508402430898 .gp-inline-flex{display:inline-flex}.gps-609001508402430898 .gp-grid{display:grid}.gps-609001508402430898 .gp-contents{display:contents}.gps-609001508402430898 .\!gp-hidden{display:none!important}.gps-609001508402430898 .gp-hidden{display:none}.gps-609001508402430898 .gp-h-auto{height:auto}.gps-609001508402430898 .gp-h-full{height:100%}.gps-609001508402430898 .gp-w-full{width:100%}.gps-609001508402430898 .gp-max-w-full{max-width:100%}.gps-609001508402430898 .gp-flex-none{flex:none}.gps-609001508402430898 .gp-shrink-0{flex-shrink:0}.gps-609001508402430898 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609001508402430898 .gp-flex-col{flex-direction:column}.gps-609001508402430898 .gp-items-center{align-items:center}.gps-609001508402430898 .gp-justify-center{justify-content:center}.gps-609001508402430898 .gp-overflow-hidden{overflow:hidden}.gps-609001508402430898 .gp-break-words{overflow-wrap:break-word}.gps-609001508402430898 .gp-text-center{text-align:center}.gps-609001508402430898 .gp-no-underline{text-decoration-line:none}.gps-609001508402430898 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508402430898 .gp-duration-200{transition-duration:.2s}.gps-609001508402430898 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508402430898 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609001508402430898 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609001508402430898 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609001508402430898 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609001508402430898 .tablet\:\!gp-hidden{display:none!important}.gps-609001508402430898 .tablet\:gp-hidden{display:none}.gps-609001508402430898 .tablet\:gp-h-full{height:100%}.gps-609001508402430898 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-609001508402430898 .mobile\:\!gp-hidden{display:none!important}.gps-609001508402430898 .mobile\:gp-hidden{display:none}.gps-609001508402430898 .mobile\:gp-h-full{height:100%}.gps-609001508402430898 .mobile\:gp-flex-1{flex:1 1 0%}}.gps-609001508402430898 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609001508402430898 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609001508402430898 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-609001508402430898 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-609001508402430898 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609001508402430898 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69Cdt63t.ttf) format('truetype');
}


@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sK3t.ttf) format('truetype');
}


@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69Cdt63t.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#F9F1E8","image":{"backupFileKey":"","height":3532,"src":"","storage":"FILE_CONTENT","width":5760},"position":{"x":50,"y":0},"preload":false,"size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"color":"#1E4845","image":{"backupFileKey":"","height":3532,"src":"","storage":"FILE_CONTENT","width":5760},"position":{"x":50,"y":0},"preload":false,"size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"i2l0801d401b7"}' data-id="i2l0801d401b7" id="i2l0801d401b7" data-same-height-subgrid-container class="i2l0801d401b7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-mobile:grid;--d-tablet:grid;--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:60px;--pl-tablet:0px;--pb-tablet:70px;--pr-tablet:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:42px;--pl-mobile:12px;--pb-mobile:33px;--pr-mobile:12px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F1E8;--bgc-mobile:#1E4845;--bgi:url();--bgi-mobile:url();--bgp:50% 0%;--bgp-mobile:50% 0%;--bgs:cover;--bgs-mobile:cover;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-i2lcd11b6e5e9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#1E4845","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"i2lcd11b6e5e9"}' data-id="i2lcd11b6e5e9" id="i2lcd11b6e5e9" data-same-height-subgrid-container class="i2lcd11b6e5e9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:70px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#1E4845;--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-FdtklfikiMvx gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gWB5ZiVBKh"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772655955569 gp-flex-none gp-h-auto mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gWB5ZiVBKh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "90_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjA0OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "90_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjA0OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "90_2.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTIwNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMjA0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIyMDQ4IiBmaWxsPSJ1cmwoI2ctMjA0OC0yMDQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "90_2.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--h:auto;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="c-sp-i2lb8366e42e8 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgba(212, 62, 115, 0)","type":"color","video":"","videoHtml5":""}},"uid":"sp-i2lb8366e42e8"}' data-id="sp-i2lb8366e42e8" id="sp-i2lb8366e42e8" data-same-height-subgrid-container class="sp-i2lb8366e42e8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:50px;--mt-tablet:0px;--ml-tablet:auto;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:50px;--mt-mobile:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:600px;--w-tablet:100%;--w-mobile:100%;--bgc:rgba(212, 62, 115, 0);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2lb8366e42e8 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="aknTEegdbsUM"
        class="aknTEegdbsUM"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:10px;--mr-tablet:0px;--pt-tablet:40px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-CooperBoldBT, 'CooperBoldBT'), var(--g-font-heading, heading);--size:36px;--size-tablet:30px;--size-mobile:20px;--lh:130%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gaknTEegdbsUM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="fUXXINnGpISC"
        class="fUXXINnGpISC"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:40px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:30px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:15px;--lh:150%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gfUXXINnGpISC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-BdMSLMrg"}' data-id="g-BdMSLMrg" id="g-BdMSLMrg" data-same-height-subgrid-container class="g-BdMSLMrg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:1200%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glxKqqoBGw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g7GHCDYKay"}' data-id="g7GHCDYKay" id="g7GHCDYKay" data-same-height-subgrid-container class="g7GHCDYKay gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8XU1HqNcc gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gQhsw9IcyP","selectedTab":"scrollToList","target":"_self","title":"pd","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--mt:0px;--ml:0px;--mb:10px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:10px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gn0LPthH0O"].gp-button-base::before, [data-id="gn0LPthH0O-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gn0LPthH0O"]:hover::before, [data-id="gn0LPthH0O-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gQhsw9IcyP
            target=_self
          ></a>
        <a
          data-id="gn0LPthH0O" dataId="gn0LPthH0O" data-state="idle" aria-label="<p>BUY NOW | 20% OFF</p>"
          
          href="#gQhsw9IcyP" target="_self"
          style="--w:Auto;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:78px;--h-mobile:;--pl:60px;--pr:60px;--pt:25px;--pb:20px;--pl-tablet:40px;--pr-tablet:40px;--pt-tablet:15px;--pb-tablet:15px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:20px;--pb-mobile:20px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#FFFFFF;--c:#1E4845;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:24px;--size-tablet:20px;--size-mobile:24px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold"
          class="gn0LPthH0O gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:24px;--size-tablet:20px;--size-mobile:24px;--lh:100%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggn0LPthH0O_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--ml:10px;--ml-tablet:10px;--ml-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left" >
        <style>[data-id="gJKUqRCzLo"].gp-button-base::before, [data-id="gJKUqRCzLo-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gJKUqRCzLo"]:hover::before, [data-id="gJKUqRCzLo-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gJKUqRCzLo" dataId="gJKUqRCzLo" data-state="idle" aria-label="<p>Limited Time: Free Milk Frother Included</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal"
          class="gJKUqRCzLo gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" data-name="alarm-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550818869608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,36A100,100,0,1,0,228,136,100.11,100.11,0,0,0,128,36Zm0,176a76,76,0,1,1,76-76A76.08,76.08,0,0,1,128,212ZM32.49,72.49a12,12,0,1,1-17-17l32-32a12,12,0,1,1,17,17Zm208,0a12,12,0,0,1-17,0l-32-32a12,12,0,1,1,17-17l32,32A12,12,0,0,1,240.49,72.49ZM176,124a12,12,0,0,1,0,24H128a12,12,0,0,1-12-12V88a12,12,0,0,1,24,0v36Z" /></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggJKUqRCzLo_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-609001508402430898 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=609001508402430898)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gaknTEegdbsUM_text","label":"gaknTEegdbsUM_text","default":"The Glow Up Ritual&nbsp;<br>That Fits Your Routine"},{"type":"html","id":"gfUXXINnGpISC_text","label":"gfUXXINnGpISC_text","default":"<p>Our Matcha blends ceremonial-grade matcha with hydrolyzed collagen peptides to support natural energy, glowing skin, and a feel-good daily routine you’ll actually stick to.&nbsp;</p><p>&nbsp;</p><p>With smooth, clean matcha energy (no jitters, no crash) and high-quality collagen to complement your wellness ritual, feeling confident in your skin is just one cup away.</p>"},{"type":"html","id":"ggn0LPthH0O_label","label":"ggn0LPthH0O_label","default":"<p>BUY NOW | 20% OFF</p>"},{"type":"html","id":"ggJKUqRCzLo_label","label":"ggJKUqRCzLo_label","default":"<p>Limited Time: Free Milk Frother Included</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}