{% liquid 

    assign bg_color = section.settings.bg_color
    assign text_color = section.settings.text_color

-%}

{% style %}

[data-section-id="{{ section.id }}"] {

    background-color: {{ bg_color }};
    color: {{ text_color }};
    padding: 0 2rem;

}

{% if section.settings.collapse_mobile %}
    @media screen and (max-width: 768px) {

    }
{% endif %}

{% endstyle %} 

<section data-section-id="{{ section.id }}">
    <div class="page-width section-padding jr-columns col--{{ section.settings.size }}">
        {% if section.settings.title != blank %}
            <div class="header-area">
                {% if request.locale.iso_code == 'fr' %} 
    
                    <h2>{{ section.settings.title }}</h2>
                    {% if section.settings.section_subtitle %}
                        <h3>{{ section.settings.section_subtitle }}</h3>
                    {% endif %}
    
                    {% else %}
    
                    <h2>{{ section.settings.title_fr }}</h2>
                    {% if section.settings.section_subtitle_fr %}
                        <h3>{{ section.settings.section_subtitle_fr }}</h3>
                    {% endif %}
    
                {% endif %}
            </div>
        {% endif %}
        <div class="block-area">
            {% for block in section.blocks %}
                {% if block.settings.link %}
                    <a href="{{ block.settings.link }}" class="column">
                {% else %}
                    <div class="column">
                {% endif %}
    
                    {% if block.settings.image %}
                        <img src="{{ block.settings.image | image_url: width: 600  }}" alt="Teangle Image">
                    {% endif %}
    
                    {% if block.settings.title != blank %}
                        {% if request.locale.iso_code == 'fr' %} 
                            <h3>{{ block.settings.title_fr }}</h3>
                        {% else %}
                            <h3>{{ block.settings.title }}</h3>
                        {% endif %}
                    {% endif %}
    
                    {% if block.settings.subheader != blank %}
                        {% if request.locale.iso_code == 'fr' %}
                                <h4>{{ block.settings.subheader_fr }}</h4> 
                            {% else %}
                                <h4>{{ block.settings.subheader }}</h4>
                        {% endif %}
                    {% endif %}
    
                    {% if block.settings.text_body != blank %}
                        {% if request.locale.iso_code == 'fr' %}
                            <p>{{ block.settings.text_body_fr }}</p>
                          {% else %}
                            <p>{{ block.settings.text_body }}</p>
                        {% endif %}
                    {% endif %}
    
                {% if block.settings.link %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div> 
</section>


{% schema %}
{
    "name": "JR Columns",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#ffffff"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Section Title (optional)"
        },
        {
            "type": "text",
            "id": "title_fr",
            "label": "Section Title (French, optional)"
        },
        {
            "type": "textarea",
            "id": "section_subtitle",
            "label": "Section Subtitle (optional)"
        },
        {
            "type": "text",
            "id": "section_subtitle_fr",
            "label": "Section Subtitle (French, optional)"
        },
        {
            "type": "checkbox",
            "id": "collapse_mobile",
            "label": "Collapse on mobile",
            "default": false
        },
        {
            "type": "select",
            "id": "size",
            "label": "Sets the size of the fonts in the columns",
            "default": "small",
            "options": [
                {
                    "value": "xs",
                    "label": "Extra Small"
                },
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "medium",
                    "label": "Medium"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type": "value",
            "name": "column", 
            "limit": 3,
            "settings": [
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link (optional)"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image (optional)"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Column Title",
                    "default": "Column title"
                },                {
                    "type": "text",
                    "id": "title_fr",
                    "label": "Column title (French)",
                    "default": "Column Title (FR)"
                },
                {
                    "type": "text",
                    "id": "subheader",
                    "label": "Subheader"
                },
                {
                    "type": "text",
                    "id": "subheader_fr",
                    "label": "Subheader (French)"
                },
                {
                    "type": "textarea",
                    "id": "text_body",
                    "label": "Text Body"
                },
                {
                    "type": "textarea",
                    "id": "text_body_fr",
                    "label": "Text Body (French)"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Jr Columns",
            "category": "Content"
        }
    ]
}
{% endschema %}